<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="notification-setting-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="\assets\icons\components\noun_product.svg" class="noun-product">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Quản lý Cấu hình thông báo</div>
                  <div class="box-header-subtitle">
                    {{listNotifiSetting.length}} đầu mục - Sắp xếp theo ngày gần nhất - Cập nhật
                    {{nowDate | date:'dd/MM/yyyy'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreate()"><span
                class="btn-create-text">Tạo mới</span></button>
            <div style="clear: both;"></div>
          </div>
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" [(ngModel)]="filterGlobal" class="iput-text" placeholder="Tìm kiếm trong danh sách"
                (input)="myTable?.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên thông báo</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="code-text" placeholder="Tên thông báo"
              [(ngModel)]="notifiSettingName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Màn hình</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listScreen" [(ngModel)]="listSelectedScreen" defaultLabel="Màn hình"
              optionLabel="screenName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
              selectedItemsLabel="{0} Màn hình được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5" style="text-align: right">
            <button type="button" class="btn-search" (click)="searchNotifiSetting()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="listNotifiSetting.length > 0" class="col-md-{{leftColNumber}}">
      <p-table #myTable [columns]="selectedColumns" [value]="listNotifiSetting" [resizableColumns]="true"
        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" 
      >
        <ng-template pTemplate="caption">
          <div style="text-align: left;">
            <p-multiSelect [options]="colsList" optionLabel="header" [(ngModel)]="selectedColumns"
              [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
              [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột"></p-multiSelect>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
             [ngStyle]="{'width': col.width, 'text-align': col.textAlign, display: col.display }">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td pEditableColumn *ngFor="let col of columns" [ngSwitch]="col.field"
              [ngStyle]="{'width': col.width, 'text-align': col.textAlign, display: col.display }"
            >
              <span *ngSwitchCase="'notifiSettingName'" pTooltip="{{rowData[col.field]}}"
                (click)="onViewDetail(rowData)" class="link"
                tooltipPosition="bottom">
                {{rowData[col.field].trim().length > 150 ? rowData[col.field].trim().slice(0,150)+'...' : rowData[col.field].trim()}}
              </span>
              <span *ngSwitchCase="'active'">
                <p-checkbox [(ngModel)]="rowData.active" [binary]="true"
                  (onChange)="changeActive(rowData)"></p-checkbox>
              </span>
              <span *ngSwitchCase="'sendInternal'">
                <p-checkbox [(ngModel)]="rowData.sendInternal" [binary]="true"
                  (onChange)="changeSendInternal(rowData)"></p-checkbox>
              </span>
              <span *ngSwitchCase="'isSystem'">
                <p-checkbox [(ngModel)]="rowData.isSystem" [binary]="true"
                  (onChange)="changeIsSystem(rowData)"></p-checkbox>
              </span>
              <span *ngSwitchCase="'isEmail'">
                <p-checkbox [(ngModel)]="rowData.isEmail" [binary]="true"
                  (onChange)="changeIsEmail(rowData)"></p-checkbox>
              </span>
              <span *ngSwitchCase="'isSms'">
                <p-checkbox [(ngModel)]="rowData.isSms" [binary]="true"
                  (onChange)="changeIsSms(rowData)"></p-checkbox>
              </span>
              <span *ngSwitchCase="'objectBackHourInternalName'">
                {{rowData[col.field]}}
              </span>
              <span *ngSwitchCase="'backHourInternal'">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="text" class="number-input" [(ngModel)]="rowData.backHourInternal"
                      (change)="changeBackHourInternal(rowData)"
                      [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{rowData[col.field]}}
                  </ng-template>
                </p-cellEditor>
              </span>
              <span *ngSwitchCase="'actions'">
                <button class="ui-button-danger ml-1" pButton icon="pi pi-trash" (click)="deleteNoti(rowData)"></button>
              </span>
              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="!(listNotifiSetting.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
      <div class="box-no-data">
        <img src="/assets/icons/components/box.svg" class="box-icon">
        <div>
          <span>Hiện tại không có dữ liệu</span>
        </div>
      </div>
    </div>

    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên thông báo</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="code-text" placeholder="Tên thông báo"
              [(ngModel)]="notifiSettingName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Màn hình</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listScreen" [(ngModel)]="listSelectedScreen" defaultLabel="Màn hình"
              optionLabel="screenName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
              selectedItemsLabel="{0} Màn hình được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5" style="text-align: right">
            <button type="button" class="btn-search" (click)="searchNotifiSetting()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>