.btn{
  padding: 13px 12px !important;
}

p{
  font-family: serif;
  font-size: 14px;
}

.label_ {
  margin: 35px 0;
}

.input_info input {
  margin: 11px 0;
  padding: 6px;
}

.avatar {
  text-align: left;
  padding: 15px 0px 20px;
}

.image_avatar {
  height: 120px;
  border: 5px solid #9e9e9e;
  border-radius: 50%;
}

.edit_avatar {
  font-family: serif;
  cursor: pointer;
  padding-left: 15px;
  font-size: 14px;
}

.save_button{
  background: #6d98e7;
  font-family: serif;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
}

.cancel_button {
  border: 1px solid #cccccc;
  border-radius: 4px
}

::ng-deep .mat-dialog-container{
  padding: 0 !important;
}
  
.main {
  margin: 0px auto;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
  
.main h2{
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  height: 60px;
  font-size: 16px;
  font-family: serif;
  background: #1f2e4b;
  color: #FFFFFF;
}
  
.main .form-group {
  margin-bottom: 0 !important;
}
  
.error-border, .error-border:focus {
  border-color: #f44336;
}
  
.error-border:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px #f44336;
}
  
.no-margin{
  margin: 0;
}
  
.no-padding{
  padding: 0;
}

mat-error {
  position: relative;
  font-family: serif;
  font-size: 14px;
  top: 20px
}
