/*Begin: Customize Accordion */
.background-white {
  background: #ffffff;
}
::ng-deep .note-timeline .ui-accordion .ui-accordion-header a {
  border          : 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size       : 16px;
}

::ng-deep .note-timeline .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border          : 1px solid #ffffff !important;
  color           : #121619 !important;
}

::ng-deep .note-timeline.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .note-timeline .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .note-timeline .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .note-timeline .ui-accordion .ui-accordion-content {
  border          : 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.note-timeline .note-user {
  font-family: 'Inter UI';
  font-weight: bold;
}

.note-timeline .timeline>li>.timeline-item {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.note-timeline .timeline-content {
  margin-top: 20px;
}

.note-timeline .bg-blueX {
  background-color: #4E6BA5 !important;
}

.note-timeline .color-w {
  color: #fff !important;
}

.note-timeline .timeline-item .onHover {
  display: none;
}

.note-timeline .timeline-item:hover .onHover {
  display: block;
}

.note-timeline .timeline-item .onHover i {
  font-size: 1.5rem;
  cursor: pointer;
}

.note-timeline .timeline-item .onHover i.style-delete {
  color: #fe747a;
}

.note-timeline .material-icons {
  cursor: pointer;
}

.note-timeline .timeline-user-avatar {
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

.note-timeline .note-title {
  font-size: 11px !important;
  color: #222 !important;
  font-weight: normal !important;
}

.note-timeline .time-note {
  font-size: 10px !important;
  color: #5d5a5a !important;
  font-weight: normal !important;
}

.note-timeline .timeline-body {
  padding: 10px 15px;
}

.note-timeline .p-chip {
  display: inline-flex;
  align-items: center;
  background-color: #dee2e6;
  color: #495057;
  border-radius: 16px;
  padding: 0 0.5rem;
  margin: 0.5rem 1rem 0.5rem 0;
  cursor: pointer;
}

.note-timeline .p-chip .p-chip-icon {
  margin-right: 0.5rem;
  line-height: 1.5;
}

.note-timeline .p-chip .p-chip-text {
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.note-timeline .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

.note-timeline .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.note-timeline .btn-cancel-note {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.note-timeline .save-cancel-lable {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.note-timeline .note-content .short-contents {
  overflow: hidden;
  text-overflow: ellipsis;
  /* line-height: 25px; */
  -webkit-line-clamp: 2;
  /* height: 75px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.note-timeline .note-content .full-contents {
  display: none;
  word-wrap: break-word;
}

::ng-deep .note-timeline .ui-paginator{
  background: #ffffff;
  border: 0;
}