<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>


<div class="tao-ho-so-cong-tac">
  <div class="row no-margin" id="parent">
    <div class="col-md-12 header" style="padding: 6px;">
      <div class="row">
        <div class="col-md-6 no-padding">
          <div class="row no-margin">
            <div class="col-md-1 col-sm-1 col-xs-3">
              <div class="header-box-icon">
                <img src="/assets/icons/components/create_lead.svg" class="header-icon">
              </div>
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9">
              <div>
                <span class="customer-name">Tạo mới hồ sơ công tác</span>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div style="float: right;">

                <span *ngIf="!isInvalidForm" style="margin-right: 30px;">
                  <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                </span>
                <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                  <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                </div>
                <div class="notification" #notifi *ngIf="isOpenNotifiError">
                  <div
                    *ngIf="(theoQuyetDinhCTControl.invalid && (theoQuyetDinhCTControl.dirty || theoQuyetDinhCTControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng chọn đề xuất công tác</span>
                  </div>

                  <div *ngIf="(donViDenCTControl.invalid && (donViDenCTControl.dirty || donViDenCTControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng nhập đơn vị đến công tác</span>
                  </div>

                  <div *ngIf="(ngayBatDauControl.invalid && (ngayBatDauControl.dirty || ngayBatDauControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng nhập ngày bắt đầu</span>
                  </div>

                  <div *ngIf="(ngayKetThucControl.invalid && (ngayKetThucControl.dirty || ngayKetThucControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng nhập ngày kết thúc</span>
                  </div>
                </div>
                <button class="btn-remove" type="button" (click)="cancel()">
                  <span class="btn-remove-text">Thoát</span>
                </button>

                <button #save class="btn-save" *ngIf="actionAdd" type="button" [disabled]="awaitResult"
                  (click)="taoMoiHoSoCongTac()">
                  <span class="btn-save-text">Lưu</span>
                </button>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <form [formGroup]="thongTinChungForm">
        <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
          <div class="col-md-12 mt-10">

            <div class="col-md-6">
              <div class="row buffer-bottom">
                <div class="col-md-12 buffer-bottom-label">
                  <span>Mã hồ sơ</span><span class="required">*</span>
                </div>
                <div class="col-md-12" style="font-style: italic;">
                  Hệ thống tự động sinh mã
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-10">
              <div class="row buffer-bottom">
                <div class="col-md-12 buffer-bottom-label">
                  <span>Theo quyết định công tác</span><span class="required">*</span>
                </div>
                <div class="col-md-12">
                  <p-dropdown [options]="listQuyetDinhCT" formControlName="theoQuyetDinhCTControl"
                    (onChange)="thayDoiDeXuatCongTac($event.value)" placeholder="Chọn đề xuất công tác"
                    optionLabel="tenDeXuat"
                    [ngClass]="(theoQuyetDinhCTControl.invalid && (theoQuyetDinhCTControl.dirty || theoQuyetDinhCTControl.touched)) ? 'error-border' : ''"
                    [style]="{'width': '100%'}">
                  </p-dropdown>
                </div>
                <div class="col-md-12" [hidden]="theoQuyetDinhCTControl.valid || theoQuyetDinhCTControl.untouched">
                  <span
                    *ngIf="theoQuyetDinhCTControl.hasError('required') || theoQuyetDinhCTControl.hasError('blankString') "
                    class="error-message-span">
                    Không được để trống
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Danh sách nhân sự đi công tác" [selected]="true">

          <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px" id="parent">
            <div class="col-md-12">
              <p-table #myTable [columns]="colsList" [value]="listNhanVienCT" [responsive]="true"
                [resizableColumns]="true" selectionMode="single" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,30,100]" class="table-border">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" class="search" pInputText size="50" placeholder="Nhập từ khóa tìm kiếm"
                      (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width:50px">STT</th>
                    <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': 'center'}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                  <tr [pSelectableRow]="rowData">
                    <td style="text-align: center;">
                      {{i + 1}}
                    </td>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                      [ngStyle]="{'text-align': col.textAlign}">
                      <span class="ui-column-title">{{col.header}}</span>

                      <span *ngSwitchCase="'employeeName'" (click)="onViewDetail(rowData)" class="link"
                        style="display: inline-block; padding: 3px 3px;">{{rowData[col.field]}}</span>

                      <span *ngSwitchCase="'dateOfBirth'">
                        {{rowData[col.field]| date:'dd/MM/yyyy'}}
                      </span>
                      <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>


            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <form [formGroup]="taoHoSoCongTacForm">
        <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
          <p-accordionTab header="Thông tin công tác" [selected]="true">
            <!--HÀNG I-->
            <div class="row buffer-bottom no-margin mt-10">
              <div class="col-md-6">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Đơn vị nơi đến công tác</span><span class="required">*</span>
                  </div>
                  <div class="col-md-12">
                    <input formControlName="donViDenCTControl" type="text"
                      [ngClass]="(donViDenCTControl.invalid && (donViDenCTControl.dirty || donViDenCTControl.touched)) ? 'error-border' : ''"
                      class="w100" pInputText />
                  </div>
                  <div class="col-md-12" [hidden]="donViDenCTControl.valid || donViDenCTControl.untouched">
                    <span *ngIf="donViDenCTControl.hasError('required') || donViDenCTControl.hasError('blankString') "
                      class="error-message-span">
                      Không được để trống
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding">
                <div class="col-md-6">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Thời gian đi công tác</span>
                    </div>
                    <div class="col-md-12">
                      <p-calendar formControlName="ngayBatDauControl"
                        [styleClass]="(ngayBatDauControl.invalid  && (ngayBatDauControl.dirty ||  ngayBatDauControl.touched)) ? 'error-pcalendar': ''"
                        showButtonBar="true" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                        dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                        [baseZIndex]="9999" (keydown.enter)="$event.preventDefault()">
                      </p-calendar>
                    </div>
                    <div class="col-md-12">
                      <span
                        [hidden]="taoHoSoCongTacForm.get('ngayBatDauControl').valid || taoHoSoCongTacForm.get('ngayBatDauControl').untouched"
                        *ngIf="taoHoSoCongTacForm.get('ngayBatDauControl').hasError('required')"
                        class="error-message-span">
                        Không được để trống
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      &nbsp;
                    </div>
                    <div class="col-md-12">
                      <p-calendar formControlName="ngayKetThucControl"
                        [styleClass]="(ngayKetThucControl.invalid  && (ngayKetThucControl.dirty ||  ngayKetThucControl.touched)) ? 'error-pcalendar': ''"
                        showButtonBar="true" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                        dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                        [baseZIndex]="9999" (keydown.enter)="$event.preventDefault()">
                      </p-calendar>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--HÀNG II-->
            <div class="row buffer-bottom no-margin mt-10">
              <div class="col-md-6">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Địa đểm đến công tác</span><span class="required">*</span>
                  </div>
                  <div class="col-md-12">
                    <input formControlName="diaDiemCTControl" type="text"
                      [ngClass]="(diaDiemCTControl.invalid && (diaDiemCTControl.dirty || diaDiemCTControl.touched)) ? 'error-border' : ''"
                      class="w100" pInputText />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Phương tiện đi công tác</span>
                  </div>
                  <div class="col-md-12">
                    <input formControlName="phuongTienControl" type="text"
                      [ngClass]="(phuongTienControl.invalid && (phuongTienControl.dirty || phuongTienControl.touched)) ? 'error-border' : ''"
                      class="w100" pInputText />
                  </div>
                </div>
              </div>
            </div>

            <!--HÀNG III-->
            <div class="row buffer-bottom no-margin mt-10">
              <div class="col-md-12">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Nhiệm vụ đi công tác</span>
                  </div>
                  <div class="col-md-12">
                    <textarea formControlName="nhiemVuControl" type="text" rows="5" class="w100" pInputText></textarea>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </form>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Tài liệu liên quan" [selected]="true">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 mt-5">
                <p-fileUpload #fileUpload name="demo[]" customUpload="true" multiple="multiple"
                  [showUploadButton]="false"
                  accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                  [maxFileSize]="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                  invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                  invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                  invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                  chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" (onSelect)="handleFile($event, fileUpload)"
                  (onRemove)="removeFile($event)" (onClear)="clearAllFile()">
                </p-fileUpload>
              </div>

              <div class="col-md-12 mt-5">
                <p-table #dt [columns]="colsFile" [value]="arrayDocumentModel" [responsive]="true"
                  [resizableColumns]="true" [paginator]="true" [rows]="10">
                  <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <input type="text" pInputText size="50" placeholder="Tên tài liệu"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                        {{col.header}}
                      </th>
                      <th style="width:4em"></th>
                      <th style="width:4em"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                        [ngStyle]="{'text-align': col.textAlign}">
                        <span class="ui-column-title">{{col.header}}</span>


                        <span *ngSwitchCase="'fileName'">
                          {{rowData[col.field].substring(0,rowData[col.field].lastIndexOf('_'))}}.{{rowData[col.field].fileExtension}}
                        </span>
                        <span *ngSwitchCase="'createdDate'">
                          {{rowData[col.field] | date:'dd/MM/yyyy h:mm a'}}
                        </span>
                        <span *ngSwitchCase="'size'">
                          <ng-container *ngIf="convertFileSize(rowData[col.field])">
                            {{rowData[col.field] / 1024 | number}} KB
                          </ng-container>
                          <ng-container *ngIf="!convertFileSize(rowData[col.field])">
                            {{rowData[col.field] / 1048576 | number}} MB
                          </ng-container>
                        </span>
                        <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                      </td>
                      <td>
                        <button *ngIf="actionDelete && isAllowDeleteFile" pButton icon="pi pi-trash"
                          (click)="deleteFile(rowData)" class="ui-button-danger"></button>
                      </td>
                      <td>
                        <button pButton icon="pi pi-download" (click)="downloadFile(rowData)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

</div>