/*Set font*/
span, div, a, .mat-cell, .mat-header-cell, input, button, .mat-paginator {
  font-family: 'Open Sans', sans-serif;
}

.employeesalary-list {
  margin: 0;
  padding: 0;
}

.btn-create-emp {
  background-color: #6D98E7 !important;
  color: #fff !important;
  width: 120px;
  height: 40px;
}

.left-column {
  border: solid 1px #d9d9d9;
  padding: 15px 20px;
  height: 480px;
}

.left-header {
  padding-left: 15px;
}

  .left-header h3 {
    margin-bottom: 0;
  }

.main-button-row {
  text-align: right;
}

.form-control {
  border-radius: 0.25rem;
}

.mat-header-row {
  background-color: rgb(228, 228, 228);
}

/*.cdk-column-employeename {
  position: sticky;
  left: 0;
}*/

#employee-table {
  height: auto;
}

  #employee-table .mat-header-cell:first-child, #employee-table .mat-cell:first-child {
    max-width: 40px;
  }


/*
.mat-header-cell {
  font-size: 15px;
  color: black;
  overflow: visible;
}

.mat-cell {
  font-size: 12px;
  overflow: visible;
  max-width:200px !important;
}

mat-cell.mat-cell, mat-header-cell.mat-header-cell {
  overflow: visible;
}*/

.mat-elevation-z8 {
  box-shadow: none;
  border: solid 1px #d9d9d9;
}

.status {
  width: 23px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.red {
  background-color: #F94E4E;
}

.green {
  background-color: #88D859;
}

.blue {
  background-color: #6D98E7;
}

.yellow {
  background-color: #FFEF8F;
}

.orange {
  background-color: #FFC050;
}

.img-icon {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.action-button {
  cursor: pointer;
  font-size: 16px;
}

.switch-view {
  font-size: 40px;
  position: relative;
  right: 5px;
  top: -5px;
  cursor: pointer;
  color: rgb(100, 100, 100);
}

::ng-deep #employee-table .mat-checkbox-inner-container-no-side-margin {
  width: 12px !important;
  height: 12px !important;
}
/*
::ng-deep #employee-table .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep #employee-table .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(109, 152, 231) !important;
}

::ng-deep #employee-table .mat-ripple-element {
  background: rgba(109, 152, 231, .4) !important;
}*/

.mat-dialog-container {
  padding: 0 !important;
  overflow-x: hidden !important;
}

.employee-row {
  margin-bottom: 10px;
}

.control-label {
  margin-bottom: 5px;
}

label {
  margin-bottom: 0 !important;
}

.form-control, select.form-control {
  height: 30px !important;
}

/*.mat-column-phonenumber {
  max-width: 90px;
}*/

.table-buttons {
  float: right;
  position: relative;
  top: 20px;
}

table.table-buttons {
  margin-bottom: 10px;
}

tr td {
  padding-left: 15px;
}

table.table-buttons a {
  cursor: pointer;
}

a.link-name {
  position: relative;
  top: 6px;
  cursor: pointer;
}

.refresh-icon {
  font-size: 16px;
  bottom: 5px;
  float: right;
  cursor: pointer;
}

.cdk-column-code {
  position: sticky;
  left: 0px;
  z-index: 999;
  background: #fff;
  padding-left: 15px;
}

.mat-row:hover {
  background-color: #f7f7f8;
}

.selected-row, .selected-row:hover {
  background-color: #C9E2FE;
  color: #fff;
}

.btn-search {
  float: right;
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

  .btn-search:hover {
    background-color: #6D98E7;
    color: #fff;
  }

.mat-paginator, .mat-paginator-container {
  border: solid 0.5px #d9d9d9;
  border-top: 0 !important;
}

i.fa-sort {
  color: rgb(97, 97, 97);
  padding-left: 15px;
  cursor: pointer;
  font-size: 13px;
}

.filterUnit {
  color: #6D98E7;
  cursor: pointer;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 1);
}

/*For table's disabled mat-select.*/
:host ::ng-deep .mat-select-disabled .mat-select-value-text {
  color: rgba(0, 0, 0, 1) !important;
}

:host ::ng-deep .mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
}

.bg-white {
  background: #fff;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.w100 {
  width: 100% !important;
}

.employeesalary-list .head {
  float: left;
  padding: 10px 0;
  margin-bottom: 1rem;
}

.employeesalary-list .panel {
  border-radius: 0 !important;
}

.employeesalary-list .panel-default {
  border-color: transparent;
}

.employeesalary-list .form-group {
  margin-bottom: 0;
}

.ui-datepicker-calendar {
  display: none;
}

.btn-bordered {
  margin-left: 10px;
}

.mat-raised-button {
	font-family: 'Open Sans', sans-serif;
}
.mat-table {
	font-family: 'Open Sans', sans-serif;
}
.mat-paginator {
	font-family: 'Open Sans', sans-serif;
}
.mat-select {
    font-family: 'Open Sans', sans-serif;
}
.mat-option {
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1024px){
  .employeesalary-list .table-buttons{
    top: 0;
  }
  }
