<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>

<div class="thu-hoi-tai-san">
  <div class="row no-margin">
    <div class="row thu-hoi-tai-san-content" id="parent">
      <div class="row no-margin button-group" style="display: flex; align-items: center;">
        <div class="col-md-6 no-padding">
          <div class="row no-margin">
            <div class="header-box-icon">
              <img src="/assets/icons/components/create_lead.svg" class="header-icon">
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9 no-padding" style="display: flex; align-items: center;">
              <div>
                <span class="asset-header">Thu hồi tài sản</span>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <!-- <span *ngIf="!isInvalidForm">
                  <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                </span>
                <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                  <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                </div>
                <div class="notification" #notifi *ngIf="isOpenNotifiError">
                  <div *ngIf="(orderControl.invalid && (orderControl.dirty || orderControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.order' | translate }}</span>
                  </div>
                  <div
                    *ngIf="(invoiceSymbolControl.invalid && (invoiceSymbolControl.dirty || invoiceSymbolControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.invoiceSymbol' | translate }}</span>
                  </div>
                  <div *ngIf="(customerControl.invalid && (customerControl.dirty || customerControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.customer' | translate }}</span>
                  </div>
                  <div *ngIf="(employeeControl.invalid && (employeeControl.dirty || employeeControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.employee' | translate }}</span>
                  </div>
                  <div *ngIf="(billDateControl.invalid && (billDateControl.dirty || billDateControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span
                      *ngIf="descriptionControl.hasError('required') || descriptionControl?.errors?.forbiddenSpaceText"
                      class="notifi-text">{{ 'bill.messages_error.billDate' | translate }}</span>
                  </div>
                  <div
                    *ngIf="(customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.customer_name' | translate }}</span>
                  </div>
                  <div
                    *ngIf="(paymentMethodControl.invalid && (paymentMethodControl.dirty || paymentMethodControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.paymentMethod' | translate }}</span>
                  </div>
                  <div
                    *ngIf="(customerAddressControl.invalid && (customerAddressControl.dirty || customerAddressControl.touched))"
                    class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">{{ 'bill.messages_error.customer_address' | translate }}</span>
                  </div>
                </div> -->
            </div>
            <div class="col-md-10">
              <div style="float: right;">
                <button class="cancel" type="button" (click)="cancel()">
                  <span class="text-cancel">Thoát</span>
                </button>

                <button class="btn-long" type="button" (click)="importAsset()" style="margin-left: 5px;">
                  <span class="text-cancel">Import file</span>
                </button>

                <button #save class="save" *ngIf="actionAdd" type="button" [disabled]="awaitResult"
                  (click)="thuHoiTaiSan()">
                  <span class="text-save">Lưu</span>
                </button>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>

      <div class="row no-padding body-wrapper" id="parent">
        <div class="col-md-12">
          <form [formGroup]="thuHoiTaiSanForm">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="Tạo thu hồi" [selected]="true">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
                      <!-- Cột 1 -->
                      <div class="col-md-3 mb-5">
                        <!-- Tên tài sản thu hồi -->
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Mã tài sản thu hồi</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <p-dropdown [options]="listTaiSan" formControlName="taiSanThuHoiControl"
                              [styleClass]="(taiSanThuHoiControl.invalid  && (taiSanThuHoiControl.dirty ||  taiSanThuHoiControl.touched)) ? 'error-border': ''"
                              [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                              (onChange)="thayDoiTaiSan($event.value)" placeholder="Chọn mã tài sản"
                              optionLabel="maTaiSan" [style]="{'width': '100%'}">
                            </p-dropdown>
                          </div>
                          <div class="col-md-12" [hidden]="taiSanThuHoiControl.valid || taiSanThuHoiControl.untouched">
                            <span
                              *ngIf="taiSanThuHoiControl.hasError('required') || taiSanThuHoiControl.hasError('blankString') "
                              class="error-message-span">
                              Không được để trống
                            </span>
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Ngày thu hồi</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <p-calendar #start formControlName="ngayThuHoiControl" dateFormat="dd/mm/yy"
                              showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                              [style]="{'width':'100%'}" [monthNavigator]="true"
                              [styleClass]="(ngayThuHoiControl.invalid && (ngayThuHoiControl.dirty || ngayThuHoiControl.touched)) ? 'error-border' : ''"
                              (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                              [baseZIndex]="999" appendTo="body">
                            </p-calendar>
                          </div>
                          <div class="col-md-12" [hidden]="ngayThuHoiControl.valid || ngayThuHoiControl.untouched">
                            <span
                              *ngIf="ngayThuHoiControl.hasError('required') || ngayThuHoiControl.hasError('blankString') "
                              class="error-message-span">
                              Không được để trống
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Cột 2 -->
                      <div class="col-md-3 mb-5">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Số serial</span>
                          </div>
                          <div class="col-md-12">
                            <input id="input" type="text" size="30" value="{{taiSanModel.soSerial}}" pInputText
                              [ngStyle]="{'width': '100%'}" disabled="true">
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Mã nhân viên sử dụng</span>
                          </div>
                          <div class="col-md-12">
                            <input id="input" type="text" size="30" value="{{employeeModel.employeeName}}" pInputText
                              [ngStyle]="{'width': '100%'}" disabled="true">
                          </div>
                        </div>
                      </div>

                      <!-- Cột 3 -->
                      <div class="col-md-3 mb-5">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Vị trí</span>
                          </div>
                          <div class="col-md-12">
                            <input id="input" type="text" size="30" value="{{taiSanModel.viTriTs}}" pInputText
                              [ngStyle]="{'width': '100%'}" disabled="true">
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Phòng ban</span>
                          </div>
                          <div class="col-md-12">
                            <input id="input" type="text" size="30" value="{{employeeModel.organizationName}}"
                              pInputText [ngStyle]="{'width': '100%'}" disabled="true">
                          </div>
                        </div>
                      </div>

                      <!-- Cột 4 -->
                      <div class="col-md-3 mb-5">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Lý do thu hồi</span>
                          </div>
                          <div class="col-md-12">
                            <textarea formControlName="lyDoThuHoiControl" type="text" rows="4" class="w100"
                              pInputText></textarea>
                          </div>
                        </div>
                        <div class="row buffer-bottom" style="justify-content: end;">
                          <div class="col-md-12">
                            <button #save class="save" style="float: right;" *ngIf="!isUpdate" type="button"
                              (click)="createThuHoiTemp()" [disabled]="awaitResult">
                              <span class="text-save">Thêm</span>
                            </button>

                            <button #save class="save" style="float: right;" *ngIf="isUpdate" type="button"
                              (click)="updateThuHoiTSTemp()" [disabled]="awaitResult">
                              <span class="text-save">Cập nhật</span>
                            </button>

                            <button type="button" class="btn-refresh" style="float: right;" (click)="refreshForm()">
                              <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </form>

          <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px" id="parent">
            <div class="col-md-12" style="margin-top: 20px;">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <div class="row">
                    <div class="col-md-6" style="text-align: left;">
                      <span style="font-size:16px;font-weight:bold">Danh sách tài sản thu hồi</span>
                    </div>
                    <div class="col-md-6" style="display: flex; align-items: center; justify-content: end;">
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" class="search" pInputText size="50" placeholder="Nhập từ khóa tìm kiếm"
                        (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <p-table #myTable [columns]="selectedColumns" [value]="listTaiSanThuHoiTemp" [responsive]="true"
                    [resizableColumns]="true" selectionMode="single" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,30,100]" class="table-border">

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width:50px">STT</th>
                        <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                          {{col.header}}
                        </th>
                        <th style="width:100px"></th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                      <tr [pSelectableRow]="rowData">
                        <td style="text-align: center;">
                          {{i + 1}}
                        </td>
                        <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                          [ngStyle]="{'text-align': col.textAlign}">
                          <span class="ui-column-title">{{col.header}}</span>
                          <span *ngSwitchCase="'ngayBatDauString'">{{rowData[col.field]}}</span>
                          <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                        </td>
                        <td style="width:100px">
                          <button pButton icon="fa fa-pencil" class="ui-button-primary"
                            (click)="reShowAsset(rowData)"></button>
                          &nbsp;
                          <button pButton icon="pi pi-trash" class="ui-button-danger"
                            (click)="delAssetTemp(rowData)"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Import file excel" [(visible)]="displayChooseFileImportDialog" [modal]="true" [responsive]="true"
  class='showImportForm' [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000"
  [closable]="true" (onHide)="closeChooseFileImportDialog()">
  <div class="col-md-4 mt-25">
    <span>File mẫu</span>
  </div>
  <div class="col-md-8 mt-25">
    <button class="choose-file" type="button" (click)="downloadTemplateExcel()">
      <span class="text-choose-file">Tải file mẫu</span>
    </button>
  </div>
  <div class="col-md-4 mt-25">
    <span>Chọn file</span>
  </div>
  <div class="col-md-8 mt-25" style="margin-bottom: 25px;">
    <button class="btn btn-primary btn-file import-file">
      <span class="text-import">Chọn file</span>
      <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
        accept=".xlsx, .xls">
    </button>
    <div>{{fileName}}</div>
  </div>
  <p-footer>
    <button class="btn-create" type="button" #save (click)="importExcel()">
      <span class="btn-create-text">Nhập</span>
    </button>
  </p-footer>
</p-dialog>