<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="organization-content">
  <div class="row no-margin">
    <div class="col-md-12 no-padding">
      <div class="row no-margin">
        <div class="col-md-12 header" style="padding: 6px;">
          <div class="row">
            <div class="col-md-6 no-padding">
              <div class="row no-margin">
                <div class="col-md-1 col-sm-1 col-xs-3">
                  <div class="header-box-icon">
                    <img src="/assets/icons/components/create_lead.svg" class="header-icon">
                  </div>
                </div>
                <div class="col-md-11 col-sm-10 col-xs-9">
                  <div>
                    <span class="title-page">{{ 'organization.title' | translate }}</span>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-top: 5px; text-align: right;">
                  <button class="save" type="button" (click)="openPoupCreateOrg()">
                    <span class="text-save">Thêm mới</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-12 block" style="overflow-x: auto; padding: 10px 0px;">
          <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode"
            (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)"></p-organizationChart>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-12 block">
          <div class="row">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="Thông tin đơn vị" [selected]="true">
                <div class="row">
                  <div class="col-md-12" style="text-align: right;">
                    <i *ngIf="!isEnableForm" class="pi pi-pencil icon-pencil" (click)="updateOrg()"></i>
                    <i *ngIf="isEnableForm" class="pi pi-save icon-save" (click)="saveOrg()"></i>
                    <i *ngIf="isEnableForm" class="pi pi-times icon-times" (click)="cancelUpdateOrg()"></i>
                    <i *ngIf="!isEnableForm" class="pi pi-trash icon-times" (click)="deleteOrganizationById()"></i>
                  </div>
                </div>
                <form [formGroup]="organizationForm">
                  <div class="row">
                    <div class="col-md-12 mt-10">
                      <div class="row">
                        <div class="col-md-12">
                          <span>Trực thuộc: <strong>{{ organizationParentName }}</strong></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6 mt-10">
                          <div class="row">
                            <div class="col-md-12">
                              <span>Tên đơn vị: </span>
                            </div>
                            <div class="col-md-12">
                              <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                                [ngClass]="(organizationNameControl.invalid && (organizationNameControl.dirty || organizationNameControl.touched)) ? 'error-border' : ''"
                                formControlName="organizationNameControl" pInputText />
                            </div>
                            <div class="col-md-12"
                              [hidden]="organizationNameControl.valid || organizationNameControl.untouched">
                              <span
                                *ngIf="organizationNameControl.hasError('required') || organizationNameControl?.errors?.forbiddenSpaceText"
                                class="error-message-span">Không được để trống</span>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 mt-10">
                          <div class="row">
                            <div class="col-md-12">
                              <span>Mã đơn vị: </span>
                            </div>
                            <div class="col-md-12">
                              <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                                [ngClass]="(organizationCodeControl.invalid && (organizationCodeControl.dirty || organizationCodeControl.touched)) ? 'error-border' : ''"
                                (change)="changeCode(1)" formControlName="organizationCodeControl" pInputText />
                            </div>
                            <div class="col-md-12"
                              [hidden]="organizationCodeControl.valid || organizationCodeControl.untouched">
                              <span
                                *ngIf="organizationCodeControl.hasError('required') || organizationCodeControl?.errors?.forbiddenSpaceText"
                                class="error-message-span">Không được để trống</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6 mt-10">
                          <div class="row">
                            <div class="col-md-12">
                              <span>Số điện thoại: </span>
                            </div>
                            <div class="col-md-12">
                              <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                                formControlName="organizationPhoneControl" pInputText />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 mt-10">
                          <div class="row">
                            <div class="col-md-12">
                              <span>Địa chỉ: </span>
                            </div>
                            <div class="col-md-12">
                              <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                                formControlName="organizationAddressControl" pInputText />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row">
                        <!-- <div class="col-md-6">
                          <p-checkbox formControlName="financialIndependenceControl" [binary]="true"
                            label="Đơn vị độc lập tài chính"></p-checkbox>
                        </div> -->

                        <div class="col-md-6">
                          <p-checkbox formControlName="isAccessControl" [binary]="true"
                            label="Xem dữ liệu phòng ban khác"></p-checkbox>
                        </div>

                        <div class="col-md-6">
                          <p-checkbox formControlName="hanhChinhNhanSuControl" [binary]="true"
                            label="Phòng hành chính nhân sự"></p-checkbox>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-md-12 mt-20">
                      <span *ngIf="isEnableForm" class="hyperlink" (click)="openPopupEdit()">Chọn nhân viên >></span>
                    </div> -->

                    <!-- <div class="col-md-12 mb-20">
                      <p-table [columns]="cols" [value]="listEmployeeEdit" [paginator]="true" [rows]="5"
                        class="table-border">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th style="width: 40%; text-align: center;">Tên nhân viên</th>
                            <th style="width: 15%; text-align: center;">Trưởng bộ phận</th>
                            <th style="width: 15%; text-align: center;">Người theo dõi</th>
                            <th style="width: 15%; text-align: center;">Nhân viên</th>
                            <th style="width: 15%; text-align: center;">Thao tác</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field"
                              [ngStyle]="{'text-align': col.textAlign}">
                              <span *ngSwitchCase="'employeeCodeName'">
                                {{rowData[col.field]}}
                              </span>
                              <span *ngSwitchCase="'truongBoPhan'">
                                <p-radioButton [attr.name]="'groupname' + ri" value="1" [(ngModel)]="rowData.isManager"
                                  [ngModelOptions]="{standalone: true}">
                                </p-radioButton>
                              </span>
                              <span *ngSwitchCase="'nguoiTheoDoi'">
                                <p-radioButton [attr.name]="'groupname' + ri" value="2" [(ngModel)]="rowData.isManager"
                                  [ngModelOptions]="{standalone: true}">
                                </p-radioButton>
                              </span>
                              <span *ngSwitchCase="'nhanVien'">
                                <p-radioButton [attr.name]="'groupname' + ri" value="0" [(ngModel)]="rowData.isManager"
                                  [ngModelOptions]="{standalone: true}">
                                </p-radioButton>
                              </span>
                              <span *ngSwitchCase="'actions'">
                                <button *ngIf="isEnableForm" class="ui-button-danger" pButton icon="pi pi-trash"
                                  (click)="xoaNhanVienEdit(rowData)"></button>
                              </span>
                              <span *ngSwitchDefault>
                                {{rowData[col.field]}}
                              </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div> -->
                  </div>
                </form>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Thêm mới Phòng ban" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <form [formGroup]="orgCreateForm">
      <div class="row no-margin">
        <div class="col-md-12 mt-10">
          <div class="row">
            <div class="col-md-12">
              <span>Trực thuộc: <strong>{{ selectedNode?.label }}</strong></span>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 mt-10">
              <div class="row">
                <div class="col-md-12">
                  <span>Tên đơn vị: </span>
                </div>
                <div class="col-md-12">
                  <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                    [ngClass]="(orgNameControl.invalid && (orgNameControl.dirty || orgNameControl.touched)) ? 'error-border' : ''"
                    formControlName="orgNameControl" pInputText />
                </div>
                <div class="col-md-12" [hidden]="orgNameControl.valid || orgNameControl.untouched">
                  <span *ngIf="orgNameControl.hasError('required') || orgNameControl?.errors?.forbiddenSpaceText"
                    class="error-message-span">Không được để trống</span>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-10">
              <div class="row">
                <div class="col-md-12">
                  <span>Mã đơn vị: </span>
                </div>
                <div class="col-md-12">
                  <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                    [ngClass]="(orgCodeControl.invalid && (orgCodeControl.dirty || orgCodeControl.touched)) ? 'error-border' : ''"
                    (change)="changeCode(2)" formControlName="orgCodeControl" pInputText />
                </div>
                <div class="col-md-12" [hidden]="orgCodeControl.valid || orgCodeControl.untouched">
                  <span *ngIf="orgCodeControl.hasError('required') || orgCodeControl?.errors?.forbiddenSpaceText"
                    class="error-message-span">Không được để trống</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 mt-10">
              <div class="row">
                <div class="col-md-12">
                  <span>Số điện thoại: </span>
                </div>
                <div class="col-md-12">
                  <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                    formControlName="orgPhoneControl" pInputText />
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-10">
              <div class="row">
                <div class="col-md-12">
                  <span>Địa chỉ: </span>
                </div>
                <div class="col-md-12">
                  <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()"
                    formControlName="orgAddressControl" pInputText />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-10">
          <div class="row">
            <!-- <div class="col-md-6">
              <p-checkbox formControlName="orgFinancialIndependenceControl" [binary]="true"
                label="Đơn vị độc lập tài chính"></p-checkbox>
            </div> -->

            <div class="col-md-6">
              <p-checkbox formControlName="orgIsAccessControl" [binary]="true" label="Xem dữ liệu phòng ban khác">
              </p-checkbox>
            </div>

            <div class="col-md-6">
              <p-checkbox formControlName="orgHanhChinhNhanSuControl" [binary]="true" label="Phòng hành chính nhân sự">
              </p-checkbox>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-12 mt-20">
          <span class="hyperlink" (click)="openPopup()">Chọn nhân viên >></span>
        </div> -->

        <!-- <div class="col-md-12 mb-20">
          <p-table [columns]="cols" [value]="listEmployeeCreate" [paginator]="true" [rows]="5" class="table-border">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 40%; text-align: center;">Tên nhân viên</th>
                <th style="width: 15%; text-align: center;">Trưởng bộ phận</th>
                <th style="width: 15%; text-align: center;">Người theo dõi</th>
                <th style="width: 15%; text-align: center;">Nhân viên</th>
                <th style="width: 15%; text-align: center;">Thao tác</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'text-align': col.textAlign}">
                  <span *ngSwitchCase="'employeeCodeName'">
                    {{rowData[col.field]}}
                  </span>
                  <span *ngSwitchCase="'truongBoPhan'">
                    <p-radioButton [attr.name]="'groupname' + ri" value="1" [(ngModel)]="rowData.isManager"
                      [ngModelOptions]="{standalone: true}">
                    </p-radioButton>
                  </span>
                  <span *ngSwitchCase="'nguoiTheoDoi'">
                    <p-radioButton [attr.name]="'groupname' + ri" value="2" [(ngModel)]="rowData.isManager"
                      [ngModelOptions]="{standalone: true}">
                    </p-radioButton>
                  </span>
                  <span *ngSwitchCase="'nhanVien'">
                    <p-radioButton [attr.name]="'groupname' + ri" value="0" [(ngModel)]="rowData.isManager"
                      [ngModelOptions]="{standalone: true}">
                    </p-radioButton>
                  </span>
                  <span *ngSwitchCase="'actions'">
                    <button class="ui-button-danger" pButton icon="pi pi-trash"
                      (click)="xoaNhanVienNew(rowData)"></button>
                  </span>
                  <span *ngSwitchDefault>
                    {{rowData[col.field]}}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div> -->
      </div>
    </form>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" (click)="closePopup()" label="Đóng"
        class="ui-button-secondary"></button>
      <button type="button" [disabled]="awaitResponse" pButton icon="pi pi-check" (click)="createOrg()"
        label="Lưu"></button>
    </p-footer>
  </p-dialog>
</div>