<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>


<div class="tao-de-nghi-tam-hoan-ung">
  <div class="row no-margin" id="parent">
    <div class="col-md-12 header" style="padding: 6px;">
      <div class="row">
        <div class="col-md-6 no-padding">
          <div class="row no-margin">
            <div class="col-md-1 col-sm-1 col-xs-3">
              <div class="header-box-icon">
                <img src="/assets/icons/components/create_lead.svg" class="header-icon">
              </div>
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9">
              <div>
                <span class="customer-name" *ngIf="loaiDeNghi == 0">Tạo mới đề nghị tạm ứng</span>
                <span class="customer-name" *ngIf="loaiDeNghi == 1">Tạo mới đề nghị hoàn ứng</span>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div style="float: right;">
                <button class="btn-remove" type="button" (click)="cancel()">
                  <span class="btn-remove-text">Thoát</span>
                </button>

                <button class="btn-save" *ngIf="actionAdd" type="button" [disabled]="awaitResult"
                  (click)="taoMoiDeNghi()">
                  <span class="btn-save-text">Lưu</span>
                </button>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="deNghiThanhToanForm">
    <!-- Thông tin đề nghị thanh toán -->
    <div class="row no-padding body-wrapper" id="parent">
      <div class="col-md-12">
        <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
          <p-accordionTab header="Thông tin đề nghị thanh toán" [selected]="true">
            <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
              <div class="col-md-6">
                <span>Mã đề nghị: </span> <span style="font-style: italic;">Hệ thống tự động sinh mã</span>
              </div>
              <div class="col-md-6">
                <span>Người đề nghị: <strong>{{employeeCodeName}}</strong></span>
              </div>
              <div class="col-md-6 mt-10">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Ngày đề nghị</span><span class="required">*</span>
                  </div>
                  <div class="col-md-6">
                    <p-calendar formControlName="ngayDeNghiControl" dateFormat="dd/mm/yy" showButtonBar="true"
                      [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}" [style]="{'width':'100%'}"
                      [monthNavigator]="true"
                      [styleClass]="(ngayDeNghiControl.invalid && (ngayDeNghiControl.dirty || ngayDeNghiControl.touched)) ? 'error-border' : ''"
                      (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"
                      appendTo="body">
                    </p-calendar>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-10">
                <div class="row buffer-bottom">
                  <div class="col-md-12 buffer-bottom-label">
                    <span>Theo hồ sơ công tác</span><span class="required">*</span>
                  </div>
                  <div class="col-md-6">
                    <p-dropdown [options]="listHoSoCT" formControlName="theoHoSoCTControl"
                      placeholder="Chọn hồ sơ công tác" (onChange)="thayDoiHoSoCT($event.value)"
                      optionLabel="maHoSoCongTac" [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true"
                      itemSize="10"
                      [styleClass]="(theoHoSoCTControl.invalid  && (theoHoSoCTControl.dirty ||  theoHoSoCTControl.touched)) ? 'error-border': ''"
                      [style]="{'width': '100%'}">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>

    <!-- Thông tin người đề nghị -->
    <div class="row no-padding body-wrapper" id="parent">
      <div class="col-md-12">
        <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
          <p-accordionTab header="Thông tin người thụ hưởng" [selected]="true">
            <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
              <div class="col-md-12 mt-10">
                <div class="col-md-4">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Họ tên</span><span class="required">*</span>
                    </div>
                    <div class="col-md-12" style="font-style: italic;">
                      <p-dropdown [options]="listEmployee" formControlName="nhanVienThuHuongControl"
                        (onChange)="thayDoiNhanVienThuHuong($event)" placeholder="Chọn nhân viên thụ hưởng"
                        [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                        [styleClass]="(nhanVienThuHuongControl.invalid  && (nhanVienThuHuongControl.dirty ||  nhanVienThuHuongControl.touched)) ? 'error-border': ''"
                        optionLabel="employeeCodeName" [style]="{'width': '100%'}">
                      </p-dropdown>
                    </div>
                    <div class="col-md-12"
                      [hidden]="nhanVienThuHuongControl.valid || nhanVienThuHuongControl.untouched">
                      <span
                        *ngIf="nhanVienThuHuongControl.hasError('required') || nhanVienThuHuongControl.hasError('blankString') "
                        class="error-message-span">
                        Không được để trống
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Tên tài khoản</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{employeeModel.bankOwnerName}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row col-md-12 buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Ngân hàng</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{employeeModel.bankName}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
              <div class="col-md-12 mt-10">
                <div class="col-md-4">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Phòng ban</span>
                    </div>
                    <div class="col-md-12" style="font-style: italic;">
                      <input id="input" type="text" size="30" value="{{employeeModel.organizationName}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Số tài khoản</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{employeeModel.bankAccount}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row col-md-12 buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Mã ngân hàng</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{employeeModel.bankCode}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
              <div class="col-md-12 mt-10">
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Lý do đề nghị thanh toán</span><span class="required">*</span>
                    </div>
                    <div class="col-md-12">
                      <p-editor formControlName="lyDoControl" [style]="{'height':'180px', 'width': '100%'}"
                        [styleClass]="(lyDoControl.invalid && (lyDoControl.dirty || lyDoControl.touched)) ? 'error-border' : ''">
                      </p-editor>
                    </div>
                    <div class="col-md-12" [hidden]="lyDoControl.valid || lyDoControl.untouched">
                      <span *ngIf="lyDoControl.hasError('required') || lyDoControl.hasError('blankString') "
                        class="error-message-span">
                        Không được để trống
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </form>

  <!-- NỘI DUNG THANH TOÁN -->
  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Nội dung thanh toán" [selected]="true">
          <div class="row no-margin" style="margin-top: 15px !important;">
            <div *ngIf="loaiDeNghi == 0" class="col-md-12" style="text-align: right;">
              <button type="button" class="btn-save" style="width: 100px;" (click)="addRow()">
                <span class="btn-save-text">Thêm mới</span>
              </button>
            </div>
            <div class="col-md-12 mt-10">
              <!-- TẠM ỨNG -->
              <p-treeTable *ngIf="loaiDeNghi == 0" [value]="listData" [columns]="selectedColumns" [paginator]="true"
                [rows]="5">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'text-align': 'center'}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns; let i = index" ttEditableColumn
                      [ngStyle]="{'width': col.width, 'text-align': col.textAlign}"
                      [ngClass]="{'ui-toggler-column': i === 0}">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                      <ng-container *ngIf="col.field == 'noiDung'">
                        <p-treeTableCellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]"
                              (change)="tinhToanTongGiaTriTT(rowData)" [ngStyle]="{'width': i == 0 ? '90%': '100%'}">
                          </ng-template>
                          <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
                        </p-treeTableCellEditor>
                      </ng-container>
                      <ng-container *ngIf="rowData.parentId != null">

                        <span *ngIf="col.field == 'soLuong'">
                          <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                              <input type="text" class="number-input"
                                [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                                [(ngModel)]="rowData[col.field]" (change)="tinhToanTongGiaTriTT(rowData)">
                            </ng-template>
                            <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
                          </p-treeTableCellEditor>
                        </span>
                        <span *ngIf="col.field == 'donGia'">
                          <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                              <input type="text" class="number-input"
                                [cleave]="{numeral: true, numeralPositiveOnly: true}" [(ngModel)]="rowData[col.field]"
                                (change)="tinhToanTongGiaTriTT(rowData)">
                            </ng-template>
                            <ng-template pTemplate="output">{{rowData[col.field] }}</ng-template>
                          </p-treeTableCellEditor>
                        </span>

                        <span *ngIf="col.field == 'tongTienTruocVat'">
                          <p-treeTableCellEditor>
                            <!-- <ng-template pTemplate="input">
                                <input type="text" class="number-input"
                                  [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '2'}"
                                  [(ngModel)]="rowData[col.field]" (change)="tinhToanTongGiaTriTT(rowData)">
                            </ng-template> -->
                            <ng-template pTemplate="output">{{rowData[col.field]  | number: 0 }}</ng-template>
                          </p-treeTableCellEditor>
                        </span>

                        <span *ngIf="col.field == 'vat'">
                          <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                              <input type="text" class="number-input"
                                [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '2'}"
                                [(ngModel)]="rowData[col.field]" (change)="tinhToanTongGiaTriTT(rowData)">
                            </ng-template>
                            <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
                          </p-treeTableCellEditor>
                        </span>
                        <ng-container *ngIf="col.field == 'tienSauVat'">
                          <span>{{ rowData[col.field] | number}}</span>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="col.field == 'maPhongBan'">
                        <span>{{ employeeModel?.organizationName }}</span>
                      </ng-container>
                      <ng-container *ngIf="col.field == 'action'">
                        <ng-container *ngIf="rowData.parentId == null">
                          <button pButton type="button" icon="pi pi-plus" class="ui-button-info"
                            (click)="addRowChild(rowData)">
                          </button>
                        </ng-container>
                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                          style="margin-left: .5em" (click)="removeRow(rowData)">
                        </button>
                      </ng-container>
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>

              <!-- HOÀN ỨNG -->
              <p-table #dt [columns]="selectedColumns" *ngIf="loaiDeNghi == 1" [value]="listNoiDungTT"
                [responsive]="true" dataKey="id" [paginator]="true" [rows]="5" editMode="row" [scrollable]="true">
                <ng-template pTemplate="caption">
                  <div style="display: flex;justify-content: flex-end;align-items: center;">
                    <button type="button" style="width: 100px !important;" class="btn-save" (click)="addRow()">
                      <span class="btn-save-text">Thêm mới</span>
                    </button>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                      [ngStyle]="{ 'text-align': 'center', 'width': col.width }">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing"
                  let-index="rowIndex">
                  <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                      [ngStyle]="{ 'text-align': col.textAlign, 'width': col.width }">

                      <span class="ui-column-title">{{col.header}}</span>

                      <span *ngSwitchCase="'action'">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                          style="margin-left: .5em" class="ui-button-info" (click)="onRowEditInit(rowData)">
                        </button>
                        <button *ngIf="!editing" pButton type="button" pCancelEditableRow icon="pi pi-trash"
                          class="ui-button-danger" style="margin-left: .5em" (click)="onRowRemove(rowData)">
                        </button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                          class="ui-button-success" (click)="onRowEditSave(rowData)" style="margin-left: .5em">
                        </button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                          class="ui-button-danger" (click)="onRowEditCancel(rowData, index)" style="margin-left: .5em">
                        </button>
                      </span>

                      <span *ngSwitchCase="'index'">
                        {{ index + 1 }}
                      </span>

                      <span *ngSwitchCase="'phongBan'">
                        {{employeeModel?.organizationName}}
                      </span>

                      <span *ngSwitchCase="'ngayThang'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="rowData[col.field]" dateFormat="dd/mm/yy" [yearNavigator]="true"
                              [style]="{'width': '100%'}" yearRange="1990:{{today.getFullYear()}}" appendTo="body">
                            </p-calendar>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] | date: 'dd/MM/yyyy' }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'soHoaDon'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': '100%'}"
                              (keydown.enter)="$event.preventDefault()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'noiDung'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': '100%'}"
                              (keydown.enter)="$event.preventDefault()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'hinhThucThanhToan'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown [options]="listHinhThucTT" optionLabel="categoryName"
                              placeholder="Chọn hình thức" [resetFilterOnHide]="true"
                              [(ngModel)]="rowData.selectedHinhThucThanhToan" (keydown.enter)="$event.preventDefault()"
                              appendTo="body" [style]="{'width': '100%'}">
                            </p-dropdown>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData.selectedHinhThucThanhToan?.categoryName }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'vanChuyenXm'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                              [(ngModel)]="rowData.vanChuyenXm" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.vanChuyenXm}}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'tienDonHnnb'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                              [(ngModel)]="rowData.tienDonHnnb" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.tienDonHnnb}}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'tienDonDn'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                              [(ngModel)]="rowData.tienDonDn" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.tienDonDn}}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'khachSan'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                              [(ngModel)]="rowData.khachSan" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.khachSan}}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'chiPhiKhac'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                              [(ngModel)]="rowData.chiPhiKhac" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.chiPhiKhac}}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'dinhKemCt'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': '100%'}"
                              (keydown.enter)="$event.preventDefault()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'ghiChu'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': '100%'}"
                              (keydown.enter)="$event.preventDefault()">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </span>

                      <span *ngSwitchCase="'tongTienTruocVat'">
                        {{ rowData[col.field] | number:0}}
                      </span>

                      <span *ngSwitchCase="'maPhongBan'">
                        {{employeeModel?.organizationName}}
                      </span>

                      <span *ngSwitchCase="'tienSauVat'">
                        {{rowData.tienSauVat | number:0}}
                      </span>

                      <span *ngSwitchCase="'vat'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input type="text" class="number-input"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '2'}"
                              [(ngModel)]="rowData.vat" [ngModelOptions]="{standalone: true}"
                              (change)="tinhToanTongGiaTriTT()"
                              [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData.vat}}
                          </ng-template>
                        </p-cellEditor>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="row no-margin" style="margin-top: 15px !important;">
            <div class="col-md-12" style="display: flex; justify-content: space-between;">
              <div class="col-md-6">
                &nbsp;
              </div>
              <div class="col-md-6">
                <div class="row buffer-bottom form-group">
                  <div class="col-md-12" style="display: flex; justify-content: flex-end; align-items: center;">
                    <div class="col-md-6">
                      <span style="font-weight: bold;">Tổng tiền:</span>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <label class="result-monney-number">{{tongTien | number:0}}</label>
                    </div>
                  </div>
                </div>

                <div class="row buffer-bottom form-group" *ngIf="loaiDeNghi == 1">
                  <div class="col-md-12" style="display: flex; justify-content: flex-end; align-items: center;">
                    <div class="col-md-6">
                      <span style="font-weight: bold;">Tạm ứng:</span>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <input type="text" class="number-input"
                        [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: '0'}"
                        [(ngModel)]="tienTamUng" [ngModelOptions]="{standalone: true}"
                        (change)="tinhToanTongGiaTriTT()">
                    </div>
                  </div>
                </div>

                <div class="row buffer-bottom form-group" *ngIf="loaiDeNghi == 1">
                  <div class="col-md-12" style="display: flex; justify-content: flex-end; align-items: center;">
                    <div class="col-md-6">
                      <span style="font-weight: bold;">Tổng số tiền còn lại cần thanh toán:</span>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <label class="result-monney-number">{{tongTienConLaiCTT | number:0}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <!-- TAI LIỆU LÊN QUAN -->
  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Tài liệu liên quan" [selected]="true">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 mt-5">
                <p-fileUpload #fileUpload name="demo[]" customUpload="true" multiple="multiple"
                  [showUploadButton]="false"
                  accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                  [maxFileSize]="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                  invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                  invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                  invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                  chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" (onSelect)="handleFile($event, fileUpload)"
                  (onRemove)="removeFile($event)" (onClear)="clearAllFile()">
                </p-fileUpload>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

</div>
