.chon-vn .mt-10 {
  margin-top: 10px;
}

.chon-vn .mt-20 {
  margin-top: 20px;
}

.chon-vn .mt-40 {
  margin-top: 40px;
}

.chon-vn .mb-10 {
  margin-bottom: 10px;
}

.chon-vn .mb-20 {
  margin-bottom: 20px;
}

.chon-vn .btn-cancel {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.chon-vn .btn-create {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
  color: #fff;
}