.recruitment-campaign-list {
    width           : 100%;
    box-shadow      : 0 1px 2px 0 rgba(18, 22, 25, 0.08);
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
}

.recruitment-campaign-list .box-header {
    width           : 100%;
    background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
}


.recruitment-campaign-list .import-exel {
    padding-top     : 3px;
    width           : 134px;
    height          : 30px;
    border-radius   : 4px;
    border          : solid 1px #0f62fe;
    background-color: #ffffff;
    margin-right    : 5px;
}

.recruitment-campaign-list .import-exel-text {
    width         : 86px;
    height        : 16px;
    font-family   : "Inter UI";
    font-size     : 13px;
    font-weight   : nomal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #0f62fe;
}

.recruitment-campaign-list .export-exel,
.recruitment-campaign-list .import-exel,
.recruitment-campaign-list .btn-create {
    width        : auto;
    padding-left : 10px;
    padding-right: 10px;
}

.recruitment-campaign-list .btn-create {
    float           : right;
    width           : 98px;
    height          : 31px;
    border-radius   : 4px;
    border          : 1px solid #cccccc;
    box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
}

.recruitment-campaign-list .btn-create-text {
    width         : 50px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;
}

.recruitment-campaign-list .box-header-group {
    margin-top: 10px;
}

.recruitment-campaign-list .box-header-icon {
    border-radius   : 50%;
    width           : 40px;
    height          : 40px;
    background-color: #0f62fe;
    text-align      : center;
}

.recruitment-campaign-list .Money-2 {
    width     : 20.4px;
    height    : 18.5px;
    object-fit: contain;
    margin-top: 10px;
}

.recruitment-campaign-list .box-header-title {
    width         : 100%;
    height        : 24px;
    font-family   : 'Inter UI';
    font-size     : 20px;
    font-weight   : 600;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1;
    letter-spacing: normal;
    text-align    : left;
    color         : #121619;
}

.recruitment-campaign-list .noun-product {
    width     : 20.4px;
    height    : 18.5px;
    object-fit: contain;
    margin-top: 10px;
}

.recruitment-campaign-list .box-header-subtitle {
    font-family   : 'Inter UI';
    font-size     : 11px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.36;
    letter-spacing: normal;
    text-align    : left;
    color         : #4d5358;
}

.recruitment-campaign-list .box-header-group-btn {
    text-align : right;
    padding-top: 5px;
}

.recruitment-campaign-list .btn-refresh {
    width           : 32px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
}

.recruitment-campaign-list .ios-refresh {
    width     : 12px;
    height    : 14px;
    object-fit: contain;
}

.recruitment-campaign-list .export-exel {
    width           : 112px;
    height          : 31px;
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
    margin-right    : 5px;
}

.recruitment-campaign-list .export-exel .export-exel-text {
    width         : 64px;
    height        : 16px;
    font-family   : "Inter UI";
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #121619;
}

.recruitment-campaign-list .btn-filter {
    width           : 104px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #007aff;
    background-color: #007aff;
    margin-left     : 5px;
}

.recruitment-campaign-list .ios-funnel {
    width       : 12.3px;
    height      : 11.3px;
    object-fit  : contain;
    margin-right: 5px;
}

.recruitment-campaign-list .btn-filter-text {
    width         : 36px;
    height        : 13px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.46;
    letter-spacing: normal;
    text-align    : left;
    color         : #ffffff;
}

.recruitment-campaign-list .iput-text {
    width           : 248px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding-left    : 5px;
    margin-left     : 5px;
}

.recruitment-campaign-list .box-filter {
    border          : solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding         : 10px 0px;
}

.recruitment-campaign-list .employee-code-text {
    width           : 100%;
    height          : 32px;
    font-family     : 'Inter UI';
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
    padding-left    : 5px;
}

.recruitment-campaign-list .mt-5 {
    margin-top: 5px;
}

.recruitment-campaign-list .btn-search {
    width           : 72px;
    height          : 32px;
    border          : solid 1px #cccccc;
    border-radius   : 4px;
    box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
}

.recruitment-campaign-list .btn-search:focus {
    border-color: #007ad9;
    outline     : 0 none;
}

.recruitment-campaign-list .btn-search-text {
    width         : 36px;
    height        : 13px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.46;
    letter-spacing: normal;
    text-align    : left;
    color         : #ffffff;
}

/* Config rows Per Page Options */
::ng-deep .recruitment-campaign-list .ui-inputtext {
    padding: 0.3em;
}

.recruitment-campaign-list .link {
    font-family: 'Inter UI';
    color      : #007ad9;
    cursor     : pointer;
    font-size  : 13px;
}

.recruitment-campaign-list .no-data {
    height          : 435px;
    border          : solid 1px #d7dbe0;
    background-color: #f2f4f8;
    text-align      : center;
}

.recruitment-campaign-list .box-no-data {
    position: relative;
    top     : 25%;
}

.recruitment-campaign-list .box-icon {
    width     : 57.1px;
    height    : 58px;
    object-fit: contain;
}

::ng-deep .recruitment-campaign-list .ui-datepicker {
    top: 28px !important;
}

/* ::ng-deep .recruitment-campaign-list .ui-multiselect .ui-multiselect-panel {
    display: contents;
  } */

/* Máy để bàn */
@media only screen and (min-width: 1025px) and (max-width: 1423px) {}

/* Ipad Pro */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .recruitment-campaign-list .box-header-icon {
        width : 40px;
        height: 40px;
    }

    .recruitment-campaign-list .Money-2 {
        width     : 15.4px;
        height    : 11.5px;
        margin-top: 7px;
    }

    .recruitment-campaign-list .iput-text {
        margin-top: 5px;
    }

    .recruitment-campaign-list .box-header-title {
        margin-top : 10px;
        margin-left: 15px;
    }

    .recruitment-campaign-list .box-header-subtitle {
        font-size  : 13px;
        margin-left: 15px;
    }

}

/* Ipad */
@media only screen and (min-width: 415px) and (max-width: 768px) {}

/* Iphone 6/7/8 Plus */
@media only screen and (min-width: 376px) and (max-width: 414px) {
    .recruitment-campaign-list .box-header-title {
        font-size: 22px;
    }

    .recruitment-campaign-list .box-header-subtitle {
        font-size    : 14px;
        margin-top   : 5px;
        margin-bottom: 10px;
    }

    .recruitment-campaign-list .btn-filter {
        width: auto;
    }

    .recruitment-campaign-list span.ui-column-title {
        width: 160px;
    }
}

/* Iphone 6/7/8/X */
@media only screen and (max-width: 375px) {
    .recruitment-campaign-list .box-header-title {
        font-size: 22px;
    }

    .recruitment-campaign-list .box-header-subtitle {
        font-size    : 12px;
        margin-top   : 5px;
        margin-bottom: 10px;
    }

    .recruitment-campaign-list .btn-filter {
        width: auto;
    }

    .recruitment-campaign-list .iput-text {
        width: 210px;
    }

    .recruitment-campaign-list span.ui-column-title {
        width: 150px;
    }

}