<div class="org-dialog-content">
  <form style="font-family: 'Open Sans', sans-serif;">
    <div class="row org-dialog-title">
      <span>
        {{ 'employeetimesheet.title' | translate }}
      </span>
    </div>

    <div class="row">
      <div class="col-md-3">
        <span class="required">*</span>{{ 'employeetimesheet.month' | translate }}
      </div>
      <div class="col-md-6">
        <!--<mat-form-field>
          <mat-select (selectionChange)="changeMonth($event)">
            <mat-option *ngFor="let month of arrayMonth" [value]="month.value">{{month.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>-->
        <mat-form-field class="w100">
          <input name="startDate" matInput id="startDate" type="month" [(ngModel)]="IO" />
        </mat-form-field>
      </div>

    </div>

    <div class="row org-dialog-buttons">
      <button mat-raised-button class="btn-cancel" (click)="onCancelClick()">HỦY</button>
      <button mat-raised-button class="btn-ok" (click)="onSaveClick()">LƯU</button>
    </div>
  </form>
</div>
