::ng-deep .content-wrapper {
    background-color: #fff !important;
  }

  .asset-detail {
    font-family: "Inter UI";
  }

  .asset-detail .body-wrapper {
    background-color: #fff;
    border          : solid 1px #cccccc;
  }

  .asset-detail .header {
    background-color: #ffffff;
    border-radius   : 4px;
    border          : solid 1px #cccccc;
  }

  .asset-detail .header-box-icon {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
  }

  .asset-detail .header-icon {
    width      : 18px;
    height     : 18px;
    object-fit : contain;
    margin-top : 13px;
    margin-left: 10px;
  }

  .asset-detail .buffer-top {
    margin-top: 1.2rem;
  }

  .asset-detail .buffer-bottom {
    margin-bottom: 1.2rem;
  }

  .asset-detail .buffer-bottom-label {
    margin-bottom: 3px;
  }

  .asset-detail .required {
    color: red;
  }

  .asset-detail .error-message-span {
    color: red;
  }

  .asset-detail .customer-name {
    width         : 119px;
    height        : 20px;
    font-family   : 'Inter UI';
    font-size     : 19px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 2.25;
    letter-spacing: normal;
    text-align    : left;
    color         : #121619;
  }

  .asset-detail .btn-remove {
    width           : 72px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
    margin-left     : 5px;
  }

  .asset-detail .btn-remove-text {
    width         : 24px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #121619;
  }

  .asset-detail .btn-save-and-new {
    width           : 142px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #0f62fe;
    background-color: #ffffff;
    margin-left     : 5px;
  }

  .asset-detail .btn-save-and-new .btn-save-and-new-text {
    width         : 102px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.46;
    letter-spacing: normal;
    text-align    : left;
    color         : #0f62fe;
  }

  ::ng-deep .asset-detail .ui-dropdown {
    min-width: 0px !important;
  }

  ::ng-deep .asset-detail .ui-menu ul {
    text-align: left;
  }

  .asset-detail .btn-save {
    width           : 72px;
    height          : 32px;
    border-radius   : 4px;
    box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border          : solid 1px #cccccc;
    margin-left     : 5px;
  }

  .asset-detail .btn-save-note {
    width: 158px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
    margin-left: 5px;
  }

.mt-10
{
  margin-top: 10px;
}
  .asset-detail .save-note-lable {
    width: 110px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .asset-detail .btn-save-text {
    width         : 24px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;
  }

  .asset-detail .body-wrapper {
    margin-top  : 20px;
    margin-left : 0px;
    margin-right: 0px;
  }

  .asset-detail .w100 {
    width: 100% !important;
  }

  .asset-detail .my-form-control {
    display    : flex;
    align-items: center;
  }

  /*Begin: Customize Accordion */

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-header a {
    border          : 1px solid #ffffff !important;
    background-color: #ffffff !important;
    font-size       : 16px;
  }

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #ffffff !important;
    border          : 1px solid #ffffff !important;
    color           : #121619 !important;
  }

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
    color: #121619 !important;
  }

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #121619 !important;
  }

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    color: #121619 !important;
  }

  ::ng-deep .asset-detail .ui-accordion .ui-accordion-content {
    border          : 1px solid #ffffff !important;
    background-color: #ffffff !important;
  }

  /*End: Customize Accordion */

.asset-detail .note-user {
    font-family: 'Inter UI';
    font-weight: bold;
}

.asset-detail .timeline>li>.timeline-item {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.asset-detail .timeline-content {
    margin-top: 20px;
}

.asset-detail .bg-blueX {
    background-color: #4E6BA5 !important;
}

.asset-detail .color-w {
    color: #fff !important;
}

.asset-detail .timeline-item .onHover {
    display: none;
}

.asset-detail .timeline-item:hover .onHover {
    display: block;
}

.asset-detail .material-icons {
    cursor: pointer;
}

.asset-detail .timeline-user-avatar {
    border-radius: 50%;
    margin-right : 5px;
    float        : left;
}

.asset-detail .note-title {
    font-size  : 11px !important;
    color      : #222 !important;
    font-weight: normal !important;
}

.asset-detail .time-note {
    font-size  : 10px !important;
    color      : #5d5a5a !important;
    font-weight: normal !important;
}

.asset-detail .timeline-body {
    padding: 10px 15px;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left : 5px !important;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left : 5px !important;
}

.asset-detail .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.asset-detail .file-item div:nth-child(1),
.asset-detail .file-item div:nth-child(3) {
    padding-left: 0 !important;
}

.asset-detail .file-item div:nth-child(2) {
    padding: 0 5px !important;
}

.asset-detail .item-name {
    text-overflow: ellipsis !important;
    white-space  : nowrap !important;
    overflow     : hidden !important;
}

.asset-detail .preview-doc {
    cursor: pointer;
}

.asset-detail .ui-table .ui-table-tbody>tr>td
{
  border: 1px solid #c8c8c8 !important;
}

.asset-detail .ui-table .ui-table-thead>tr>th
{
  border: 1px solid #c8c8c8 !important;
}

  .asset-detail .btn-cancel-note {
    width: 72px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
  }

  .asset-detail .save-cancel-lable {
    width: 24px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #121619;
  }


/* Thông báo lỗi */

.asset-detail .error-border,
.asset-detail .error-border:focus {
  border-color: #f44336;
}

.asset-detail .error-border:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px #f44336;
}

.asset-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.asset-detail .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.asset-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.asset-detail .notification {
  position: absolute;
  top: 38px;
  width: 380px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.asset-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.asset-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}
/*End: Tạo góc nhọn trên hộp thoại */

.asset-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.asset-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.asset-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.asset-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.asset-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.asset-detail .header-box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.asset-detail .header-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 10px;
}

.asset-detail .buffer-top {
  margin-top: 1.2rem;
}

.asset-detail .buffer-bottom {
  margin-bottom: 1.2rem;
}

.asset-detail .buffer-bottom-label {
  margin-bottom: 3px;
}

.asset-detail .required {
  color: red;
}

.asset-detail .error-message-span {
  color: red;
}