<div class="org-popup-content">
  <div class="row org-popup-title">
    <span>
      CHỌN ĐƠN VỊ
    </span>
  </div>
  <div class="tree-content">
    <div class="tree-view">
      <div class="tree-item lvl-1" *ngFor="let org of orgList">
        <table id="{{org.organizationId}}">
          <tr>
            <td style="padding-top: 5px;">
              <i class="material-icons tree-icon" data-toggle="collapse" [attr.data-target]="'.' + org.organizationId" [attr.aria-controls]="org.organizationId" aria-expanded="false" *ngIf="hasChild(org)">
                arrow_drop_down
              </i>
            </td>
            <td>
              <span>{{org.organizationName}}</span>
            </td>
          </tr>
        </table>
        <div class="tree-item lvl-2 collapse in" [ngClass]="org.organizationId" *ngFor="let orgChild of org.orgChildList">
          <table id="{{orgChild.organizationId}}" title="{{org.organizationName}}">
            <tr>
              <td style="padding-top: 5px;">
                <i class="material-icons tree-icon" data-toggle="collapse" [attr.data-target]="'.' + orgChild.organizationId" [attr.aria-controls]="orgChild.organizationId" aria-expanded="false" *ngIf="hasChild(orgChild)">
                  arrow_drop_down
                </i>
              </td>
              <td>
                <span>{{orgChild.organizationName}}</span>
              </td>
            </tr>
          </table>
          <div class="tree-item lvl-3 collapse in" [ngClass]="orgChild.organizationId" *ngFor="let orgGrantChild of orgChild.orgChildList">
            <table id="{{orgGrantChild.organizationId}}" title="{{orgChild.organizationName}}">
              <tr>
                <td style="padding-top: 5px;">
                  <i class="material-icons tree-icon" data-toggle="collapse" [attr.data-target]="'.' + orgGrantChild.organizationId" [attr.aria-controls]="orgGrantChild.organizationId" aria-expanded="false" *ngIf="hasChild(orgGrantChild)">
                    arrow_drop_down
                  </i>
                </td>
                <td>
                  <span>{{orgGrantChild.organizationName}}</span>
                </td>
              </tr>
            </table>
            <div class="tree-item lvl-4 collapse in" [ngClass]="orgGrantChild.organizationId" *ngFor="let orgGrantGrantChild of orgGrantChild.orgChildList">
              <table id="{{orgGrantGrantChild.organizationId}}" title="{{orgGrantChild.organizationName}}">
                <tr>
                  <td style="padding-top: 5px;">
                    <i class="material-icons tree-icon" data-toggle="collapse" [attr.data-target]="'.' + orgGrantGrantChild.organizationId" [attr.aria-controls]="orgGrantGrantChild.organizationId" aria-expanded="false" *ngIf="hasChild(orgGrantGrantChild)">
                      arrow_drop_down
                    </i>
                  </td>
                  <td>
                    <span>{{orgGrantGrantChild.organizationName}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="org-popup-buttons">
  	<button mat-raised-button class="btn-cancel" (click)="onCancelClick()">HỦY</button>
  	<button mat-raised-button class="btn-ok" (click)="onSaveClick()">LƯU</button>
  </div>
</div>
