.congluong-cauhinh .mt-10 {
  margin-top: 10px;
}

.congluong-cauhinh .mt-20 {
  margin-top: 20px;
}

.congluong-cauhinh .mt-35 {
  margin-top: 35px;
}

.congluong-cauhinh .header-section {
  display    : flex;
  align-items: center;
}

.congluong-cauhinh .title-section {
  font-size  : 16px;
  font-weight: bold;
}

.congluong-cauhinh .input-disable {
  opacity: 0.5;
}

.congluong-cauhinh .token {
  border       : 1px solid #ccc;
  border-radius: 4px;
  padding      : 10px;
  width        : 230px;
  margin-left  : 10px;
  margin-top   : 10px;
  cursor       : pointer;
}

.congluong-cauhinh .btn-save {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border          : solid 1px #cccccc;
  margin-left     : 5px;
}

.congluong-cauhinh .btn-save-text {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #ffffff;
}

.congluong-cauhinh .btn-cancel-note {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #c1c7cd;
  background-color: #ffffff;
}

.congluong-cauhinh .save-cancel-lable {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #121619;
}

.congluong-cauhinh .btn-save-note {
  width           : 158px;
  height          : 32px;
  border-radius   : 4px;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border          : solid 1px #cccccc;
  margin-left     : 5px;
}

.congluong-cauhinh .save-note-lable {
  width         : 110px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #ffffff;
}

/* ::ng-deep .congluong-cauhinh .ui-datepicker:not(.ui-datepicker-inline) {
  position: absolute;
  height  : 200px;
  top     : 34px !important;
  overflow: scroll
} */