.employee-list {
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.employee-list .box-header {
  width: 100%;
  background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
}

.employee-list .btn-create {
  float: right;
  width: 98px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
}

.employee-list .btn-create-text {
  width: 50px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.employee-list .box-header-group {
  margin-top: 10px;
}

.employee-list .box-header-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0f62fe;
  text-align: center;
}

.employee-list .box-header-title {
  width: 229px;
  height: 24px;
  font-family: 'Inter UI';
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.employee-list .noun-product {
  width: 20.4px;
  height: 18.5px;
  object-fit: contain;
  margin-top: 10px;
}

.employee-list .box-header-subtitle {
  font-family: 'Inter UI';
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.employee-list .box-header-group-btn {
  text-align: right;
  padding-top: 5px;
}

.employee-list .btn-refresh {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.employee-list .ios-refresh {
  width: 12px;
  height: 14px;
  object-fit: contain;
}

.employee-list .export-exel {
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-right: 5px;
}
.employee-list .export-exel .export-exel-text {
  width: 64px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color :#121619;
}

.employee-list .btn-filter {
  width: 104px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.employee-list .ios-funnel {
  width: 12.3px;
  height: 11.3px;
  object-fit: contain;
  margin-right: 5px;
}

.employee-list .btn-filter-text {
  width: 36px;
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.employee-list .iput-text {
  width: 248px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding-left: 5px;
  margin-left: 5px;
}

.employee-list .box-filter {
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding: 10px 0px;
}

.employee-list .employee-code-text {
  width: 100%;
  height: 32px;
  font-family: 'Inter UI';
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  padding-left: 5px;
}

.employee-list .mt-5 {
  margin-top: 5px;
}

.employee-list .btn-search {
  width: 72px;
  height: 32px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
}

.employee-list .btn-search:focus {
  border-color: #007ad9;
  outline: 0 none;
}

.employee-list .btn-search-text {
  width: 36px;
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/* Config rows Per Page Options */
::ng-deep .employee-list .ui-inputtext {
  padding: 0.3em;
}

.employee-list .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

.employee-list .no-data {
  height: 435px;
  border: solid 1px #d7dbe0;
  background-color: #f2f4f8;
  text-align: center;
}

.employee-list .box-no-data {
  position: relative; 
  top: 25%;
}

.employee-list .box-icon {
  width: 57.1px;
  height: 58px;
  object-fit: contain;
}

::ng-deep .employee-list .ui-datepicker {
  top: 28px !important;
}

/* ::ng-deep .employee-list .ui-multiselect .ui-multiselect-panel {
  display: contents;
} */

/* Máy để bàn */
@media only screen and (min-width: 1025px) and (max-width: 1423px)  {
  
}

/* Ipad Pro */
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
  .employee-list .box-header-icon {
    width: 40px;
    height: 40px;
  }

  .employee-list .Money-2 {
    width: 15.4px;
    height: 11.5px;
    margin-top: 7px;
  }

  .employee-list .iput-text {
    margin-top: 5px;
  }

  .employee-list .box-header-title {
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .employee-list .box-header-subtitle {
     font-size: 13px;
     margin-left: 15px;
  }

}

/* Ipad */
@media only screen and (min-width: 415px) and (max-width: 768px) {

}

/* Iphone 6/7/8 Plus */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  .employee-list .box-header-title {
    font-size: 22px;
  }

  .employee-list .box-header-subtitle {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .employee-list .btn-filter {
    width: auto;
  }

  .employee-list span.ui-column-title {
    width: 160px;
  }
}

/* Iphone 6/7/8/X */
@media only screen and (max-width: 375px) {
  .employee-list .box-header-title {
    font-size: 22px;
  }

  .employee-list .box-header-subtitle {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .employee-list .btn-filter {
    width: auto;
  }

  .employee-list .iput-text {
    width: 210px;
  }

  .employee-list span.ui-column-title {
    width: 150px;
  }

}
