<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<div class="employee-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="\assets\icons\components\noun_product.svg" class="noun-product">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Danh sách nhân viên</div>
                  <div class="box-header-subtitle">
                    {{listEmp.length}} đầu mục - Sắp xếp theo ngày gần nhất - Cập nhật
                    {{nowDate | date:'dd/MM/yyyy'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="text-align: right;">

            <button type="button" class="export-exel" *ngIf="actionDownload"
              (click)="displayChooseFileImportHopDong = true">
              <span class="export-exel-text">Nhập hợp đồng</span>
            </button>

            <button type="button" class="export-exel" *ngIf="actionDownload"
              (click)="displayChooseFileImportGiaDinh = true">
              <span class="export-exel-text">Nhập gia đình</span>
            </button>

            <button type="button" class="export-exel" *ngIf="actionDownload" (click)="exportExcel()">
              <span class="export-exel-text">Xuất Excel</span>
            </button>

            <button type="button" class="btn-create" *ngIf="actionAdd" (click)="onpenDialogChoseFileExcel()"><span
                class="btn-create-text">Nhập excel</span></button>

            <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreate()"><span
                class="btn-create-text">Tạo mới</span></button>
            <div style="clear: both;"></div>
          </div>
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" [(ngModel)]="filterGlobal" placeholder="Tìm kiếm trong danh sách"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Họ và tên đệm</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập họ và tên đệm"
              [(ngModel)]="contactModel.FirstName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập tên nhân viên"
              [(ngModel)]="contactModel.LastName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên tài khoản</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập tên tài khoản"
              [(ngModel)]="userModel.UserName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Mã</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập mã nhân viên"
              [(ngModel)]="contactModel.IdentityID">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày hết hạn hợp đồng từ</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromContractExpiryDate" [yearNavigator]="true"
              yearRange="{{minYear}}:{{currentYear}}" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              [maxDate]="toContractExpiryDate ? toContractExpiryDate : maxEndDate" placeholder="dd/mm/yy"
              showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày hết hạn hợp đồng đến</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toContractExpiryDate" [yearNavigator]="true"
              yearRange="{{minYear}}:{{currentYear}}" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              [minDate]="fromContractExpiryDate" [maxDate]="maxEndDate" placeholder="dd/mm/yy" showButtonBar="true"
              [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày sinh nhật từ</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromBirthDay" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="toBirthDay ? toBirthDay : maxEndDate"
              placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày sinh nhật đến</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toBirthDay" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="fromBirthDay" [maxDate]="maxEndDate"
              placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Chọn đơn vị</span>
            <a href="javascript:(0)" (click)="openOrgPopup()"> <u>(Xem sơ đồ tổ chức)</u></a>
          </div>
          <div class="col-md-12">
            <input type="text" value="{{this.employeeModel.OrganizationName}}" placeholder="Chọn đơn vị"
              class="employee-code-text" disabled>
          </div>
        </div>
        <div class="row no-margin pb-1">
          <div class="col-md-12 mt-5" style="text-align: right">
            <button type="button" class="btn-search" (click)="searchEmployee()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="listEmp.length > 0" class="col-md-{{leftColNumber}}">
      <p-table #myTable [columns]="selectedColumns" [value]="listEmp" (sortFunction)="sortColumnInList($event)"
        [customSort]="true" [resizableColumns]="true" [(selection)]="selection" columnResizeMode="expand"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" class="table-border">
        <ng-template pTemplate="caption">
          <div style="text-align: left;">
            <p-multiSelect [options]="colsList" optionLabel="header" [(ngModel)]="selectedColumns"
              [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
              [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột"></p-multiSelect>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3.5em; text-align: center;">
              #
            </th>
            <th style="width: 3em;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <!-- <th style="text-align: center; width: 10rem;">
              <span>Thao tác</span>
            </th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td style="text-align: center;">
              {{rowData.index}}
            </td>
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" [ngSwitch]="col.field"
              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
              <span class="ui-column-title">{{col.header}}</span>
              <span *ngSwitchCase="'employeeName'" (click)="onViewDetail(rowData)" class="link" style="display: inline-block;
            padding: 3px 3px;">{{rowData[col.field]}}</span>
              <span *ngSwitchCase="'isTruongBoPhan'">
                <ng-container *ngIf="rowData[col.field] == true">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </ng-container>
              </span>
              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
            </td>
            <!-- <td style="text-align: center;  width: 10rem;">
              <button class="ui-button-danger" pButton icon="pi pi-trash"></button>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="!(listEmp.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
      <div class="box-no-data">
        <img src="/assets/icons/components/box.svg" class="box-icon">
        <div>
          <span>Hiện tại không có dữ liệu</span>
        </div>
      </div>
    </div>
    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Họ và tên đệm</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập họ và tên đệm"
              [(ngModel)]="contactModel.FirstName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập tên nhân viên"
              [(ngModel)]="contactModel.LastName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Tên tài khoản</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập tên tài khoản"
              [(ngModel)]="userModel.UserName">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Mã</span>
          </div>
          <div class="col-md-12">
            <input type="text" class="employee-code-text" placeholder="Nhập mã nhân viên"
              [(ngModel)]="contactModel.IdentityID">
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày hết hạn hợp đồng từ</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromContractExpiryDate" [yearNavigator]="true"
              yearRange="{{minYear}}:{{currentYear}}" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              [maxDate]="toContractExpiryDate ? toContractExpiryDate : maxEndDate" placeholder="dd/mm/yy"
              showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày hết hạn hợp đồng đến</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toContractExpiryDate" [yearNavigator]="true"
              yearRange="{{minYear}}:{{currentYear}}" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              [minDate]="fromContractExpiryDate" [maxDate]="maxEndDate" placeholder="dd/mm/yy" showButtonBar="true"
              [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày sinh nhật từ</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromBirthDay" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="toBirthDay ? toBirthDay : maxEndDate"
              placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Ngày sinh nhật đến</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toBirthDay" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="fromBirthDay" [maxDate]="maxEndDate"
              placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Chọn đơn vị</span>
            <a href="javascript:(0)" (click)="openOrgPopup()"> <u>(Xem sơ đồ tổ chức)</u></a>
          </div>
          <div class="col-md-12">
            <input type="text" value="{{this.employeeModel.OrganizationName}}" placeholder="Chọn đơn vị"
              class="employee-code-text" disabled>
          </div>
        </div>

        <div class="row no-margin pb-1">
          <div class="col-md-12 mt-5" style="text-align: right">
            <button type="button" class="btn-search" (click)="searchEmployee()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Nhập file excel" [(visible)]="displayChooseFileImportDialog" [modal]="true" [responsive]="true"
  [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000" [closable]="true"
  (onHide)="closeChooseFileImportDialog()">
  <div class="employee-list" style="border:unset;">
    <div class="col-md-4 mt-25">
      <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom:15px;">
      <button type="button" class="export-exel" (click)="downloadTemplateExcel()">
        <span class="export-exel-text">Tải file mẫu</span>
      </button>
    </div>
    <div class="col-md-4 mt-25">
      <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 15px;">
      <button class="btn btn-primary btn-file import-file">
        <span class="text-import">Chọn file</span>
        <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
          accept=".xlsx, .xls">
      </button>
      <div>{{fileName}}</div>
    </div>
    <p-footer>
      <button class="btn-create" type="button" #save (click)="importExcel()">
        <span class="btn-create-text">Nhập</span>
      </button>
    </p-footer>
  </div>
</p-dialog>


<p-dialog header="Nhập file excel hợp đồng" [(visible)]="displayChooseFileImportHopDong" [modal]="true"
  [responsive]="true" [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [closable]="true"
  (onHide)="closeChooseFileImportDialog()">
  <div class="employee-list" style="border:unset;">
    <div class="col-md-4 mt-25">
      <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom:15px;">
      <button type="button" class="export-exel" (click)="downloadTemplateExcelHopDong(1)">
        <span class="export-exel-text">Tải file mẫu</span>
      </button>
    </div>
    <div class="col-md-4 mt-25">
      <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 15px;">
      <button class="btn btn-primary btn-file import-file">
        <span class="text-import">Chọn file</span>
        <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
          accept=".xlsx, .xls">
      </button>
      <div>{{fileName}}</div>
    </div>
    <p-footer>
      <button class="btn-create" type="button" #save (click)="importHopDong()">
        <span class="btn-create-text">Nhập</span>
      </button>
    </p-footer>
  </div>
</p-dialog>

<p-dialog header="Nhập file excel thông tin gia đình" [(visible)]="displayChooseFileImportGiaDinh" [modal]="true"
  [responsive]="true" [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [closable]="true">
  <div class="employee-list" style="border:unset;" (onHide)="closeChooseFileImportDialog()">
    <div class="col-md-4 mt-25">
      <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom:15px;">
      <button type="button" class="export-exel" (click)="downloadTemplateExcelHopDong(2)">
        <span class="export-exel-text">Tải file mẫu</span>
      </button>
    </div>
    <div class="col-md-4 mt-25">
      <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 15px;">
      <button class="btn btn-primary btn-file import-file">
        <span class="text-import">Chọn file</span>
        <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
          accept=".xlsx, .xls">
      </button>
      <div>{{fileName}}</div>
    </div>
    <p-footer>
      <button class="btn-create" type="button" #save (click)="importGiaDinh()">
        <span class="btn-create-text">Nhập</span>
      </button>
    </p-footer>
  </div>
</p-dialog>
