::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

#approve-reject-content .row {
  /*margin: -24px !important;*/
  margin: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

#approve-reject-content .popup-title {
  background-color: #6D98E7;
  padding: 20px !important;
  color: #fff;
  font-weight: bold;
}

#approve-reject-content .popup-text {
  padding: 40px 30px 20px !important;
}

#approve-reject-content .popup-buttons {
  text-align: right;
  margin-bottom: 20px;
}

#approve-reject-content .btn-cancel, #approve-reject-content .btn-ok {
  background-color: #fff;
}

#approve-reject-content .btn-ok {
  color: #6D98E7;
}

  #approve-reject-content .btn-ok:hover,
  #approve-reject-content .btn-ok:focus,
  #approve-reject-content .btn-cancel:hover,
  #approve-reject-content .btn-cancel:focus {
    color: #fff;
    background-color: #6D98E7
  }

#approve-reject-content textarea {
  resize: none;
  width: 100%;
  background-color: rgb(242, 242, 242);
  height: 50px;
  margin-top: 10px;
}

#approve-reject-content .required {
  color: red;
}

#approve-reject-content .error-border, #approve-reject-content .error-border:focus {
  border-color: #f44336;
}

#approve-reject-content .error-border:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px #f44336;
}
