<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
    </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="candidate-list">
    <div class="row no-margin">
        <div class="box-header">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header-group">
                            <div class="row">
                                <div class="col-md-1 col-xs-2">
                                    <div class="box-header-icon">
                                        <img src="\assets\icons\components\noun_product.svg" class="noun-product">
                                    </div>
                                </div>
                                <div class="col-md-11 col-xs-10">
                                    <div class="box-header-title">Danh sách Ứng viên</div>
                                    <div class="box-header-subtitle">
                                        {{listCandidate.length}} bản ghi - Cập nhật ngày {{ today |
                                        date:'dd/MM/yyyy' }} - sắp xếp theo trạng thái ứng viên
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <button type="button" class="export-exel" (click)="exportExcel()">
                            <span class="export-exel-text">Xuất Excel</span>
                        </button>

                        <button type="button" class="btn-create" (click)="goToCreate()"><span
                                class="btn-create-text">Tạo mới</span></button>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-header-group-btn">
                            <button type="button" class="btn-refresh" (click)="refreshFilter()">
                                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                            </button>
                            <button type="button" class="btn-filter" (click)="showFilter()">
                                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                                <span class="btn-filter-text">Bộ lọc</span>
                            </button>
                            <input type="text" class="iput-text" [(ngModel)]="filterGlobal"
                                placeholder="Tìm kiếm trong danh sách"
                                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin" style="background-color: #f2f4f8;">
        <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
            <div class="box-filter">
                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Tên ứng viên</span>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="employee-code-text" placeholder="Nhập tên ứng viên"
                            [(ngModel)]="fullName">
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Chiến dịch tuyển dụng</span>
                    </div>
                    <div class="col-md-12">
                        <p-multiSelect [options]="listRecruitmentCampaign" [(ngModel)]="selectedRecruitmentCampaign"
                            defaultLabel="Chọn chiến dịch tuyển dụng" optionLabel="recruitmentCampaignName"
                            [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                            selectedItemsLabel="{0} chiến dịch tuyển dụng được chọn"></p-multiSelect>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Vị trí tuyển dụng</span>
                    </div>
                    <div class="col-md-12">
                        <p-multiSelect [options]="listVacancies" [(ngModel)]="selectedVacancies"
                            defaultLabel="Chọn vị trí tuyển dụng" optionLabel="vacanciesName"
                            [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                            selectedItemsLabel="{0} vị trí tuyển dụng được chọn"></p-multiSelect>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Ngày ứng tuyển</span>
                    </div>
                    <div class="col-md-6">
                        <p-calendar [(ngModel)]="ApplicationDateFrom" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="{{1990}}:{{today.getFullYear()}}" dateFormat="dd/mm/yy"
                            [style]="{'width':'100%'}" [maxDate]="ApplicationDateTo" placeholder="Từ"
                            showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
                    </div>
                    <div class="col-md-6">
                        <p-calendar [(ngModel)]="ApplicationDateTo" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="{{1990}}:{{today.getFullYear()}}" dateFormat="dd/mm/yy"
                            [style]="{'width':'100%'}" [minDate]="ApplicationDateFrom" placeholder="Đến"
                            showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Email</span>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="employee-code-text" placeholder="Nhập email" [(ngModel)]="email">
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>SĐT</span>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="employee-code-text" placeholder="Nhập số điện thoại"
                            [(ngModel)]="phone">
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Kênh tuyển dụng</span>
                    </div>
                    <div class="col-md-12">
                        <p-multiSelect [options]="listRecruitmentChannel" [(ngModel)]="selectdeRecruitmentChannel"
                            defaultLabel="Chọn kênh tuyển dụng" optionLabel="categoryName" [style]="{'width': '100%'}"
                            [resetFilterOnHide]="true" selectedItemsLabel="{0} kênh tuyển dụng được chọn">
                        </p-multiSelect>
                    </div>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12 mt-5">
                        <span>Trạng thái</span>
                    </div>
                    <div class="col-md-12">
                        <p-multiSelect [options]="listStatus" [(ngModel)]="selectedStatus"
                            defaultLabel="Chọn trạng thái" optionLabel="lable" [style]="{'width': '100%'}"
                            [resetFilterOnHide]="true" selectedItemsLabel="{0} trạng thái được chọn"></p-multiSelect>
                    </div>
                </div>

                <div class="row no-margin pb-1">
                    <div class="col-md-12 mt-5" style="text-align: right">
                        <button type="button" class="btn-search" (click)="searchCandidate()">
                            <span class="btn-search-text">Tìm kiếm</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="listRecruitmentCampaign.length > 0" class="col-md-{{leftColNumber}}">
            <p-table #myTable [columns]="selectedColumns" [value]="listCandidate" [resizableColumns]="true"
                [(selection)]="selection" columnResizeMode="expand" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,20,30]" [responsive]="true" class="table-border">
                <ng-template pTemplate="caption">
                    <div style="text-align: left;">
                        <p-multiSelect [options]="colsList" optionLabel="header" [(ngModel)]="selectedColumns"
                            [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
                            [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột"></p-multiSelect>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pResizableColumn
                            [ngStyle]="{ 'text-align': col.textAlign, 'width': col.width }">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns" [ngSwitch]="col.field"
                            [ngStyle]="{ 'text-align': col.textAlign,  'width': col.width }">
                            <span class="ui-column-title">{{col.header}}</span>

                            <span *ngSwitchCase="'index'">
                                {{ index + 1 }}
                            </span>

                            <span *ngSwitchCase="'fullName'" (click)="onViewDetail(rowData)" class="link">
                                {{rowData[col.field]}}
                            </span>

                            <span *ngSwitchCase="'applicationDate'">
                                {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                            </span>

                            <span *ngSwitchCase="'statusName'" class="status"
                                [ngStyle]="{'background-color': rowData['backgroundColorForStatus']}" style="display: inline-block;
                                                          padding: 3px 3px;
                                                          color: white;
                                                          width: 115px;">
                                {{ rowData[col.field] }}
                            </span>
                            <span *ngSwitchCase="'action'">
                                <p-splitButton label="Thao tác" icon="" (onDropdownClick)="onChangeAction(rowData)"
                                    [model]="actions" appendTo="body" styleClass="ui-button-secondary">
                                </p-splitButton>
                            </span>

                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div *ngIf="!(listRecruitmentCampaign.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
            <div class="box-no-data">
                <img src="/assets/icons/components/box.svg" class="box-icon">
                <div>
                    <span>Hiện tại không có dữ liệu</span>
                </div>
            </div>
        </div>

        <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
            <div class="col-md-12 no-padding">
                <div class="box-filter">
                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Tên ứng viên</span>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="employee-code-text" placeholder="Nhập tên ứng viên"
                                [(ngModel)]="fullName">
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Chiến dịch tuyển dụng</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect [options]="listRecruitmentCampaign" [(ngModel)]="selectedRecruitmentCampaign"
                                defaultLabel="Chọn chiến dịch tuyển dụng" optionLabel="recruitmentCampaignName"
                                [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                                selectedItemsLabel="{0} chiến dịch tuyển dụng được chọn"></p-multiSelect>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Vị trí tuyển dụng</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect [options]="listVacancies" [(ngModel)]="selectedVacancies"
                                defaultLabel="Chọn vị trí tuyển dụng" optionLabel="vacanciesName"
                                [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                                selectedItemsLabel="{0} vị trí tuyển dụng được chọn"></p-multiSelect>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Ngày ứng tuyển</span>
                        </div>
                        <div class="col-md-6">
                            <p-calendar [(ngModel)]="ApplicationDateFrom" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="{{1990}}:{{today.getFullYear()}}" dateFormat="dd/mm/yy"
                                [style]="{'width':'100%'}" [maxDate]="ApplicationDateTo" placeholder="Từ"
                                showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
                        </div>
                        <div class="col-md-6">
                            <p-calendar [(ngModel)]="ApplicationDateTo" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="{{1990}}:{{today.getFullYear()}}" dateFormat="dd/mm/yy"
                                [style]="{'width':'100%'}" [minDate]="ApplicationDateFrom" placeholder="Đến"
                                showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Email</span>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="employee-code-text" placeholder="Nhập email" [(ngModel)]="email">
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>SĐT</span>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="employee-code-text" placeholder="Nhập số điện thoại"
                                [(ngModel)]="phone">
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Kênh tuyển dụng</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect [options]="listRecruitmentChannel" [(ngModel)]="selectdeRecruitmentChannel"
                                defaultLabel="Chọn kênh tuyển dụng" optionLabel="categoryName"
                                [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                                selectedItemsLabel="{0} kênh tuyển dụng được chọn"></p-multiSelect>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Trạng thái</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect [options]="listStatus" [(ngModel)]="selectedStatus"
                                defaultLabel="Chọn trạng thái" optionLabel="lable" [style]="{'width': '100%'}"
                                [resetFilterOnHide]="true" selectedItemsLabel="{0} trạng thái được chọn">
                            </p-multiSelect>
                        </div>
                    </div>

                    <div class="row no-margin pb-1">
                        <div class="col-md-12 mt-5" style="text-align: right">
                            <button type="button" class="btn-search" (click)="searchCandidate()">
                                <span class="btn-search-text">Tìm kiếm</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Lịch phỏng vấn" [(visible)]="displayAddInterviewSche" [modal]="true" class="candidate-list"
    [style]="{width: '80vw'}" [draggable]="false" [resizable]="false">
    <div class="row col-md-12">
        <form [formGroup]="interViewForm">
            <div class="row col-md-12 mb-10">
                <div class="col-md-12">
                    <b>Tiêu đề phỏng vấn</b><span class="required">*</span>
                </div>
            </div>
            <div class="row col-md-12 mb-10">
                <div class="col-md-12">
                    <input formControlName="titleFormControl" type="text" maxlength="500"
                        [ngClass]="(titleFormControl.invalid && (titleFormControl.dirty || titleFormControl.touched)) ? 'error-border' : ''"
                        class="w100" pInputText />
                </div>
                <div class="col-md-12" [hidden]="titleFormControl.valid || titleFormControl.untouched">
                    <span *ngIf="titleFormControl.hasError('required') || titleFormControl.hasError('blankString') "
                        class="error-message-span">
                        Không được để trống
                    </span>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="row col-md-12 mb-20">
                    <p-table #myTableInterview [columns]="selectedInterviewColumns" [value]="listCandidatePV"
                        [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[10,20,30]" [responsive]="true" [scrollable]="true">

                        <ng-template pTemplate="caption">
                            <div style="display: flex; align-items: center;">
                                <div class="col-md-7 no-padding" style="text-align: left;">
                                    <span>
                                        {{listCandidatePV.length}} ứng viên đã được chọn - Cập nhật ngày {{ today |
                                                                            date:'dd/MM/yyyy' }} - Sắp xếp theo thứ tự
                                        bảng chữ cái
                                    </span>
                                </div>
                            </div>
                            <div style="text-align: right;margin-top: 5px;">
                                <input [(ngModel)]="filterCandidateInterviewGlobal" [ngModelOptions]="{standalone: true}"
                                    type="text" class="iput-text"
                                    placeholder="Tìm kiếm trong danh sách"
                                    (input)="myTableInterview.filterGlobal($event.target.value.trim(), 'contains')">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                                    [ngStyle]="{ 'text-align': col.textAlign, 'display': col.display, 'width': col.width }">
                                    <span>
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </span>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                                <td pEditableColumn *ngFor="let col of columns" class="ui-resizable-column"
                                    [ngSwitch]="col.field"
                                    [ngStyle]="{'text-align': col.textAlign, 'width': col.width}">

                                    <span *ngSwitchCase="'index'">
                                        {{ rowIndex + 1 }}
                                    </span>

                                    <span *ngSwitchCase="'fullName'">
                                        {{rowData[col.field]}}
                                    </span>

                                    <span *ngSwitchCase="'interViewName'">
                                        <p-multiSelect [options]="listEmployeeInterview"
                                            formControlName="interViewNameControl" defaultLabel="Chọn người phòng vấn"
                                            [ngClass]="(interViewNameControl.invalid && (interViewNameControl.dirty || interViewNameControl.touched)) ? 'error-border' : ''"
                                            [(ngModel)]="rowData.listEmployeeId" [ngModelOptions]="{standalone: true}"
                                            [filter]="true"
                                            optionLabel="employeeCodeName" [style]="{'width': '100%'}"
                                            [resetFilterOnHide]="true" [virtualScroll]="true" [itemSize]="30"
                                            appendTo="body" [baseZIndex]="9999"
                                            selectedItemsLabel="{0} người PV được chọn">
                                        </p-multiSelect>
                                    </span>
                                    <span *ngSwitchCase="'interviewType'">
                                        <p-dropdown [(ngModel)]="rowData.interviewScheduleType"
                                            [ngModelOptions]="{standalone: true}" [options]="listInterviewType"
                                            optionLabel="categoryName" optionVal [autoDisplayFirst]="true"
                                            [style]="{'width': '100%'}" [virtualScroll]="true" itemSize="3"
                                            appendTo="body">
                                        </p-dropdown>
                                    </span>
                                    <span *ngSwitchCase="'address'">
                                        <input [style]="{'width' : '100%'}" type="text"
                                            formControlName="addressOrLinkControl" 
                                            [(ngModel)]="rowData.address" [ngModelOptions]="{standalone: true}"
                                            [ngClass]="(addressOrLinkControl.invalid && (addressOrLinkControl.dirty || addressOrLinkControl.touched)) ? 'error-border' : ''"
                                            (keydown.enter)="$event.preventDefault()" pInputText />
                                    </span>
                                    <span *ngSwitchCase="'interviewDate'">
                                        <p-calendar formControlName="applicationDateControl" dateFormat="dd/mm/yy"
                                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                            [(ngModel)]="rowData.interviewDate" [ngModelOptions]="{standalone: true}"
                                            [baseZIndex]="999" appendTo="body"
                                            showTime="true" hourFormat="24" [minDate]="today"
                                            [ngClass]="(applicationDateControl.invalid && (applicationDateControl.dirty || applicationDateControl.touched)) ? 'error-border' : ''">
                                        </p-calendar>
                                    </span>
                                    <span *ngSwitchDefault>
                                        {{rowData[col.field]}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-md-12 mb-20">
                    <div class="col-md-12" style="display: flex; justify-content: flex-end">
                        <button (click)="cancelAddIntervivewSheDialog()" type="button" class="btn-remove">
                            <span class="btn-remove-text">Đóng</span>
                        </button>
                        <button (click)="saveAddIntervivewSheDialog()" style="width: 150px;" type="button"
                            class="btn-save">
                            <span class="btn-save-text">Tạo phỏng vấn</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</p-dialog>