<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="de-xuat-cong-tac-chi-tiet">
  <div class="detail-box">
    <div class="row no-margin">
      <div class="box-header" style="width:100%">
        <div class="col-md-6 no-padding">
          <div class="row no-margin">
            <div class="col-md-1 col-sm-1 col-xs-3">
              <div class="header-box-icon" style="margin-top: 10px;">
                <!-- <img src="/assets/icons/components/create_lead.svg" class="header-icon"> -->
                <img src="../../../../assets//icons/components/create_lead.svg" class="header-icon">
              </div>
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9" style="display: contents;">
              <div>
                <span class="customer-name">Chi tiết đề xuất công tác</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="box-header-group-btn" style="display:flex;justify-content:flex-end">
                <button class="cancel" type="button" (click)="cancel()">
                  <span class="text-cancel">Thoát</span>
                </button>
                <!-- gui xac nhan ap dung quy trinh -->
                <button class="btn-save-and-new" *ngIf="isShowGuiPheDuyet" type="button" [disabled]="awaitResult"
                  (click)="guiPheDuyet()">
                  <span class="btn-save-and-new-text">Gửi phê duyệt</span>
                </button>

                <!-- xac nhan ap dung quy trinh -->
                <button class="save-and-new" style="background-color: #0f62fe;" *ngIf="isShowPheDuyet" type="button"
                  [disabled]="awaitResult" (click)="pheDuyet()">
                  <span class="text-save-phe-duyet">Phê duyệt</span>
                </button>

                <button #saveAndCreate class="save-and-new" type="button" *ngIf="isShowTuChoi"
                  (click)="openDialogReject()">
                  <span class="text-save-and-new">Từ chối</span>
                </button>

                <!-- Đặt về mới -->
                <button #save type="button" class="save-and-new" (click)="datVeMoi()" *ngIf="isShowDatVeMoi"
                  style="width: 90px !important;">
                  <span class="text-save-and-new">Đặt về mới</span>
                </button>

                <button #save type="button" class="save" (click)="exportWord()" *ngIf="trangThai == 3"
                  style="width: 150px !important;">
                  <span class="text-save">In quyết định</span>
                </button>

                <!-- Tạo hồ sơ công tác -->
                <button #save type="button" class="save" (click)="taoHoSoCongTac()" *ngIf="trangThai == 3"
                  style="width: 150px !important;">
                  <span class="text-save">Tạo hồ sơ công tác</span>
                </button>

                <button #save class="save" *ngIf="actionEdit && trangThai === 1" type="button" [disabled]="awaitResult"
                  (click)="clickUpdate()">
                  <span class="text-save">Lưu</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-padding body-wrapper" id="parent" *ngIf="listFormatStatusSupport.length > 0">
    <div class="col-md-12">
      <div class="col-md-12 no-padding" style="margin-top: 20px;">
        <ul class="nav nav-tabs slds-path__nav">
          <ng-container *ngFor="let item of listFormatStatusSupport">
            <li *ngIf="item.categoryCode == 'TEMP'" data-toggle="tab" class="slds-path__item" [ngClass]="[item.isActive ? 'active': '',
                                  item.isComplete ? 'slds-is-complete' : 'slds-is-incomplete',
                                  item.isCurrent ? 'slds-is-current' : '']">
              <p-dropdown [options]="item.children" optionLabel="nodeName" [(ngModel)]="selectedTempStatusSupport"
                [autoDisplayFirst]="false" [style]="{'width': '100%'}">
              </p-dropdown>
            </li>
            <li *ngIf="item.categoryCode != 'TEMP'" data-toggle="tab" class="slds-path__item" [ngClass]="[item.isActive ? 'active': '',
                                  item.isComplete ? 'slds-is-complete' : 'slds-is-incomplete',
                                  item.isCurrent ? 'slds-is-current' : '']">
              <a class="tabHeader slds-path__link" href="#" pTooltip="{{item.nodeName}}" tooltipPosition="bottom"
                tooltipStyleClass="custom-tooltip">
                <span class="complete slds-path__stage">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span class="slds-path__title">{{item.nodeName}}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="row no-margin" style="background-color: #f2f4f8;">
    <!-- Thông tin đề xuất -->
    <div class="col-md-12 detail-box no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <span class="col-md-12 no-padding">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down"
              [ngStyle]="{'width': '100%'}">
              <p-accordionTab header="Thông tin đề xuất" [selected]="true">
                <form [formGroup]="thongTinDeXuatFormGroup">
                  <div class="row buffer-bottom">
                    <div class="col-md-12">
                      Mã đề xuất: <span style="font-style: italic; font-weight: bold;">{{deXuatCongTac.maDeXuat}}</span>
                    </div>
                    <div class="col-md-12 mt-10">
                      Trạng thái: <strong>{{trangThaiString}}</strong>
                    </div>
                    <div class="col-md-3 mt-10">
                      <div class="row">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Tên đề xuất</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <input formControlName="tenDeXuatFormControl" type="text" maxlength="500"
                            [ngClass]="(tenDeXuatFormControl.invalid && (tenDeXuatFormControl.dirty || tenDeXuatFormControl.touched)) ? 'error-border' : ''"
                            class="w100" pInputText />
                        </div>
                        <div class="col-md-12" [hidden]="tenDeXuatFormControl.valid || tenDeXuatFormControl.untouched">
                          <span
                            *ngIf="tenDeXuatFormControl.hasError('required') || tenDeXuatFormControl.hasError('blankString') "
                            class="error-message-span"> Không được để trống</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mt-10">
                      <div class="row">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Ngày đề xuất</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-calendar formControlName="ngayDeXuatFormControl" dateFormat="dd/mm/yy" showButtonBar="true"
                            [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}" [minDate]="today"
                            [style]="{'width':'100%'}" [monthNavigator]="true" (keydown.enter)="$event.preventDefault()"
                            [inputStyle]="{'width':'100%'}" [baseZIndex]="999" appendTo="body">
                          </p-calendar>
                        </div>
                        <div class="col-md-12"
                          [hidden]="ngayDeXuatFormControl.valid || ngayDeXuatFormControl.untouched">
                          <span
                            *ngIf="ngayDeXuatFormControl.hasError('required') || ngayDeXuatFormControl.hasError('blankString') "
                            class="error-message-span"> Không được để trống</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mt-10">
                      <div class="row">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Người đề xuất</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listEmpDefault" optionLabel="employeeName" [style]="{'width': '100%'}"
                            [filter]="true" (keydown.enter)="$event.preventDefault()"
                            formControlName="nguoiDeXuatFormControl"
                            [ngClass]="(nguoiDeXuatFormControl.invalid && (nguoiDeXuatFormControl.dirty || nguoiDeXuatFormControl.touched)) ? 'error-border' : ''">
                          </p-dropdown>

                        </div>
                        <div class="col-md-12"
                          [hidden]="nguoiDeXuatFormControl.valid || nguoiDeXuatFormControl.untouched">
                          <span
                            *ngIf="nguoiDeXuatFormControl.hasError('required') || nguoiDeXuatFormControl.hasError('blankString') "
                            class="error-message-span"> Không được để trống</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row buffer-bottom">
                  </div>
                </form>
              </p-accordionTab>
            </p-accordion>
          </span>
        </div>
      </div>
    </div>

    <!-- Nhân sự đề xuất công tác -->
    <div class="col-md-12 detail-box no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <span class="col-md-12 no-padding">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down"
              [ngStyle]="{'width': '100%'}">
              <p-accordionTab header="Nhân sự đề xuất công tác" [selected]="true">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Họ tên</span><span class="required">*</span>
                        </div>
                        <form [formGroup]="nhanVienFormGroup">
                          <div class="col-md-12">
                            <p-dropdown [options]="listEmp" optionLabel="employeeName" [style]="{'width': '100%'}"
                              [filter]="true" placeholder="Chọn nhân viên"
                              [ngClass]="(nhanVienControl.invalid && (nhanVienControl.dirty || nhanVienControl.touched)) ? 'error-border' : ''"
                              (keydown.enter)="$event.preventDefault()" formControlName="nhanVienControl"
                              (onChange)="thayDoiNhanVien($event)">
                            </p-dropdown>
                          </div>
                          <div class="col-md-12" [hidden]="nhanVienControl.valid || nhanVienControl.untouched">
                            <span
                              *ngIf="nhanVienControl.hasError('required') || nhanVienControl.hasError('blankString') "
                              class="error-message-span"> Không được để trống</span>
                          </div>
                        </form>
                      </div>

                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Phòng ban:</span>
                        </div>
                        <div class="col-md-12">
                          <input id="input" type="text" size="30" value="{{employeeModel.organizationName}}" pInputText
                            [ngStyle]="{'width': '100%'}" disabled="true">
                        </div>
                      </div>

                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Ngày sinh:</span>
                        </div>
                        <div class="col-md-12">
                          <p-calendar [(ngModel)]="employeeModel.dateOfBirth" dateFormat="dd/mm/yy"
                            [style]="{'width':'100%'}" disabled="true" [inputStyle]="{'width':'100%'}"
                            [baseZIndex]="999">
                          </p-calendar>
                        </div>
                      </div>
                    </div>

                    <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Mã nhân viên:</span>
                        </div>
                        <div class="col-md-12">
                          <input id="input" type="text" size="30" value="{{employeeModel.employeeCode}}" pInputText
                            [ngStyle]="{'width': '100%'}" disabled="true">
                        </div>
                      </div>
                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Chức vụ:</span>
                        </div>
                        <div class="col-md-12">
                          <input id="input" type="text" size="30" value="{{employeeModel.positionName}}" pInputText
                            [ngStyle]="{'width': '100%'}" disabled="true">
                        </div>
                      </div>

                      <div class="col-md-4 buffer-bottom-label">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Số CMT/CCCD:</span>
                        </div>
                        <div class="col-md-12">
                          <input id="input" type="text" size="30" value="{{employeeModel.identity}}" pInputText
                            [ngStyle]="{'width': '100%'}" disabled="true">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12 buffer-bottom-label">
                      <div class="col-md-12 buffer-bottom-label">
                        <span>Lý do</span><span class="required">*</span>
                      </div>
                      <form [formGroup]="nhanVienFormGroup">
                        <div class="col-md-12">
                          <textarea formControlName="lyDoControl" matInput placeholder=""
                            style="width: 100%!important;height:80px!important;"
                            [ngClass]="(lyDoControl.invalid && (lyDoControl.dirty || lyDoControl.touched)) ? 'error-border' : ''"></textarea>
                        </div>
                        <div class="col-md-12" [hidden]="lyDoControl.valid || lyDoControl.untouched">
                          <span *ngIf="lyDoControl.hasError('required') || lyDoControl.hasError('blankString') "
                            class="error-message-span"> Không được để trống</span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="trangThai == 1">
                  <div class="col-md-12">
                    <div class="row buffer-bottom">
                      <div class="col-md-12 buffer-bottom-label" style="display:flex;justify-content:flex-end">
                        <button pButton icon="pi pi-refresh" class="ui-button-primary" (click)="refreshForm()"></button>
                        <button #save type="button" class="btn-save" (click)="themNhanVienCongTac()" *ngIf="!isUpdate"
                          style="background-color: #116fbf;color: #ffffff;border-color: #116fbf;">
                          <span class="btn-save-text">Thêm</span>
                        </button>
                        <button #save type="button" class="btn-save" (click)="capNhatNhanVienCongTac()" *ngIf="isUpdate"
                          style="background-color: #116fbf;color: #ffffff;border-color: #116fbf;">
                          <span class="btn-save-text">Cập nhật</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </span>
        </div>
      </div>
    </div>

    <!-- Danh sách đề xuất -->
    <div class="col-md-12 detail-box no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down"
            [ngStyle]="{'width': '100%'}">
            <p-accordionTab header="Danh sách đề xuất" [selected]="true">
              <div class="col-md-12 no-padding">
                <div class="box-filter">
                  <div class="row no-margin" style="margin-bottom:10px!important;">
                    <div class="col-md-12 buffer-bottom-label" style="display:flex;justify-content:flex-end">
                      <input type="text" class="iput-text" [(ngModel)]="filterGlobal" pInputText maxlength="500"
                        placeholder="Tìm kiếm trong danh sách"
                        (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')"
                        style="width:240px!important;">
                    </div>
                  </div>
                  <div class="row no-margin">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                      <p-table #myTable [columns]="selectedColumns" [value]="listDeXuatCongTacChiTietTemp"
                        [resizableColumns]="true" [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th style="width: 2em; text-align: center;">
                              #
                            </th>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width}">
                              <span>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                              </span>
                            </th>
                            <th style="width:100px" *ngIf="trangThai == 1">Thao tác</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                          <tr>
                            <td style="width: 2em; text-align: center;">
                              {{i + 1}}
                            </td>
                            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                              [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width' : col.width}">
                              <span class="ui-column-title">{{col.header}}</span>

                              <span *ngSwitchCase="'dateOfBirth'">
                                {{rowData[col.field]| date:'dd/MM/yyyy'}}
                              </span>

                              <span *ngSwitchDefault>
                                {{rowData[col.field]}}
                              </span>
                            </td>
                            <td style="width:100px" *ngIf="trangThai == 1">
                              <button pButton icon="fa fa-pencil" class="ui-button-primary"
                                (click)="reShowDeXuatChiTiet(rowData)"></button>
                              &nbsp;
                              <button pButton icon="pi pi-trash" class="ui-button-danger"
                                (click)="delNhanVienTemp(rowData)"></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>

    <div class="col-md-12 detail-box no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down"
            [ngStyle]="{'width': '100%'}">
            <p-accordionTab header="Thông tin công tác" [selected]="true">
              <div class="col-md-12 no-padding" style="margin-top: 30px;">
                <div class="box-filter">
                  <form [formGroup]="deXuatCongTacFormGroup">
                    <div class="row buffer-bottom">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Đơn vị công tác</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <input formControlName="donViFormControl" type="text" maxlength="500"
                              [ngClass]="donViFormControl.invalid && (donViFormControl.dirty || donViFormControl.touched) ? 'error-border' : ''"
                              class="w100" pInputText />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Ngày bắt đầu</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <p-calendar formControlName="thoiGianBatDauFormControl" dateFormat="dd/mm/yy"
                              showButtonBar="true" [yearNavigator]="true" [style]="{ width: '100%' }"
                              [monthNavigator]="true" (keydown.enter)="$event.preventDefault()"
                              [styleClass]="(thoiGianBatDauFormControl.invalid && (thoiGianBatDauFormControl.dirty || thoiGianBatDauFormControl.touched)) ? 'error-border' : ''"
                              [inputStyle]="{ width: '100%' }" [baseZIndex]="999" appendTo="body">
                            </p-calendar>
                          </div>
                          <div class="col-md-12"
                            [hidden]="thoiGianBatDauFormControl.valid || thoiGianBatDauFormControl.untouched">
                            <span
                              *ngIf="thoiGianBatDauFormControl.hasError('required') || thoiGianBatDauFormControl.hasError('blankString') "
                              class="error-message-span"> Không được để trống</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Ngày kết thúc</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <p-calendar formControlName="thoiGianKetThucFormControl" dateFormat="dd/mm/yy"
                              showButtonBar="true" [yearNavigator]="true" [minDate]="thoiGianBatDauFormControl.value"
                              [style]="{ width: '100%' }" [monthNavigator]="true"
                              (keydown.enter)="$event.preventDefault()"
                              [styleClass]="(thoiGianKetThucFormControl.invalid && (thoiGianKetThucFormControl.dirty || thoiGianKetThucFormControl.touched)) ? 'error-border' : ''"
                              [inputStyle]="{ width: '100%' }" [baseZIndex]="999" appendTo="body">
                            </p-calendar>
                          </div>
                          <div class="col-md-12"
                            [hidden]="thoiGianKetThucFormControl.valid || thoiGianKetThucFormControl.untouched">
                            <span
                              *ngIf="thoiGianKetThucFormControl.hasError('required') || thoiGianKetThucFormControl.hasError('blankString') "
                              class="error-message-span"> Không được để trống</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row buffer-bottom">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Địa điểm công tác</span>
                          </div>
                          <div class="col-md-12">
                            <input formControlName="diaDiemFormControl" type="text" maxlength="500" class="w100"
                              pInputText />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Phương tiện công tác</span>
                          </div>
                          <div class="col-md-12">
                            <input formControlName="phuongTienFormControl" type="text" maxlength="500" class="w100"
                              pInputText />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row buffer-bottom">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Nhiệm vụ</span>
                          </div>
                          <div class="col-md-12">
                            <textarea formControlName="nhiemVuFormControl" type="text" rows="5" class="w100"
                              pInputText></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>

    <div class="col-md-12 detail-box no-padding" style="margin-top: 20px;">
      <div class="box-filter">
        <div class="row no-margin">
          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <p-accordionTab header="Tài liệu liên quan" [selected]="true">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12 mt-5">
                    <p-fileUpload #fileUpload name="demo[]" customUpload="true" multiple="multiple"
                      [showUploadButton]="true"
                      accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                      [maxFileSize]="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                      invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                      invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                      invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                      chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" (onSelect)="handleFile($event, fileUpload)"
                      (uploadHandler)="myUploader($event)" (onRemove)="removeFile($event)" (onClear)="clearAllFile()">
                    </p-fileUpload>
                  </div>

                  <div class="col-md-12 mt-5">
                    <p-table #dt [columns]="colsFile" [value]="arrayDocumentModel" [responsive]="true"
                      [resizableColumns]="true" [paginator]="true" [rows]="10">
                      <ng-template pTemplate="caption">
                        <div style="text-align: right">
                          <input type="text" pInputText size="50" placeholder="Tên tài liệu"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                            {{col.header}}
                          </th>
                          <th style="width:4em"></th>
                          <th style="width:4em"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                            [ngStyle]="{'text-align': col.textAlign}">
                            <span class="ui-column-title">{{col.header}}</span>
                            <span *ngSwitchCase="'fileFullName'">
                              {{rowData[col.field].substring(0,rowData[col.field].lastIndexOf('_'))}}.{{rowData[col.field].substring(rowData[col.field].lastIndexOf('.')+1,
                              rowData[col.field].length)}}
                            </span>
                            <span *ngSwitchCase="'createdDate'">
                              {{rowData[col.field] | date:'dd/MM/yyyy h:mm a'}}
                            </span>
                            <span *ngSwitchCase="'size'">
                              <ng-container *ngIf="convertFileSize(rowData[col.field])">
                                {{rowData[col.field] / 1024 | number}} KB
                              </ng-container>
                              <ng-container *ngIf="!convertFileSize(rowData[col.field])">
                                {{rowData[col.field] / 1048576 | number}} MB
                              </ng-container>
                            </span>
                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                          </td>
                          <td>
                            <button pButton icon="pi pi-trash" (click)="deleteFile(rowData)"
                              class="ui-button-danger"></button>
                          </td>
                          <td>
                            <button pButton icon="pi pi-download" (click)="downloadFile(rowData)"></button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>

    <div class="col-md-12 detail-box no-padding" style="margin-top: 20px;">
      <div class="box-filter">
        <div class="row no-margin">
          <app-note-time-line style="width: 100%;" [viewNote]="true" [viewTimeline]="true" objectType="DEXUATCT"
            [objectNumber]="deXuatCongTacId" [actionAdd]="true" [actionEdit]="false" [actionDelete]="false"
            [pageSize]="10" [refresh]="refreshNote">
          </app-note-time-line>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="" [(visible)]="showLyDoTuChoi" [modal]="true" [responsive]="true"
  [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000" [closable]="true"
  (onHide)="closeDialog()" class="dialog-form">
  <form [formGroup]="tuChoiForm">
    <div class="col-md-12 buffer-bottom-label">
      <span>Lý do từ chối</span><span class="required">*</span>
    </div>
    <div class="col-md-12">
      <textarea formControlName="lyDoTuChoiControl"
        [ngClass]="(lyDoTuChoiControl.invalid && (lyDoTuChoiControl.dirty || lyDoTuChoiControl.touched)) ? 'error-border' : ''"
        type="text" rows="7" style="width: 100%;" class="w100" pInputText></textarea>
    </div>
  </form>
  <p-footer>
    <button type="button" class="btn-save" (click)="tuChoi()">
      <span class="btn-save-text">Xác nhận</span>
    </button>
    <button #save type="button" class="btn-cancel" (click)="closeDialog()">
      <span class="btn-cancel-text">Hủy</span>
    </button>
  </p-footer>
</p-dialog>
