<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>

<div class="yeu-cau-cap-phat-detail">
  <!-- CONTENT -->

  <div class="row no-margin" id="parent">
    <div class="col-md-12 header" style="padding: 6px;">
      <div class="row">

        <div class="col-md-4 no-padding">
          <div class="row no-margin">
            <div class="col-md-1 col-sm-1 col-xs-3">
              <div class="header-box-icon">
                <img src="/assets/icons/components/create_lead.svg" class="header-icon">
              </div>
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9">
              <div>
                <span class="customer-name">Chi tiết yêu cấp phát tài sản</span>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div style="float: right;">
                <span *ngIf="!isInvalidForm" style="margin-right: 30px;">
                  <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                </span>
                <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                  <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                </div>
                <div class="notification" #notifi *ngIf="isOpenNotifiError">
                  <div *ngIf="isInvalidForm" class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng nhập ngày đề xuất</span>
                  </div>
                </div>

                <button class="cancel" type="button" (click)="cancel()">
                  <span class="text-cancel">Thoát</span>
                </button>

                <!-- gui xac nhan ap dung quy trinh -->
                <button class="btn-save-and-new" *ngIf="isShowGuiPheDuyet" type="button" [disabled]="awaitResult"
                  (click)="guiPheDuyet()">
                  <span class="btn-save-and-new-text">Gửi phê duyệt</span>
                </button>

                <!-- xac nhan ap dung quy trinh -->
                <button class="save-and-new" *ngIf="isShowPheDuyet" type="button" [disabled]="awaitResult"
                  (click)="pheDuyet()">
                  <span class="text-save-and-new">Phê duyệt</span>
                </button>

                <button *ngIf="isShowHuyYeuCauPheDuyet" class="save-and-new" type="button" [disabled]="awaitResult"
                  (click)="huyYeuCacXacNhan()" style="width: 160px !important;">
                  <span class="text-save-and-new">Hủy yêu cầu xác nhận</span>
                </button>

                <button #saveAndCreate class="save-and-new" type="button" *ngIf="isShowTuChoi"
                  (click)="openDialogReject()">
                  <span class="text-save-and-new">Từ chối</span>
                </button>

                <!-- Hủy -->
                <!-- <button class="cancel" *ngIf="isShowHuy" type="button" [disabled]="awaitResult" (click)="huy()">
                  <span class="text-cancel">Hủy</span>
                </button> -->

                <!-- Phân bổ -->
                <button class="save" *ngIf="(trangThai == 3 && actionCapPhat) && actionCapPhat" type="button"
                  [disabled]="awaitResult" (click)="phanBoYeuCauCP()">
                  <span class="text-save">Lưu</span>
                </button>

                <!-- Đặt về mới -->
                <button #save type="button" class="save-and-new" (click)="datVeMoi()" *ngIf="isShowDatVeMoi"
                  style="width: 90px !important;">
                  <span class="text-save-and-new">Đặt về mới</span>
                </button>


                <button #save class="save" *ngIf="actionAdd && trangThai === 1" type="button" [disabled]="awaitResult"
                  (click)="taoYeuCauCapPhat()">
                  <span class="text-save">Lưu</span>
                </button>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent" *ngIf="listFormatStatusSupport.length > 0">
    <div class="col-md-12">
      <!-- TRẠNG THÁI QUY TRÌNH -->
      <div class="col-md-12 no-padding" style="margin-top: 20px;">
        <ul class="nav nav-tabs slds-path__nav">
          <ng-container *ngFor="let item of listFormatStatusSupport">
            <li *ngIf="item.categoryCode == 'TEMP'" data-toggle="tab" class="slds-path__item" [ngClass]="[item.isActive ? 'active': '',
                              item.isComplete ? 'slds-is-complete' : 'slds-is-incomplete',
                              item.isCurrent ? 'slds-is-current' : '']">
              <p-dropdown [options]="item.children" optionLabel="nodeName" [(ngModel)]="selectedTempStatusSupport"
                [autoDisplayFirst]="false" [style]="{'width': '100%'}">
              </p-dropdown>
            </li>
            <li *ngIf="item.categoryCode != 'TEMP'" data-toggle="tab" class="slds-path__item" [ngClass]="[item.isActive ? 'active': '',
                              item.isComplete ? 'slds-is-complete' : 'slds-is-incomplete',
                              item.isCurrent ? 'slds-is-current' : '']">
              <a class="tabHeader slds-path__link" href="#" pTooltip="{{item.nodeName}}" tooltipPosition="bottom"
                tooltipStyleClass="custom-tooltip">
                <span class="complete slds-path__stage">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span class="slds-path__title">{{item.nodeName}}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <!-- THÔNG TIN CHUNG -->
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Thông tin yêu cầu" [selected]="true">
          <div class="row">
            <div class="col-md-12">
              <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
                <!-- HÀNG 1 -->
                <div class="col-md-12 mb-5">
                  <div class="col-md-3">
                    <div class="row buffer-bottom">
                      <div class="col-md-12 buffer-bottom-label">
                        <span>Trạng thái</span>
                      </div>
                      <div class="col-md-12">
                        <span><strong>{{trangThaiYC}}</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row buffer-bottom">
                      <div class="col-md-12 buffer-bottom-label">
                        <span>Mã yêu cầu</span><span class="required">*</span>
                      </div>
                      <div class="col-md-12">
                        <span style="font-style: italic;"><strong>{{yeuCauCapPhat.maYeuCau}}</strong></span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="row col-md-12 buffer-bottom">
                      <div class="col-md-12 buffer-bottom-label">
                        <span>Ngày đề xuất</span><span class="required">*</span>
                      </div>
                      <div class="col-md-12">
                        <p-calendar [(ngModel)]="yeuCauCapPhat.ngayDeXuat" dateFormat="dd/mm/yy" showButtonBar="true"
                          [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}" [monthNavigator]="true"
                          [disabled]="trangThai== 1 ? false : true"
                          [styleClass]="(ngayDeXuatControl.invalid && (ngayDeXuatControl.dirty || ngayDeXuatControl.touched)) ? 'error-border' : ''"
                          (keydown.enter)="$event.preventDefault()" [style]="{'width':'100%'}"
                          [inputStyle]="{'width':'100%'}">
                        </p-calendar>
                      </div>
                      <div class="col-md-12" [hidden]="ngayDeXuatControl.valid || ngayDeXuatControl.untouched">
                        <span
                          *ngIf="ngayDeXuatControl.hasError('required') || ngayDeXuatControl.hasError('blankString') "
                          class="error-message-span">
                          Không được để trống
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row buffer-bottom">
                      <div class="col-md-12 buffer-bottom-label">
                        <span>Người đề xuất</span><span class="required">*</span>
                      </div>
                      <div class="col-md-12">
                        <span><strong>
                            {{yeuCauCapPhat.nguoiDeXuat}}
                          </strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent" *ngIf="!(trangThai == 3 && actionCapPhat) && !isShowHoanThanh">
    <div class="col-md-12">
      <!-- THÔNG TIN TÀI SẢN YÊU CẦU -->
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down"
        *ngIf="trangThai ==1">
        <form [formGroup]="yeuCauCapPhatForm">
          <p-accordionTab header="Thông tin tài sản yêu cầu" [selected]="true">
            <div class="row">
              <div class="col-md-12">
                <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">

                  <!-- cột 1 -->
                  <div class="col-md-3">
                    <!-- Loại phân bổ -->
                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Loại tài sản</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listLoaiTS" formControlName="loaiTaiSanControl"
                            [styleClass]="(loaiTaiSanControl.invalid  && (loaiTaiSanControl.dirty ||  loaiTaiSanControl.touched)) ? 'error-border': ''"
                            placeholder="Chọn loại tài sản phân bổ" optionLabel="categoryName"
                            [style]="{'width': '100%'}" [filter]="true" [resetFilterOnHide]="true"
                            [virtualScroll]="true" itemSize="10">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="loaiTaiSanControl.valid || loaiTaiSanControl.untouched">
                          <span
                            *ngIf="loaiTaiSanControl.hasError('required') || loaiTaiSanControl.hasError('blankString') "
                            class="error-message-span">
                            Không được để trống
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Mã nhân viên yêu cầu</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listEmployee" formControlName="nhanVienControl"
                            [styleClass]="(nhanVienControl.invalid  && (nhanVienControl.dirty ||  nhanVienControl.touched)) ? 'error-border': ''"
                            [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                            (onChange)="thayDoiNhanVien($event)" placeholder="Chọn nhân viên"
                            optionLabel="employeeCodeName" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="nhanVienControl.valid || nhanVienControl.untouched">
                          <span *ngIf="nhanVienControl.hasError('required') || nhanVienControl.hasError('blankString') "
                            class="error-message-span">
                            Không được để trống
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Mục đích sử dụng</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listMucDichSuDung" formControlName="mucDichSuDungControl"
                            [styleClass]="(mucDichSuDungControl.invalid  && (mucDichSuDungControl.dirty ||  mucDichSuDungControl.touched)) ? 'error-border': ''"
                            [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                            placeholder="Chọn mục đích sử dụng" optionLabel="categoryName" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="mucDichSuDungControl.valid || mucDichSuDungControl.untouched">
                          <span
                            *ngIf="mucDichSuDungControl.hasError('required') || mucDichSuDungControl.hasError('blankString') "
                            class="error-message-span">
                            Không được để trống
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- cột 2 -->
                  <div class="col-md-3">
                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Số lượng</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <input type="text" class="number-input" formControlName="soLuongControl"
                            (keydown.enter)="$event.preventDefault()"
                            [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                            [ngClass]="(soLuongControl.hasError('pattern')||soLuongControl.hasError('min')||soLuongControl.hasError('required')) && !soLuongControl.valid && !soLuongControl.untouched ? 'error-border' : ''"
                            [style]="{'width': '100%', 'display':'inline-grid'}">
                        </div>
                        <div class="col-md-12" [hidden]="soLuongControl.valid || soLuongControl.untouched">
                          <span *ngIf="soLuongControl.hasError('required') || soLuongControl.hasError('blankString') "
                            class="error-message-span">
                            Không được để trống
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Phòng ban</span>
                        </div>
                        <div class="col-md-12">
                          <input id="input" type="text" size="30" pInputText value="{{employeeModel.organizationName}}"
                            [ngStyle]="{'width': '100%'}" disabled="true">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Sử dụng từ ngày</span><span class="required">*</span>
                        </div>
                        <div class="col-md-12">
                          <p-calendar #start formControlName="ngayBatDauControl" dateFormat="dd/mm/yy"
                            showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                            [style]="{'width':'100%'}" [maxDate]="ngayKetThucControl.value" [monthNavigator]="true"
                            [styleClass]="(ngayBatDauControl.invalid && (ngayBatDauControl.dirty || ngayBatDauControl.touched)) ? 'error-border' : ''"
                            (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"
                            appendTo="body">
                          </p-calendar>
                        </div>
                        <div class="col-md-12" [hidden]="ngayBatDauControl.valid || ngayBatDauControl.untouched">
                          <span
                            *ngIf="ngayBatDauControl.hasError('required') || ngayBatDauControl.hasError('blankString') "
                            class="error-message-span">
                            Không được để trống
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- cột 3 -->
                  <div class="col-md-6">
                    <!-- Mô tả -->
                    <div class="col-md-12">
                      <div class="row col-md-12 buffer-bottom">
                        <div class="col-md-12 buffer-bottom-label">
                          <span>Mô tả</span>
                        </div>
                        <div class="col-md-12">
                          <input formControlName="moTaControl" type="text" maxlength="500" style="width: 107.3%"
                            pInputText />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 no-padding">
                      <div class="col-md-12">
                        <div class="row col-md-12 buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Khu vực</span>
                          </div>
                          <div class="col-md-12">
                            <input id="input" type="text" size="30" pInputText value="{{employeeModel.provinceName}}"
                              [ngStyle]="{'width': '100%'}" disabled="true">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="row col-md-12 buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Sử dụng đến ngày</span>
                          </div>
                          <div class="col-md-12">
                            <p-calendar #start formControlName="ngayKetThucControl" dateFormat="dd/mm/yy"
                              showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                              [style]="{'width':'100%'}" [minDate]="ngayBatDauControl.value" [monthNavigator]="true"
                              (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                              [baseZIndex]="999" appendTo="body">
                            </p-calendar>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 no-padding">
                      <div class="col-md-12">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Lý do yêu cầu</span>
                          </div>
                          <div class="col-md-12">
                            <textarea formControlName="lyDoControl" type="text" rows="5" class="w100"
                              pInputText></textarea>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- HÀNG 4 -->
                  <div class="col-md-12 mb-5 mt-15">
                    <button #save class="save" style="float: right;" *ngIf="!isUpdate" type="button"
                      (click)="createYeuCauTemp()" [disabled]="awaitResult"><span class="text-save">Thêm</span></button>

                    <button #save class="save" style="float: right;" *ngIf="isUpdate" type="button"
                      (click)="updateYeuCauTemp()" [disabled]="awaitResult"><span class="text-save">Cập
                        nhật</span></button>

                    <button type="button" class="btn-refresh" style="float: right;" (click)="refreshForm()">
                      <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </p-accordionTab>
        </form>
      </p-accordion>

      <!-- DANH SÁCH YÊU CẦU -->
      <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px" id="parent">
        <div class="col-md-12">
          <label style="font-weight: bold !important;">Danh sách tài sản yêu cầu</label>
          <p-table #myTable [columns]="selectedColumns" [value]="listTaiSanYeuCauTemp" [responsive]="true"
            [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,30,100]">
            <ng-template pTemplate="caption">
              <div style="text-align: left;">
                <p-multiSelect [options]="cols" optionLabel="header" [(ngModel)]="selectedColumns"
                  [ngModelOptions]="{ standalone: true }" columnResizeMode="expand"
                  selectedItemsLabel="{0} cột được chọn" [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột">
                </p-multiSelect>
              </div>

              <div style="text-align: right">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" class="search" pInputText size="50" placeholder="Nhập từ khóa tìm kiếm"
                  (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">

                <button class="save" *ngIf="trangThai == 3 && actionCapPhat" type="button" (click)="importAsset()">
                  <span class="text-save">Import file</span>
                </button>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width:30px">#</th>
                <th *ngFor="let col of columns" pResizableColumn
                  [ngStyle]="{'width': col.width, 'text-align': col.textAlign}">
                  {{col.header}}
                </th>
                <th style="width:150px" *ngIf="trangThai == 3 && actionCapPhat">Thao tác</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
              <tr [pSelectableRow]="rowData">
                <td style="text-align: center;width:30px">
                  {{i + 1}}
                </td>
                <td pEditableColumn *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                  [ngStyle]="{'width': col.width,'display':rowData.col,  'text-align': col.textAlign}">
                  <span class="ui-column-title">{{col.header}}</span>

                  <span *ngSwitchCase="'soLuongPheDuyet'">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" class="number-input"
                          [disabled]="(trangThai == 3 || trangThai == 2) ? false : true"
                          [cleave]="{numeral: true, numeralPositiveOnly: true}" [(ngModel)]="rowData.soLuongPheDuyet"
                          [ngModelOptions]="{standalone: true}" (change)="kiemTraSoLuong(rowData)"
                          [ngStyle]="{'width': rowData.col,'display':rowData.col, 'text-align': rowData.col}">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.soLuongPheDuyet}}
                      </ng-template>
                    </p-cellEditor>
                  </span>
                  <!-- [disabled]="(trangThai == 3 && actionCapPhat) ? true : false" -->

                  <span *ngSwitchCase="'ngayBatDau'">{{rowData[col.field]| date:'dd/MM/yyyy'}}</span>
                  <span *ngSwitchCase="'ngayKetThuc'">{{rowData[col.field]| date:'dd/MM/yyyy'}}</span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
                <td style="width:150px" *ngIf="trangThai == 3 && actionCapPhat">
                  <button pButton icon="fa fa-pencil" class="ui-button-primary" (click)="reShowAsset(rowData)"></button>
                  &nbsp;
                  <button pButton icon="pi pi-trash" class="ui-button-danger" (click)="delAssetTemp(rowData)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

    </div>
  </div>


  <div class="row no-padding body-wrapper" id="parent" *ngIf="(trangThai == 3 && actionCapPhat) || isShowHoanThanh">
    <div class="col-md-12">
      <!-- PHÂN BỔ TẢI SẢN -->
      <form [formGroup]="taoPhanBoForm">
        <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
          <p-accordionTab header="Tạo phân bổ" [selected]="true">
            <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
              <!-- Cột 1 -->
              <div class="col-md-3 mb-5">
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-10 buffer-bottom-label">
                      <span>Tài sản phân bổ</span><span class="required">*</span>
                    </div>
                    <div style="display: flex; justify-content: right;">
                      <div class="col-md-1" style="float: right;" *ngIf="isAddAsset">
                        <i pTooltip="Tạo nhanh tài sản" tooltipZIndex="10000" class="pi pi-plus"
                          style="color: #0000FF; cursor: pointer;" (click)="openAddAssetDialog()"></i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <p-dropdown [options]="listTaiSanChuaPhanBo" formControlName="taiSanPhanBoControl"
                        [styleClass]="(taiSanPhanBoControl.invalid  && (taiSanPhanBoControl.dirty ||  taiSanPhanBoControl.touched)) ? 'error-border': ''"
                        (onChange)="thayDoiTaiSanPhanBo($event)" placeholder="Chọn tài sản" optionLabel="maTaiSan"
                        [style]="{'width': '100%'}">
                      </p-dropdown>
                    </div>
                    <div class="col-md-12" [hidden]="taiSanPhanBoControl.valid || taiSanPhanBoControl.untouched">
                      <span
                        *ngIf="taiSanPhanBoControl.hasError('required') || taiSanPhanBoControl.hasError('blankString') "
                        class="error-message-span">
                        Không được để trống
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Mã nhân viên</span><span class="required">*</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30"
                        value="{{yeuCauCapPhatChiTietModel.maNV + '-' + yeuCauCapPhatChiTietModel.tenNhanVien}}"
                        pInputText [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Mục đích sử dụng</span><span class="required">*</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{yeuCauCapPhatChiTietModel.mucDichSuDung}}"
                        pInputText [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

              </div>

              <!-- Cột 2 -->
              <div class="col-md-3 mb-5">
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Số serial</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{yeuCauCapPhatChiTietModel.soSerial}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Phòng ban</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{yeuCauCapPhatChiTietModel.phongBan}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Sử dụng từ ngày</span><span class="required">*</span>
                    </div>
                    <div class="col-md-12">
                      <p-calendar #start formControlName="ngayBatDauPhanBoControl" dateFormat="dd/mm/yy"
                        showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                        [style]="{'width':'100%'}" [maxDate]="ngayKetThucPhanBoControl.value" [monthNavigator]="true"
                        [styleClass]="(ngayBatDauPhanBoControl.invalid && (ngayBatDauPhanBoControl.dirty || ngayBatDauPhanBoControl.touched)) ? 'error-border' : ''"
                        (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"
                        appendTo="body">
                      </p-calendar>
                    </div>
                    <div class="col-md-12"
                      [hidden]="ngayBatDauPhanBoControl.valid || ngayBatDauPhanBoControl.untouched">
                      <span
                        *ngIf="ngayBatDauPhanBoControl.hasError('required') || ngayBatDauPhanBoControl.hasError('blankString') "
                        class="error-message-span">
                        Không được để trống
                      </span>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Cột 3 -->
              <div class="col-md-3 mb-5">
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Vị trí tài sản</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{yeuCauCapPhatChiTietModel.viTriTs}}" pInputText
                        [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Khu vực</span>
                    </div>
                    <div class="col-md-12">
                      <input id="input" type="text" size="30" value="{{yeuCauCapPhatChiTietModel.viTriLamViec}}"
                        pInputText [ngStyle]="{'width': '100%'}" disabled="true">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Sử dụng đến ngày</span>
                    </div>
                    <div class="col-md-12">
                      <p-calendar #start formControlName="ngayKetThucPhanBoControl" dateFormat="dd/mm/yy"
                        showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                        [style]="{'width':'100%'}" [minDate]="ngayBatDauPhanBoControl.value" [monthNavigator]="true"
                        (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"
                        appendTo="body">
                      </p-calendar>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Cột 4 -->
              <div class="col-md-3 mb-5">
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label">
                      <span>Lý do phân bổ</span>
                    </div>
                    <div class="col-md-12">
                      <textarea pInputTextarea id="input" type="text" size="30"
                        value="{{yeuCauCapPhatChiTietModel.lyDo}}" [ngStyle]="{'width': '100%'}" disabled="true"
                        [rows]="6"> </textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row buffer-bottom">
                    <div class="col-md-12 buffer-bottom-label"> <button class="save" *ngIf="!isShowHoanThanh"
                        style="float: right;" type="button" (click)="capNhapPhanBo()" [disabled]="awaitResult"><span
                          class="text-save">Cập
                          nhật</span></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </p-accordionTab>
        </p-accordion>
      </form>


      <!-- DANH SÁCH TÀI SẢN PHÂN BỔ -->
      <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px" id="parent"
        *ngIf="(trangThai == 3 && actionCapPhat)|| isShowHoanThanh">
        <div class="col-md-12">
          <label style="font-weight: bold !important;">Danh sách tài sản phân bổ</label>

          <p-treeTable [value]="dataTree">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of colsItem" [ngStyle]="{'width': col.width, 'text-align': col.textAlign}">
                  {{col.header}}
                </th>
                <th style="width:100px">Thao tác</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr>
                <td *ngFor="let col of colsItem; let i = index" ttEditableColumn [ngSwitch]="col.field"
                  [ngStyle]="{'width': col.width, 'text-align': col.textAlign}">
                  <!-- <span *ngSwitchCase="'#'">
                                      {{i + 1}}
                                    </span> -->
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                  <span *ngSwitchCase="'maTaiSan'">
                    <span *ngIf="rowData['parentPartId'] == 0 || rowData['parentPartId'] == null">
                      &nbsp;
                    </span>
                    <span (click)="xemChiTietTaiSan(rowData)" class="link"
                      *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0">
                      {{rowData[col.field]}}
                    </span>
                  </span>
                  <span *ngSwitchCase="'soLuong'">
                    <span *ngIf="rowData['parentPartId'] == 0 || rowData['parentPartId'] == null">
                      {{rowData[col.field]| number}}
                    </span>
                    <span *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0">
                      &nbsp;
                    </span>
                  </span>
                  <span *ngSwitchCase="'soLuongPheDuyet'">
                    <span *ngIf="rowData['parentPartId'] == 0 || rowData['parentPartId'] == null">
                      {{rowData[col.field]| number}}
                    </span>
                    <span *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0">
                      &nbsp;
                    </span>
                  </span>
                  <span *ngSwitchCase="'ngayBatDau'">
                    <span *ngIf="rowData['parentPartId'] == 0 || rowData['parentPartId'] == null">
                      {{rowData[col.field]| date:'dd/MM/yyyy'}}
                    </span>
                    <span *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0">
                      &nbsp;
                    </span>
                  </span>
                  <span *ngSwitchCase="'ngayKetThuc'">
                    <span *ngIf="rowData['parentPartId'] == 0 || rowData['parentPartId'] == null">
                      {{rowData[col.field]| date:'dd/MM/yyyy'}}
                    </span>
                    <span *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0">
                      &nbsp;
                    </span>
                  </span>
                  <span *ngSwitchDefault>
                    {{rowData[col.field]}}
                  </span>
                </td>
                <td style="align-items: center;">
                  <span
                    *ngIf="(rowData['parentPartId'] == 0 || rowData['parentPartId'] == null) && ( rowData['totalChild'] == 0|| rowData['soLuongPheDuyet'] > rowData['totalChild'] ) && actionCapPhat">
                    <button class="save" type="button" (click)="capPhatTaiSanOnRow(rowData, true)"><span
                        class="text-save">Cấp
                        phát</span></button>
                  </span>
                  <span
                    *ngIf="rowData['parentPartId'] !== null && rowData['parentPartId'] > 0 && rowData['capPhatTaiSanId'] == 0">
                    <button pButton icon="fa fa-pencil" class="ui-button-primary"
                      (click)="suaTaiSanOnRow(rowData, false)"></button>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </div>
      <!-- END DANH SÁCH TÀI SẢN PHÂN BỔ -->

    </div>
  </div>


  <div class="row no-padding body-wrapper" id="parent">
    <div class="col-md-12">
      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Tài liệu liên quan" [selected]="true">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 mt-5">
                <p-fileUpload #fileUpload name="demo[]" customUpload="true" multiple="multiple"
                  [showUploadButton]="true"
                  accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                  [maxFileSize]="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                  invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                  invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                  invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                  chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" (onSelect)="handleFile($event, fileUpload)"
                  (uploadHandler)="myUploader($event)" (onRemove)="removeFile($event)" (onClear)="clearAllFile()">
                </p-fileUpload>
              </div>

              <div class="col-md-12 mt-5">
                <p-table #dt [columns]="colsFile" [value]="arrayDocumentModel" [responsive]="true"
                  [resizableColumns]="true" [paginator]="true" [rows]="10">
                  <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <input type="text" pInputText size="50" placeholder="Tên tài liệu"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                        {{col.header}}
                      </th>
                      <th style="width:4em"></th>
                      <th style="width:4em"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                        [ngStyle]="{'text-align': col.textAlign}">
                        <span class="ui-column-title">{{col.header}}</span>
                        <span *ngSwitchCase="'fileFullName'">
                          {{rowData[col.field].substring(0,rowData[col.field].lastIndexOf('_'))}}.{{rowData[col.field].substring(rowData[col.field].lastIndexOf('.')+1,
                          rowData[col.field].length)}}
                        </span>
                        <span *ngSwitchCase="'createdDate'">
                          {{rowData[col.field] | date:'dd/MM/yyyy h:mm a'}}
                        </span>
                        <span *ngSwitchCase="'size'">
                          <ng-container *ngIf="convertFileSize(rowData[col.field])">
                            {{rowData[col.field] / 1024 | number}} KB
                          </ng-container>
                          <ng-container *ngIf="!convertFileSize(rowData[col.field])">
                            {{rowData[col.field] / 1048576 | number}} MB
                          </ng-container>
                        </span>
                        <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                      </td>
                      <td>
                        <button pButton icon="pi pi-trash" (click)="deleteFile(rowData)"
                          class="ui-button-danger"></button>
                      </td>
                      <td>
                        <button pButton icon="pi pi-download" (click)="downloadFile(rowData)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="row no-padding body-wrapper" id="parent">
    <app-note-time-line style="width: 100%;" [viewNote]="true" [viewTimeline]="true" objectType="YCCAPPHAT"
      [objectNumber]="yeuCauCapPhatTaiSanId" [actionAdd]="true" [actionEdit]="false" [actionDelete]="false"
      [pageSize]="10" [refresh]="refreshNote">
    </app-note-time-line>
  </div>

  <p-dialog header="" [(visible)]="showLyDoTuChoi" [modal]="true" [responsive]="true"
    [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000" [closable]="true"
    (onHide)="closeDialog()" class="dialog-form">
    <form [formGroup]="tuChoiForm">
      <div class="col-md-12 buffer-bottom-label">
        <span>Lý do từ chối</span>
      </div>
      <div class="col-md-12">
        <textarea formControlName="lyDoTuChoiControl"
          [ngClass]="(lyDoTuChoiControl.invalid && (lyDoTuChoiControl.dirty || lyDoTuChoiControl.touched)) ? 'error-border' : ''"
          type="text" rows="7" style="width: 100%;" class="w100" pInputText></textarea>
      </div>
    </form>
    <p-footer>
      <button type="button" class="btn-save" (click)="tuChoi()">
        <span class="btn-save-text">Xác nhận</span>
      </button>
      <button #save type="button" class="btn-cancel" (click)="closeDialog()">
        <span class="btn-cancel-text">Hủy</span>
      </button>
    </p-footer>
  </p-dialog>

  <p-dialog header="Tạo tài sản" [(visible)]="displayCreateAsset" [modal]="true" [responsive]="true"
    [contentStyle]="{'overflow': 'unset'}" [style]="{width: '600px', minWidth: '200px'}" [minY]="70" [closable]="true"
    (onHide)="closeTaoTS()">
    <form [formGroup]="taoNhanhTSForm">
      <div class="row col-md-12 mt-10">
        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              Mã tài sản:<span class="required">*</span>
            </div>
            <div class="col-md-12">
              <input type="text" maxlength="500" value="Mã sinh tự động" class="w100" pInputText [disabled]="true" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              Phân loại tài sản:<span class="required">*</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listLoaiTS" formControlName="phanLoaiTSControl" [filter]="true"
                [styleClass]="(phanLoaiTSControl.invalid  && (phanLoaiTSControl.dirty ||  phanLoaiTSControl.touched)) ? 'error-border': ''"
                placeholder="Chọn phân loại tài sản" optionLabel="categoryName" [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
            <div class="col-md-12" [hidden]="phanLoaiTSControl.valid || phanLoaiTSControl.untouched">
              <span *ngIf="phanLoaiTSControl.hasError('required') || phanLoaiTSControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="row col-md-12 mt-10">
        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Mục đích</span><span class="required">*</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listMucDichUser" formControlName="mucDichControl" [filter]="true"
                [styleClass]="(mucDichControl.invalid  && (mucDichControl.dirty ||  mucDichControl.touched)) ? 'error-border': ''"
                placeholder="Mục đích sử dụng" optionLabel="categoryName" [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
            <div class="col-md-12" [hidden]="mucDichControl.valid || mucDichControl.untouched">
              <span *ngIf="mucDichControl.hasError('required') || mucDichControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Khu vực</span><span class="required">*</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listProvinceEntityModel" formControlName="khuVucTSControl"
                (onChange)="tuDongSinhViTriTs()" [filter]="true"
                [styleClass]="(khuVucTSControl.invalid  && (khuVucTSControl.dirty ||  khuVucTSControl.touched)) ? 'error-border': ''"
                placeholder="Chọn khu vực" optionLabel="provinceName" [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
            <div class="col-md-12" [hidden]="khuVucTSControl.valid || khuVucTSControl.untouched">
              <span *ngIf="khuVucTSControl.hasError('required') || khuVucTSControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="row col-md-12 mt-10">

        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Vị trí văn phòng</span><span class="required">*</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listViTriVP" formControlName="viTriVPControl" (onChange)="tuDongSinhViTriTs()"
                [filter]="true"
                [styleClass]="(viTriVPControl.invalid  && (viTriVPControl.dirty ||  viTriVPControl.touched)) ? 'error-border': ''"
                placeholder="Chọn khu vực" optionLabel="categoryName" [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
            <div class="col-md-12" [hidden]="viTriVPControl.valid || viTriVPControl.untouched">
              <span *ngIf="viTriVPControl.hasError('required') || viTriVPControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Vị trí tài sản</span>
            </div>
            <div class="col-md-12">
              <input formControlName="viTriTaiSanControl" type="text" maxlength="500" class="w100" pInputText />
            </div>
          </div>
        </div>

      </div>

      <div class="row col-md-12 mt-10">
        <div class="col-md-12">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Số serial</span><span class="required">*</span>
            </div>
            <div class="col-md-12">
              <input formControlName="serialControl" type="text"
                [ngClass]="(serialControl.invalid && (serialControl.dirty || serialControl.touched)) ? 'error-border' : ''"
                class="w100" pInputText />
            </div>
            <div class="col-md-12" [hidden]="serialControl.valid || serialControl.untouched">
              <span *ngIf="serialControl.hasError('required') || serialControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12 mt-10">
        <div class="col-md-12">
          <div class="row buffer-bottom">
            <div class="col-md-12 buffer-bottom-label">
              <span>Mô tả</span><span class="required">*</span>
            </div>
            <div class="col-md-12">
              <textarea pInputTextarea autoResize="autoResize" rows="3" [style]="{'width': '100%'}"
                formControlName="moTaTaiSanControl"></textarea>
            </div>

            <div class="col-md-12" [hidden]="moTaTaiSanControl.valid || moTaTaiSanControl.untouched">
              <span *ngIf="moTaTaiSanControl.hasError('required') || moTaTaiSanControl.hasError('blankString') "
                class="error-message-span">
                Không được để trống
              </span>
            </div>

          </div>
        </div>
      </div>

    </form>
    <p-footer>
      <button pButton type="button" label="Lưu" style="width: 85px;" (click)="taoNhanhTS()"></button>
      <button pButton type="button" label="Hủy" class="ui-button-secondary" style="width: 85px; margin-left: 5px;"
        (click)="closeTaoTS()"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="QRCode" [(visible)]="displayQRCode" [modal]="true" [responsive]="true"
    [style]="{width: '400px', minWidth: '400px'}" [minY]="70" [closable]="true" (onHide)="closeQRCode()">
    <qrcode class="qrcode" [width]="350" [qrdata]="qrCode" [size]="350"></qrcode>
  </p-dialog>

  <p-dialog header="Import file excel" [(visible)]="displayChooseFileImportDialog" [modal]="true" [responsive]="true"
    class='showImportForm' [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000"
    [closable]="true" (onHide)="closeChooseFileImportDialog()">
    <div class="col-md-4 mt-25">
      <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25">
      <button class="choose-file" type="button" (click)="downloadTemplateExcel()">
        <span class="text-choose-file">Tải file mẫu</span>
      </button>
    </div>
    <div class="col-md-4 mt-25">
      <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 25px;">
      <button class="btn btn-primary btn-file import-file">
        <span class="text-import">Chọn file</span>
        <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
          accept=".xlsx, .xls">
      </button>
      <div>{{fileName}}</div>
    </div>
    <p-footer>
      <button class="btn-create" type="button" #save (click)="importExcel()">
        <span class="btn-create-text">Nhập</span>
      </button>
    </p-footer>
  </p-dialog>