.yeu-cau-cap-phat-detail .btn-move {
  width: 20px !important;
  height: 20px !important;
}

.yeu-cau-cap-phat-detail .mr-5 {
  margin-right: 5px;
}

.yeu-cau-cap-phat-detail .icons-move {
  font-size: 10px !important;
}

.yeu-cau-cap-phat-detail {
  font-family: 'Inter UI';
}

.yeu-cau-cap-phat-detail .yeu-cau-cap-phat-detail-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.yeu-cau-cap-phat-detail .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

.yeu-cau-cap-phat-detail .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #eee;
  border: 1px solid #cccccc;
}

.yeu-cau-cap-phat-detail .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .notification {
  position: absolute;
  top: 38px;
  width: 307px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */

.yeu-cau-cap-phat-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.yeu-cau-cap-phat-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}

/*End: Tạo góc nhọn trên hộp thoại */

.yeu-cau-cap-phat-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.yeu-cau-cap-phat-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.yeu-cau-cap-phat-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.yeu-cau-cap-phat-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.yeu-cau-cap-phat-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.yeu-cau-cap-phat-detail .cancel {
  width: 64px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.yeu-cau-cap-phat-detail .cancel .text-cancel {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.yeu-cau-cap-phat-detail .save-and-new {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.yeu-cau-cap-phat-detail .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.yeu-cau-cap-phat-detail .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.yeu-cau-cap-phat-detail .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.yeu-cau-cap-phat-detail .text-order-code {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.yeu-cau-cap-phat-detail .sub-text-order-code {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.yeu-cau-cap-phat-detail .mt-5 {
  margin-top: 5px;
}

.yeu-cau-cap-phat-detail .mt-10 {
  margin-top: 10px;
}

::ng-deep .yeu-cau-cap-phat-detail .ui-datepicker {
  top: 31px !important;
}

.yeu-cau-cap-phat-detail .require {
  color: #F94E4E;
}

.yeu-cau-cap-phat-detail .error-message-span {
  color: red !important;
}

.yeu-cau-cap-phat-detail .w100 {
  width: 100%;
}

.yeu-cau-cap-phat-detail .option-customer {
  height: 64px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #f2f4f8;
}

.yeu-cau-cap-phat-detail .border-customer-infor {
  /* border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    border-left: 1px dashed #ccc; */
  padding-bottom: 10px;
  padding-top: 10px;
}

/*
  .yeu-cau-cap-phat-detail .input-text {
    min-height: 2.55em !important;
  } */

.yeu-cau-cap-phat-detail .ios-add-circle-outline {
  width: 16px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .add-product-text {
  width: 146px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
  cursor: pointer;
}

/* Phần tổng hợp bên phải */

.yeu-cau-cap-phat-detail .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.yeu-cau-cap-phat-detail .overview .button-group {
  width: 100% !important;
  height: 42px;
  border-radius: 4px;
  background: #ffffff;
  border-bottom: 1px solid #dde1e6;
  padding-top: 10px;
}

.yeu-cau-cap-phat-detail .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.yeu-cau-cap-phat-detail .overview .button-group .ios-print {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  float: right;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .box-part-1 {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.yeu-cau-cap-phat-detail .overview .total-monney-label {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.yeu-cau-cap-phat-detail .overview .total-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #121619;
}

.yeu-cau-cap-phat-detail .result-monney-label {
  height: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.yeu-cau-cap-phat-detail .result-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.yeu-cau-cap-phat-detail .result-monney-text {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.yeu-cau-cap-phat-detail span.ui-column-title {
  width: 200px;
}

/* End */

/*iphone 6/7/8*/

@media only screen and (max-width: 375px) {
  .yeu-cau-cap-phat-detail .save {
    margin-left: 0px;
    margin-top: 10px;
  }
  .yeu-cau-cap-phat-detail .button-group .cancel {
    width: 68px;
  }
  .yeu-cau-cap-phat-detail .button-group .save-and-new {
    width: 140px;
    margin-right: 4px;
  }
  .yeu-cau-cap-phat-detail .save {
    width: 65px;
  }
  .yeu-cau-cap-phat-detail .fixed {
    position: relative;
    /* padding-right: 35px; */
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    font-size: 12px;
    min-width: 102px;
  }
  ::ng-deep .ui-dialog {
    width: 90% !important;
  }
}

/*iphone 6/7/8 plus*/

@media only screen and (max-width:414px) and (min-width:376px) {
  .yeu-cau-cap-phat-detail .fixed {
    position: relative;
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    min-width: 113px;
  }
  ::ng-deep .ui-dialog {
    width: 90% !important;
  }
}

@media only screen and (min-width: 415px) and (max-width:1024px) {
  ::ng-deep .ui-dialog {
    width: 70% !important;
  }
}

@media only screen and (max-width: 768px) {
  ::ng-deep .add-edit-product-dialog .group-button-footer {
    display: inline-block !important;
    width: 100%;
  }
  ::ng-deep .add-edit-product-dialog .group-button-footer>div:not(.btn-group) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.yeu-cau-cap-phat-detail .view {
  width: 120px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #169bd5;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #169bd5;
  margin-left: 5px;
}

.yeu-cau-cap-phat-detail .view-text {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.yeu-cau-cap-phat-detail .asset-header {
    width: 119px;
    height: 20px;
    font-family: 'Inter UI';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.yeu-cau-cap-phat-detail .btn-save-and-new {
    width           : 142px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #0f62fe;
    background-color: #ffffff;
    margin-left     : 5px;
  }

.yeu-cau-cap-phat-detail .btn-save-and-new .btn-save-and-new-text {
    width         : 102px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.46;
    letter-spacing: normal;
    text-align    : left;
    color         : #0f62fe;
  }

  .yeu-cau-cap-phat-detail .button-group .btn-long {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

 .yeu-cau-cap-phat-detail .btn-refresh {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.mt-5
{
  margin-top: 5px!important;
}

.mt-15
{
  margin-top: 15px!important;
}

.mb-5
{
  margin-bottom: 5px !important;
}

.mb-15
{
  margin-bottom: 15px!important;
}
.showImportForm .choose-file {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
  }

  .showImportForm .text-choose-file {
    /* width: 170px; */
    height: 32px;
    font-family: "Inter UI";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #121619;
  }
  .showImportForm .vendor-product-price-list .text-import-file {
    width: 24px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
  }

  .showImportForm .import-file {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    color: black;
    border: solid 1px #c1c7cd;
  }

  .showImportForm .text-import {
    color: white;
  }
  .showImportForm .btn-create {
    float: right;
    width: 98px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #007aff;
  }
  .showImportForm .btn-create-text {
    width: 50px;
    height: 16px;
    font-family: "Inter UI";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .mt-25
  {
    margin-top: 25px;
  }

  .yeu-cau-cap-phat-detail .btn-long {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}
.yeu-cau-cap-phat-detail .btn-save-long {
    width           : 150px;
    height          : 32px;
    border-radius   : 4px;
    box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border          : solid 1px #cccccc;
    margin-left     : 5px;
}


.yeu-cau-cap-phat-detail .btn-save-note {
  width           : 158px;
  height          : 32px;
  border-radius   : 4px;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border          : solid 1px #cccccc;
  margin-left     : 5px;
}

.yeu-cau-cap-phat-detail .btn-cancel-note {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #c1c7cd;
  background-color: #ffffff;
}

.yeu-cau-cap-phat-detail .save-cancel-lable {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #121619;
}

.yeu-cau-cap-phat-detail .save-note-lable {
  width         : 110px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #ffffff;
}


.yeu-cau-cap-phat-detail .note-user {
    font-family: 'Inter UI';
    font-weight: bold;
}

.yeu-cau-cap-phat-detail .timeline>li>.timeline-item {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.yeu-cau-cap-phat-detail .timeline-content {
    margin-top: 20px;
}

.yeu-cau-cap-phat-detail .bg-blueX {
    background-color: #4E6BA5 !important;
}

.yeu-cau-cap-phat-detail .color-w {
    color: #fff !important;
}

.yeu-cau-cap-phat-detail .timeline-item .onHover {
    display: none;
}

.yeu-cau-cap-phat-detail .timeline-item:hover .onHover {
    display: block;
}

.yeu-cau-cap-phat-detail .material-icons {
    cursor: pointer;
}

.yeu-cau-cap-phat-detail .timeline-user-avatar {
    border-radius: 50%;
    margin-right : 5px;
    float        : left;
}

.yeu-cau-cap-phat-detail .note-title {
    font-size  : 11px !important;
    color      : #222 !important;
    font-weight: normal !important;
}

.yeu-cau-cap-phat-detail .time-note {
    font-size  : 10px !important;
    color      : #5d5a5a !important;
    font-weight: normal !important;
}

.yeu-cau-cap-phat-detail .timeline-body {
    padding: 10px 15px;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left : 5px !important;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left : 5px !important;
}

.yeu-cau-cap-phat-detail .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.yeu-cau-cap-phat-detail .file-item div:nth-child(1),
.yeu-cau-cap-phat-detail .file-item div:nth-child(3) {
    padding-left: 0 !important;
}

.yeu-cau-cap-phat-detail .file-item div:nth-child(2) {
    padding: 0 5px !important;
}

.yeu-cau-cap-phat-detail .item-name {
    text-overflow: ellipsis !important;
    white-space  : nowrap !important;
    overflow     : hidden !important;
}

.yeu-cau-cap-phat-detail .preview-doc {
    cursor: pointer;
}

/* --------------------------- Phê duyệt theo quy trình  ---------------------------*/
 ul.slds-path__nav{
  display: flex;
  align-items: flex-start;
  /* overflow: hidden; */
  list-style: none;
  border: 0;
  padding-bottom: 20px;
}
 ul.slds-path__nav li a:hover,
 ul.slds-path__nav li.active a
{
  background: unset;
  background-color: unset;
  border: 0;
}
 .slds-path__item {
  position: relative;
  flex: 1;
  margin-left: .375rem;
  margin-right: .4375rem;
  min-width: 5rem;
  text-align: center;
}
 .slds-path__item:first-child {
  margin-left: 0;
  border-top-left-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-left-radius: var(--lwc-heightSalesPath,2rem);
  padding-left: .625rem;
}
 .slds-path__item:last-child {
  margin-right: 0;
  border-top-right-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-right-radius: var(--lwc-heightSalesPath,2rem);
  padding-right: .625rem;
}
 .slds-path__item:first-child:before,
 .slds-path__item:first-child:after
{
  left: 1.525rem;
}
 .slds-path__item:last-child:before,
 .slds-path__item:last-child:after {
  right: .625rem;
}

 .slds-path__title,
 .slds-path__stage {
  display: block;
  transition: transform .2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

 .sty{
  padding-left: inherit;
}

 .slds-path__stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-180deg);
}


 .slds-path__nav .slds-is-complete,
 .slds-path__nav .slds-is-complete:before,
 .slds-path__nav .slds-is-complete:after
{
  background: var(--lwc-colorBackgroundPathComplete,rgb(75, 202, 129));
}
 .slds-path__nav .slds-is-complete .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(0deg);
}
 .slds-path__nav .slds-is-complete .slds-path__title {
  transform: rotateX(180deg);
}
 .slds-path__nav .slds-is-complete .slds-path__link,
::ng-deep  .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown,
::ng-deep  .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}
 .slds-path__nav .slds-is-complete:hover .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(-180deg);
}
 .slds-path__nav .slds-is-complete:hover .slds-path__title {
  transform: rotateX(0deg);
}
 .slds-path__nav .slds-is-complete:hover,
 .slds-path__nav .slds-is-complete:hover:before,
 .slds-path__nav .slds-is-complete:hover:after
{
  background: var(--lwc-colorBackgroundPathCompleteHover,rgb(4, 132, 75));
}

 .slds-path__nav .slds-is-incomplete:before,
 .slds-path__nav .slds-is-incomplete:after
{
  background: var(--lwc-colorBackgroundPathIncomplete,rgb(236, 235, 234));
}
 .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:before,
 .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:after
{
  background: var(--lwc-colorBackgroundPathIncompleteHover,rgb(221, 219, 218));
}


 .slds-path__nav .slds-is-current {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
}
 .slds-path__nav .slds-is-current:before,
 .slds-path__nav .slds-is-current:after {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  background-repeat: no-repeat;
  background-size: .125rem 100%,.125rem 100%,100% .125rem;
}
 .slds-path__nav .slds-is-current:before {
  background-position: top right,top left,top left;
}
 .slds-path__nav .slds-is-current:after {
  background-position: top right,top left,bottom left;
}
 .slds-path__nav .slds-is-current:hover:before,
 .slds-path__nav .slds-is-current:hover:after {
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem);
}
 .slds-path__nav .slds-is-current:hover a,
 .slds-path__nav .slds-is-current:hover a{
  color: #00396b;
}
 .slds-path__nav .slds-is-current:first-child {
  border: 2px solid var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178));
  border-right: 0;
}
 .slds-path__nav .slds-is-current:first-child:before {
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  top: -.125rem;
  left: 1.125rem;
}
 .slds-path__nav .slds-is-current:first-child:after {
  left: 1.125rem;
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  bottom: -.125rem;
}
 .slds-path__nav .slds-is-current:first-child a {
  height: 2.35rem;
}

::ng-deep  .slds-path__item p-dropdown .ui-dropdown,
::ng-deep  .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep  .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  background: unset;
  border: 0;
  color: #121619;
}
 .slds-path__nav .slds-is-incomplete.slds-is-current:not(.active) .slds-path__title,
::ng-deep  .slds-path__item.slds-is-current p-dropdown .ui-dropdown,
::ng-deep  .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep  .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #005fb2;
}
::ng-deep  .slds-is-current.active p-dropdown .ui-dropdown,
::ng-deep  .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep  .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #ffffff;
}
::ng-deep  .slds-path__item p-dropdown .ui-dropdown.ui-state-focus {
  outline: 0;
  box-shadow: unset;
  border: 0;
}

 .slds-path__nav .slds-is-current.active:first-child,
 .slds-path__nav .slds-is-complete.active,
 .slds-path__nav .slds-path__item.active:before,
 .slds-path__nav .slds-path__item.active:after
{
  background: var(--lwc-colorBackgroundPathActive,rgb(0, 95, 178));
}
 .slds-path__nav .slds-path__item.active .slds-path__link,
::ng-deep  .slds-path__item.active p-dropdown .ui-dropdown,
::ng-deep  .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep  .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}
 .slds-path__nav .slds-is-current.active:first-child:hover,
 .slds-path__nav .slds-is-complete.active:hover,
 .slds-path__nav .slds-path__item.active:hover:before,
 .slds-path__nav .slds-path__item.active:hover:after
{
  background: var(--lwc-colorBackgroundPathActiveHover,rgb(0, 57, 107));
}
 .slds-is-complete.active .slds-path__stage {
  display: none;
}
 .slds-path__nav .slds-is-complete.active .slds-path__title,
 .slds-path__nav .slds-is-complete.active:hover .slds-path__title
{
  transform: unset;
}

 .slds-path__item:before {
  top: 0;
  height: 1.3rem;
  transform: skew(30deg) translate3d(0, 0, 0);
}
 .slds-path__item:before,
 .slds-path__item:after
{
  content: '';
  position: absolute;
  left: -.25rem;
  right: -.3125rem;
  cursor: pointer;
}
 .slds-path__link,
 .slds-path__item p-dropdown
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXxSmall,0.25rem) var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXSmall,0.5rem);
  text-decoration: none;
  z-index: 5;
  cursor: pointer;
  color: #121619;
}
 .slds-path__item p-dropdown {
  z-index: 100 !important;
}
 .slds-path__item:after {
  bottom: 0;
  height: 1.3rem;
  transform: skew(-30deg) translate3d(0, 0, 0);
}

/* --------------------------- END ---------------------------*/

.dialog-form .btn-save {
  width           : 100px;
  height          : 32px;
  border-radius   : 4px;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border          : solid 1px #cccccc;
  margin-left     : 5px;
  }

.dialog-form .btn-save .btn-save-text {
  width         : 110px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #ffffff;
  }

.dialog-form  .btn-cancel {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #c1c7cd;
  background-color: #ffffff;
}

.dialog-form  .btn-cancel-text {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #121619;
}

.yeu-cau-cap-phat-detail .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

/* Thêm */
::ng-deep .content-wrapper {
    background-color: #fff !important;
  }

  .yeu-cau-cap-phat-detail {
    font-family: "Inter UI";
  }

  .yeu-cau-cap-phat-detail .body-wrapper {
    background-color: #fff;
    border          : solid 1px #cccccc;
  }

  .yeu-cau-cap-phat-detail .header {
    background-color: #ffffff;
    border-radius   : 4px;
    border          : solid 1px #cccccc;
  }

  .yeu-cau-cap-phat-detail .header-box-icon {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
  }

  .yeu-cau-cap-phat-detail .header-icon {
    width      : 18px;
    height     : 18px;
    object-fit : contain;
    margin-top : 13px;
    margin-left: 10px;
  }

  .yeu-cau-cap-phat-detail .buffer-top {
    margin-top: 1.2rem;
  }

  .yeu-cau-cap-phat-detail .buffer-bottom {
    margin-bottom: 1.2rem;
  }

  .yeu-cau-cap-phat-detail .buffer-bottom-label {
    margin-bottom: 3px;
  }

  .yeu-cau-cap-phat-detail .required {
    color: red;
  }

  .yeu-cau-cap-phat-detail .error-message-span {
    color: red;
  }

  .yeu-cau-cap-phat-detail .customer-name {
    width         : 119px;
    height        : 20px;
    font-family   : 'Inter UI';
    font-size     : 19px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 2.25;
    letter-spacing: normal;
    text-align    : left;
    color         : #121619;
  }

  .yeu-cau-cap-phat-detail .btn-remove {
    width           : 72px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #c1c7cd;
    background-color: #ffffff;
    margin-left     : 5px;
  }

  .yeu-cau-cap-phat-detail .btn-remove-text {
    width         : 24px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #121619;
  }

  .yeu-cau-cap-phat-detail .btn-save-and-new {
    width           : 155px;
    height          : 32px;
    border-radius   : 4px;
    border          : solid 1px #0f62fe;
    background-color: #ffffff;
    margin-left     : 5px;
  }

  .yeu-cau-cap-phat-detail .btn-save-and-new .btn-save-and-new-text {
    width         : 102px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.46;
    letter-spacing: normal;
    text-align    : left;
    color         : #0f62fe;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-dropdown {
    min-width: 0px !important;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-menu ul {
    text-align: left;
  }

  .yeu-cau-cap-phat-detail .btn-save {
    width           : 72px;
    height          : 32px;
    border-radius   : 4px;
    box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border          : solid 1px #cccccc;
    margin-left     : 5px;
  }

  .yeu-cau-cap-phat-detail .btn-save-text {
    width         : 24px;
    height        : 16px;
    font-family   : 'Inter UI';
    font-size     : 13px;
    font-weight   : bold;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.15;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;
  }

  .yeu-cau-cap-phat-detail .body-wrapper {
    margin-top  : 20px;
    margin-left : 0px;
    margin-right: 0px;
  }

  .yeu-cau-cap-phat-detail .w100 {
    width: 100% !important;
  }

  .yeu-cau-cap-phat-detail .my-form-control {
    display    : flex;
    align-items: center;
  }

  /*Begin: Customize Accordion */

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header a {
    border          : 1px solid #ffffff !important;
    background-color: #ffffff !important;
    font-size       : 16px;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #ffffff !important;
    border          : 1px solid #ffffff !important;
    color           : #121619 !important;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
    color: #121619 !important;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #121619 !important;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    color: #121619 !important;
  }

  ::ng-deep .yeu-cau-cap-phat-detail .ui-accordion .ui-accordion-content {
    border          : 1px solid #ffffff !important;
    background-color: #ffffff !important;
  }

  /*End: Customize Accordion */

    .yeu-cau-cap-phat-detail .label-bold {
    font-weight: bold;
  }
  .yeu-cau-cap-phat-detail .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

  .yeu-cau-cap-phat-detail .btn-save-note {
    width: 158px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
    margin-left: 5px;
  }

  .yeu-cau-cap-phat-detail .save-note-lable {
    width: 110px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }





/* Thông báo lỗi */

.yeu-cau-cap-phat-detail .error-border,
.yeu-cau-cap-phat-detail .error-border:focus {
  border-color: #f44336;
}

.yeu-cau-cap-phat-detail .error-border:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px #f44336;
}

.yeu-cau-cap-phat-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.yeu-cau-cap-phat-detail .notification {
  position: absolute;
  top: 38px;
  width: 380px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.yeu-cau-cap-phat-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.yeu-cau-cap-phat-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}
/*End: Tạo góc nhọn trên hộp thoại */

.yeu-cau-cap-phat-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.yeu-cau-cap-phat-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.yeu-cau-cap-phat-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.yeu-cau-cap-phat-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.yeu-cau-cap-phat-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.yeu-cau-cap-phat-detail .header-box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.yeu-cau-cap-phat-detail .header-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 10px;
}

.yeu-cau-cap-phat-detail .buffer-top {
  margin-top: 1.2rem;
}

.yeu-cau-cap-phat-detail .buffer-bottom {
  margin-bottom: 1.2rem;
}

.yeu-cau-cap-phat-detail .buffer-bottom-label {
  margin-bottom: 3px;
}

.yeu-cau-cap-phat-detail .required {
  color: red;
}

.yeu-cau-cap-phat-detail .error-message-span {
  color: red;
}