.emp-ttc .mt-10 {
  margin-top: 10px;
}

.emp-ttc .mb-20 {
  margin-bottom: 20px;
}

.emp-ttc .emp-avatar {
  width: 115px;
  border-radius: 50%;
}

.emp-ttc .box-define {
  border: solid 1px #dde1e6;
  padding: 25px 60px;
}