<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="dashboard-home">
  <div class="top-header">
    <div class="space_tnm">
      <img src="../../assets/logo.png">
    </div>
    <div #toggleUser id="user-content-button" class="space_config cursor" style="right:0px;width:59.5px">
      <span><img style="height:36px;width:36px;top:7px;position:relative;left:10px"
          class="small-user-avatar img-responsive"
          [src]="(userAvatar!='' && userAvatar!=null && userAvatar!='null')?userAvatar:'../../../../assets/images/no-avatar.png'" /><i
          class="fas fa-caret-down"></i></span>
    </div>

    <div #toggleNotifi class="space_config cursor" style="width:59.5px;right:59.5px" matTooltip="Thông báo">
      <span class="notification-icon">{{notificationNumber}}</span>
      <span><img src="../../assets/icons/header_top/ios-notifications.svg" class="ios-cog"></span>
    </div>

    <div #toggleConfig id="sysConfig-button" class="space_config cursor" style="width:59.5px;right:117.5px">
      <span><img src="../../assets/icons/header_top/ios-cog.svg" class="ios-cog"></span>
    </div>

    <!-- <div #toggleCreateElement id="create-button" class="space_create cursor" style="width:112px;right:182px">
      <img src="../../assets/icons/header_top/ios-add-circle.svg" class="ios-add-circle">
      <span class="text">Tạo mới <i class="fa fa-caret-down" aria-hidden="true"></i></span>
    </div> -->

    <div *ngIf="isOpenNotifi" id="notification-content">
      <div id="scroll-content">
        <div class="row" *ngFor="let item of notificationList">
          <div [ngClass]="!item.viewed ? 'not-viewed' : ''" class="notification-row"
            (click)="goToNotiUrl(item, item.notificationId, item.objectId, item.objectType)">
            {{item.content}}
          </div>
        </div>
      </div>
      <div class="row">
        <div style="padding: 10px; margin: 0 15px; background: #fff; text-align: center">
          <a style="cursor: pointer" (click)="goToNotification()">Xem tất cả</a>
        </div>
      </div>
    </div>

    <div *ngIf="isOpenUser" id="user-content">
      <div class="row no-margin" style="border-bottom: 1px solid #ccc">
        <div class="col-md-4">
          <img class="user-avatar img-responsive"
            [src]="(userAvatar!='' && userAvatar!=null && userAvatar!='null') ? userAvatar : '../../../../assets/images/no-avatar.png'" />
        </div>
        <div class="col-md-8">
          <a class="user-name" style="cursor: pointer;" (click)="goToViewProfile()"
            matTooltip="Nhấn để thay đổi thông tin cá nhân">{{userFullName}}</a>
          <div class="user-email">{{userEmail}}</div>
          <br />
          <div style="margin-top: 10px">
            <button type="button" class="btn-reset-pass" mat-raised-button (click)="openChangePassword()">Đổi mật
              khẩu</button>
          </div>
        </div>
      </div>
      <div class="row no-margin log-out">
        <div class="col-md-12">
          <button type="button" class="btn-log-out" mat-raised-button (click)="logout()">Đăng xuất</button>
        </div>
      </div>
    </div>

    <div *ngIf="isOpenConfig" id="sys-config">
      <div id="scroll-content">
        <div class="row" *ngFor="let item of lstSubmenuLevel3">
          <div class="sys-config-row" (click)="goToUrlSysConfig(item.Path)">
            <img *ngIf="item.nameIcon.includes('.png')||item.nameIcon.includes('.svg')" class="imgIconX"
              src="../../assets/icons/Menu/menu_crm/{{item.nameIcon}}">
            <i *ngIf="!item.nameIcon.includes('.png')&&!item.nameIcon.includes('.svg')"
              style="font-size:16px !important;margin-right:6px" class="material-icons">{{item.nameIcon}}</i>
            {{item.Name}}
          </div>
        </div>
      </div>
    </div>

    <!-- <div #dropdownMenus *ngIf="isOpenCreateElement" id="create-config">
      <div id="scroll-content">
        <p-panelMenu [model]="items" [multiple]="false" [style]="{'width':'200px'}"></p-panelMenu>
      </div>
    </div> -->
  </div>

  <div class="wrapper" style="height: auto;">
    <main-header (updateLeftMenuHome)="updateLeftMenuTest($event)"></main-header>
    <!-- Menu Left -->
    <aside class="main-sidebar" style="background-color:#121619; position: fixed;">
      <section class="sidebar">
        <ul class="sidebar-menu custom-sidebar-home">
          <li class="treeview">
            <a href="/" class="cursor menu-item-1">
              <!-- <img class="img_conf_cus_lead" src="../../assets/icons/Menu/menu_crm/fa-home"> -->
              <i class="fa fa-home" aria-hidden="true"></i>
              <span class="menu-item-name-1">
                TRANG CHỦ
              </span>
            </a>

          </li>
          <li *ngFor="let item of lstBreadCrumLeftMenu; let i = index" [attr.data-index]="i" class="treeview"
            [hidden]="item.Active">
            <a href="#" target="_blank" class="cursor menu-item-1" (click)="addRemoveIcon(i)">
              <img *ngIf="item.nameIcon.includes('.png')" class="img_conf_cus_lead"
                src="../../assets/icons/Menu/menu_crm/{{item.nameIcon}}">
              <i *ngIf="!item.nameIcon.includes('.png')" class="fa {{item.nameIcon}}" aria-hidden="true"></i>
              <span class="menu-item-name-1" pTooltip="{{item.Name}}">
                {{item.Name.trim()|uppercase}}
              </span>
              <span class="pull-right-container">
                <i class="fa fa-plus-circle module-add{{i}}" aria-hidden="true"></i>
                <i class="fa fa-minus-circle module-remove{{i}}" aria-hidden="true"></i>
              </span>
            </a>
            <ul *ngIf="item.LstChildren.length>0" class="treeview-menu report treeview-menu-1">
              <li *ngFor="let resource of item.LstChildren; let j = index" [attr.data-index]="j" class="treeview"
                [hidden]="resource.Active">
                <div *ngIf="resource.LstChildren.length>0">
                  <a href="#" target="_blank" class="cursor menu-item-2"
                    (click)="addRemoveIconParren(j, item.LstChildren.length)">
                    <img *ngIf="resource.nameIcon.includes('.png')" class="img_conf_cus_lead"
                      src="../../assets/icons/Menu/menu_crm/{{resource.nameIcon}}">

                    <i *ngIf="!item.nameIcon.includes('.png')" class="fa {{resource.nameIcon}}" aria-hidden="true"></i>

                    <span class="menu-item-name-2" pTooltip="{{resource.Name}}">
                      {{resource.Name.trim()|uppercase}}
                    </span>
                    <span class="pull-right-container">
                      <i class="fa fa-plus-circle module-add-parent{{j}}" aria-hidden="true"></i>
                      <i class="fa fa-minus-circle module-remove-parent{{j}}" aria-hidden="true"></i>

                    </span>
                  </a>
                  <ul *ngIf="resource.LstChildren.length>0" class="treeview-menu report treeview-menu-2">
                    <li *ngFor="let resourceItem of resource.LstChildren" (click)="openMenuLevel4(resourceItem,item)"
                      [hidden]="resourceItem.Active">
                      <a class="cursor">
                        <span
                          [ngStyle]="{'color':resourceItem.Active? '#ffff':'#f2f4f8','font-weight':resourceItem.Active? 'bold':'normal','font-size':'12px'}"
                          pTooltip="{{resourceItem.Name}}">
                          {{resourceItem.Name.trim()}}
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div *ngIf="resource.LstChildren.length==0">
                  <a class="cursor" (click)="openMenuLevel4(resource,item)">
                    <span [ngStyle]="{'color':resource.Active ? '#ffff' : '#f2f4f8',
                      'font-weight':resource.Active? 'bold' : 'normal',
                      'font-size':'12px','margin-left':'30px','line-height':'30px'}" pTooltip="{{resource.Name}}">
                      {{resource.Name.trim()}}
                    </span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </aside>
    <!-- Content -->
    <div class="content-wrapper" style="height: auto; min-height: 200vh; background-color: #ffffff">
      <div class="col-md-12 no-padding" style="margin: 50px auto auto 45px; ">
        <!-- Hàng 1 -->
        <div class="box-filter">
          <div class="row no-margin formatChart">
            <span class="col-md-6 no-padding chart-detail-left" style="height:470px">
              <p-calendar [(ngModel)]="pieCharDate" dateFormat="dd/mm/yy" appendTo='body' (onClose)="getMasterData()"
                [monthNavigator]="true" view="month" dateFormat="mm/yy" [inputStyle]="{
              'width': '90px' ,
              'position': 'absolute' ,
              'z-index': '10' ,
              'margin-left': '-110px' ,
              'margin-top': '-5px'}" [baseZIndex]="5000">
              </p-calendar>
              <span class="col-md-12" id="pieChart"></span>
            </span>
            <span class="col-md-6 no-padding chart-detail-right" style="height:470px">
              <span class="col-md-11" id="sinhNhat"></span>
              <p class="col-md-1 no-padding linkChiTiet" (click)="XemChiTiet(0)">Chi
                tiết</p>
            </span>

          </div>
          <!-- Hàng 2 -->
          <div class="box-filter">
            <div class="row no-margin formatChart">
              <span class="col-md-6 no-padding chart-detail-left" style="height:470px">
                <span class="col-md-11" id="barChart1"></span>
                <p class="col-md-1 no-padding linkChiTiet" (click)="XemChiTiet(1)">Chi
                  tiết</p>
              </span>
              <span class="col-md-6 no-padding chart-detail-right" style="height:470px">
                <span class="col-md-11" id="barChart2"></span>
                <p class="col-md-1 no-padding linkChiTiet" (click)="XemChiTiet(2)">Chi
                  tiết</p>
              </span>
            </div>
          </div>

          <!-- Hàng 3 -->
          <div class="box-filter">
            <div class="row no-margin formatChart">
              <span class="col-md-12 no-padding chart-detail-full" style="height:470px">
                <span class="col-md-12" id="barChart3"></span>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <p-dialog header="Danh sách nhân viên" [(visible)]="displayModal" [modal]="true" [style]="{width: '1000px'}"
    [contentStyle]="{'overflow': 'unset'}" [baseZIndex]="10000" [resizable]="false">
    <div class="col-md-12">
      <p-table #myTable [columns]="selectedColumns" [value]="listDataDetail" [resizableColumns]="true"
        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [responsive]="true"
        class="table-border">
        <ng-template pTemplate="caption">
          <div class="row no-margin formatChart">
            <span class="col-md-6 no-padding" style="text-align:left">
              {{Title}}
            </span>

            <span class="col-md-6 no-paddin" style="text-align:right">
              <input type="text" pInputText size="50" placeholder="Tìm kiếm trong danh sách"
                (input)="myTable.filterGlobal($event.target.value, 'contains')" style="width:240px">
            </span>
          </div>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{ 'text-align': 'center', 'width': col.width }">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field"
              [ngStyle]="{ 'text-align': col.textAlign,  'width': col.width }">
              <span class="ui-column-title">{{col.header}}</span>

              <span *ngSwitchCase="'index'">
                {{ index + 1 }}
              </span>

              <span *ngSwitchCase="'dateOfBirth'">
                {{ rowData[col.field] != null ? (rowData[col.field] | date:'dd/MM/yyyy') : '' }}
              </span>

              <span *ngSwitchCase="'startDateMayChamCong'">
                {{ rowData[col.field] != null ? (rowData[col.field] | date:'dd/MM/yyyy') : '' }}
              </span>

              <span *ngSwitchCase="'ngayKyHopDong'">
                {{ rowData[col.field] != null ? (rowData[col.field] | date:'dd/MM/yyyy') : '' }}
              </span>
              <span *ngSwitchCase="'ngayBatDau'">
                {{ rowData[col.field] != null ? (rowData[col.field] | date:'dd/MM/yyyy') : '' }}
              </span>
              <span *ngSwitchCase="'ngayKetThuc'">
                {{ rowData[col.field] != null ? (rowData[col.field] | date:'dd/MM/yyyy') : '' }}
              </span>

              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" (click)="displayModal = false" label="Đóng"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
