<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>


<div class="yeu-cau-cap-phat-create">
  <div class="row no-margin">
    <div class="row yeu-cau-cap-phat-create-content" id="parent">
      <div class="row no-margin button-group">
        <div class="col-md-6 no-padding">
          <div class="row no-margin">
            <div class="col-md-1 col-sm-1 col-xs-3">
              <div class="header-box-icon">
                <img src="/assets/icons/components/create_lead.svg" class="header-icon">
              </div>
            </div>
            <div class="col-md-11 col-sm-10 col-xs-9">
              <div>
                <span class="asset-header">Tạo mới yêu cầu cấp phát tài sản</span>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div style="float: right;">
                <span *ngIf="!isInvalidForm" style="margin-right: 30px;">
                  <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                </span>
                <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                  <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                </div>
                <div class="notification" #notifi *ngIf="isOpenNotifiError">
                  <div *ngIf="isInvalidForm" class="notifi-row">
                    <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                    <span class="notifi-text">Vui lòng nhập ngày đề xuất</span>
                  </div>
                </div>

                <button class="cancel" type="button" (click)="cancel()">
                  <span class="text-cancel">Thoát</span>
                </button>

                <button #save (click)="taoYeuCauCapPhat(true)" *ngIf="actionAdd" type="button" class="btn-save-and-new"
                  [disabled]="awaitResult">
                  <span class="btn-save-and-new-text">Lưu và Thêm mới</span>
                </button>

                <button #save class="save" *ngIf="actionAdd" type="button" [disabled]="awaitResult"
                  (click)="taoYeuCauCapPhat(false)">
                  <span class="text-save">Lưu</span>
                </button>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>

      <div class="row no-padding body-wrapper" id="parent">
        <div class="col-md-12">

          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <p-accordionTab header="Thông tin yêu cầu" [selected]="true">
              <div class="row">
                <div class="col-md-12">
                  <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">
                    <!-- HÀNG 1 -->
                    <div class="col-md-12 mb-5">
                      <div class="col-md-3">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Trạng thái</span>
                          </div>
                          <div class="col-md-12">
                            <span><strong>Mới</strong></span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Mã yêu cầu</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <span style="font-style: italic; color: darkgrey;">Hệ thống tự sinh mã</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="row col-md-12 buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Ngày đề xuất</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <p-calendar [(ngModel)]="ngayDeXuat" dateFormat="dd/mm/yy" showButtonBar="true"
                              [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}" [style]="{'width':'100%'}"
                              [monthNavigator]="true"
                              [styleClass]="(ngayDeXuatControl.invalid && (ngayDeXuatControl.dirty || ngayDeXuatControl.touched)) ? 'error-border' : ''"
                              (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                              [baseZIndex]="999" appendTo="body">
                            </p-calendar>
                          </div>
                          <div class="col-md-12" [hidden]="ngayDeXuatControl.valid || ngayDeXuatControl.untouched">
                            <span
                              *ngIf="ngayDeXuatControl.hasError('required') || ngayDeXuatControl.hasError('blankString') "
                              class="error-message-span">
                              Không được để trống
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Người đề xuất</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <span><strong>
                                {{nguoiDeXuat}}
                              </strong></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>

          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <form [formGroup]="yeuCauCapPhatForm">
              <p-accordionTab header="Thông tin tài sản yêu cầu" [selected]="true">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row top-buffer bottom-buffer" style="margin-top: 15px;">

                      <!-- cột 1 -->
                      <div class="col-md-3">
                        <!-- Loại phân bổ -->
                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Loại tài sản</span><span class="required">*</span>
                            </div>
                            <div class="col-md-12">
                              <p-dropdown [options]="listLoaiTS" formControlName="loaiTaiSanControl"
                                [styleClass]="(loaiTaiSanControl.invalid  && (loaiTaiSanControl.dirty ||  loaiTaiSanControl.touched)) ? 'error-border': ''"
                                placeholder="Chọn loại tài sản phân bổ" optionLabel="categoryName"
                                [style]="{'width': '100%'}" [filter]="true" [resetFilterOnHide]="true"
                                [virtualScroll]="true" itemSize="10">
                              </p-dropdown>
                            </div>
                            <div class="col-md-12" [hidden]="loaiTaiSanControl.valid || loaiTaiSanControl.untouched">
                              <span
                                *ngIf="loaiTaiSanControl.hasError('required') || loaiTaiSanControl.hasError('blankString') "
                                class="error-message-span">
                                Không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Mã nhân viên yêu cầu</span><span class="required">*</span>
                            </div>
                            <div class="col-md-12">
                              <p-dropdown [options]="listEmployee" formControlName="nhanVienControl"
                                [styleClass]="(nhanVienControl.invalid  && (nhanVienControl.dirty ||  nhanVienControl.touched)) ? 'error-border': ''"
                                [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                                (onChange)="thayDoiNhanVien($event)" placeholder="Chọn nhân viên"
                                optionLabel="employeeCodeName" [style]="{'width': '100%'}">
                              </p-dropdown>
                            </div>
                            <div class="col-md-12" [hidden]="nhanVienControl.valid || nhanVienControl.untouched">
                              <span
                                *ngIf="nhanVienControl.hasError('required') || nhanVienControl.hasError('blankString') "
                                class="error-message-span">
                                Không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Mục đích sử dụng</span><span class="required">*</span>
                            </div>
                            <div class="col-md-12">
                              <p-dropdown [options]="listMucDichSuDung" formControlName="mucDichSuDungControl"
                                [styleClass]="(mucDichSuDungControl.invalid  && (mucDichSuDungControl.dirty ||  mucDichSuDungControl.touched)) ? 'error-border': ''"
                                [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                                placeholder="Chọn mục đích sử dụng" optionLabel="categoryName"
                                [style]="{'width': '100%'}">
                              </p-dropdown>
                            </div>
                            <div class="col-md-12"
                              [hidden]="mucDichSuDungControl.valid || mucDichSuDungControl.untouched">
                              <span
                                *ngIf="mucDichSuDungControl.hasError('required') || mucDichSuDungControl.hasError('blankString') "
                                class="error-message-span">
                                Không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- cột 2 -->
                      <div class="col-md-3">
                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Số lượng</span><span class="required">*</span>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="number-input" formControlName="soLuongControl"
                                (keydown.enter)="$event.preventDefault()"
                                [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                [ngClass]="(soLuongControl.hasError('pattern')||soLuongControl.hasError('min')||soLuongControl.hasError('required')) && !soLuongControl.valid && !soLuongControl.untouched ? 'error-border' : ''"
                                [style]="{'width': '100%', 'display':'inline-grid'}">
                            </div>
                            <div class="col-md-12" [hidden]="soLuongControl.valid || soLuongControl.untouched">
                              <span
                                *ngIf="soLuongControl.hasError('required') || soLuongControl.hasError('blankString') "
                                class="error-message-span">
                                Không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Phòng ban</span>
                            </div>
                            <div class="col-md-12">
                              <input id="input" type="text" size="30" pInputText
                                value="{{employeeModel.organizationName}}" [ngStyle]="{'width': '100%'}"
                                disabled="true">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="row buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Sử dụng từ ngày</span><span class="required">*</span>
                            </div>
                            <div class="col-md-12">
                              <p-calendar #start formControlName="ngayBatDauControl" dateFormat="dd/mm/yy"
                                showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                                [style]="{'width':'100%'}" [maxDate]="ngayKetThucControl.value" [monthNavigator]="true"
                                [styleClass]="(ngayBatDauControl.invalid && (ngayBatDauControl.dirty || ngayBatDauControl.touched)) ? 'error-border' : ''"
                                (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                                [baseZIndex]="999" appendTo="body">
                              </p-calendar>
                            </div>
                            <div class="col-md-12" [hidden]="ngayBatDauControl.valid || ngayBatDauControl.untouched">
                              <span
                                *ngIf="ngayBatDauControl.hasError('required') || ngayBatDauControl.hasError('blankString') "
                                class="error-message-span">
                                Không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- cột 3 -->
                      <div class="col-md-6">
                        <!-- Mô tả -->
                        <div class="col-md-12">
                          <div class="row col-md-12 buffer-bottom">
                            <div class="col-md-12 buffer-bottom-label">
                              <span>Mô tả</span>
                            </div>
                            <div class="col-md-12">
                              <input formControlName="moTaControl" type="text" maxlength="500" style="width: 107.3%"
                                pInputText />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 no-padding">
                          <div class="col-md-12">
                            <div class="row col-md-12 buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>Khu vực</span>
                              </div>
                              <div class="col-md-12">
                                <input id="input" type="text" size="30" pInputText
                                  value="{{employeeModel.provinceName}}" [ngStyle]="{'width': '100%'}" disabled="true">
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="row col-md-12 buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>Sử dụng đến ngày</span>
                              </div>
                              <div class="col-md-12">
                                <p-calendar #start formControlName="ngayKetThucControl" dateFormat="dd/mm/yy"
                                  showButtonBar="true" [yearNavigator]="true" yearRange="1990:{{today.getFullYear()}}"
                                  [style]="{'width':'100%'}" [minDate]="ngayBatDauControl.value" [monthNavigator]="true"
                                  (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                                  [baseZIndex]="999" appendTo="body">
                                </p-calendar>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 no-padding">
                          <div class="col-md-12">
                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>Lý do yêu cầu</span>
                              </div>
                              <div class="col-md-12">
                                <textarea formControlName="lyDoControl" type="text" rows="5" class="w100"
                                  pInputText></textarea>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!-- HÀNG 4 -->
                      <div class="col-md-12 mb-5 mt-15">
                        <button #save class="save" style="float: right;" *ngIf="!isUpdate" type="button"
                          (click)="createYeuCauTemp()" [disabled]="awaitResult"><span
                            class="text-save">Thêm</span></button>

                        <button #save class="save" style="float: right;" *ngIf="isUpdate" type="button"
                          (click)="updateYeuCauTemp()" [disabled]="awaitResult"><span class="text-save">Cập
                            nhật</span></button>

                        <button type="button" class="btn-refresh" style="float: right;" (click)="refreshForm()">
                          <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </form>
          </p-accordion>

          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <p-accordionTab header="Danh sách tài sản yêu cầu" [selected]="true">
              <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px" id="parent">
                <div class="col-md-12" style="margin-top: 20px;">
                  <p-table #myTable [columns]="selectedColumns" [value]="listTaiSanYeuCauTemp" [responsive]="true"
                    [resizableColumns]="true" selectionMode="single" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,30,100]" class="table-border">
                    <ng-template pTemplate="caption">

                      <div style="text-align: left;">
                        <p-multiSelect [options]="selectedColumns" optionLabel="header" [(ngModel)]="selectedColumns"
                          [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
                          [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột"></p-multiSelect>
                      </div>

                      <div style="text-align: right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" class="search" pInputText size="50" placeholder="Nhập từ khóa tìm kiếm"
                          (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">

                        <button class="save" type="button" (click)="importAsset()">
                          <span class="text-save">Import file</span>
                        </button>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width:50px">#</th>
                        <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                          {{col.header}}
                        </th>
                        <th style="width:100px"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                      <tr [pSelectableRow]="rowData">
                        <td style="text-align: center;">
                          {{i + 1}}
                        </td>
                        <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                          [ngStyle]="{'text-align': col.textAlign}">
                          <span class="ui-column-title">{{col.header}}</span>

                          <span *ngSwitchCase="'ngayBatDauString'">{{rowData[col.field]}}</span>
                          <span *ngSwitchCase="'ngayKetThucString'">{{rowData[col.field]}}</span>
                          <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                        </td>
                        <td style="width:100px">
                          <button pButton icon="fa fa-pencil" class="ui-button-primary"
                            (click)="reShowAsset(rowData)"></button>
                          &nbsp;
                          <button pButton icon="pi pi-trash" class="ui-button-danger"
                            (click)="delAssetTemp(rowData)"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>

        </div>

        <div class="col-md-12">
          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <p-accordionTab header="Tài liệu liên quan" [selected]="true">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12 mt-5">
                    <p-fileUpload #fileUpload name="demo[]" customUpload="true" multiple="multiple"
                      [showUploadButton]="false"
                      accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                      [maxFileSize]="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                      invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                      invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                      invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                      chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" [disabled]="statusCode !== null"
                      (onSelect)="handleFile($event, fileUpload)" (onRemove)="removeFile($event)"
                      (onClear)="clearAllFile()">
                    </p-fileUpload>
                  </div>

                  <div class="col-md-12 mt-5">
                    <p-table #dt [columns]="colsFile" [value]="arrayDocumentModel" [responsive]="true"
                      [resizableColumns]="true" [paginator]="true" [rows]="10">
                      <ng-template pTemplate="caption">
                        <div style="text-align: right">
                          <input type="text" pInputText size="50" placeholder="Tên tài liệu"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                            {{col.header}}
                          </th>
                          <th style="width:4em"></th>
                          <th style="width:4em"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                            [ngStyle]="{'text-align': col.textAlign}">
                            <span class="ui-column-title">{{col.header}}</span>


                            <span *ngSwitchCase="'fileName'">
                              {{rowData[col.field].substring(0,rowData[col.field].lastIndexOf('_'))}}.{{rowData[col.field].fileExtension}}
                            </span>
                            <span *ngSwitchCase="'createdDate'">
                              {{rowData[col.field] | date:'dd/MM/yyyy h:mm a'}}
                            </span>
                            <span *ngSwitchCase="'size'">
                              <ng-container *ngIf="convertFileSize(rowData[col.field])">
                                {{rowData[col.field] / 1024 | number}} KB
                              </ng-container>
                              <ng-container *ngIf="!convertFileSize(rowData[col.field])">
                                {{rowData[col.field] / 1048576 | number}} MB
                              </ng-container>
                            </span>
                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                          </td>
                          <td>
                            <button *ngIf="actionDelete && isAllowDeleteFile" pButton icon="pi pi-trash"
                              (click)="deleteFile(rowData)" class="ui-button-danger"></button>
                          </td>
                          <td>
                            <button pButton icon="pi pi-download" (click)="downloadFile(rowData)"></button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog header="Import file excel" [(visible)]="displayChooseFileImportDialog" [modal]="true" [responsive]="true"
  class='showImportForm' [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000"
  [closable]="true" (onHide)="closeChooseFileImportDialog()">
  <div class="col-md-4 mt-25">
    <span>File mẫu</span>
  </div>
  <div class="col-md-8 mt-25">
    <button class="choose-file" type="button" (click)="downloadTemplateExcel()">
      <span class="text-choose-file">Tải file mẫu</span>
    </button>
  </div>
  <div class="col-md-4 mt-25">
    <span>Chọn file</span>
  </div>
  <div class="col-md-8 mt-25" style="margin-bottom: 25px;">
    <button class="btn btn-primary btn-file import-file">
      <span class="text-import">Chọn file</span>
      <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
        accept=".xlsx, .xls">
    </button>
    <div>{{fileName}}</div>
  </div>
  <p-footer>
    <button class="btn-create" type="button" #save (click)="importExcel()">
      <span class="btn-create-text">Nhập</span>
    </button>
  </p-footer>
</p-dialog>
