<p-toast position="bottom-right"></p-toast>
<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="system-parameter">
  <div class="row no-margin bg-white shadow">
    <div class="col-md-12 pd-10">
      <span class="title">Tham số hệ thống</span>
    </div>
  </div>
  <div class="row no-margin mt-10">
    <div class="col-md-12 no-padding">
      <p-tabView>
        <p-tabPanel header="Tham số hệ thống" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12">
              <p-table [columns]="colHeader" [value]="listGroupSystem" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      <span class="ui-column-title">{{col.header}}</span>
                      <span *ngSwitchCase="'loaiThamSo'">
                        {{rowData.systemDescription}}
                      </span>
                      <span *ngSwitchCase="'giaTri'">
                        <span *ngIf="rowData.systemValue != null">
                          <p-inputSwitch [(ngModel)]="rowData.systemValue" [disabled]="!rowData.isEdit"
                            (onChange)="changeParameter(rowData)">
                          </p-inputSwitch>
                        </span>
                        <span *ngIf="rowData.systemValue == null">
                          <input pInputText class="item" style="width: 100%;" [disabled]="!rowData.isEdit" type="text"
                            [(ngModel)]="rowData.systemValueString" />
                        </span>
                      </span>
                      <span *ngSwitchCase="'moTa'">
                        <textarea [rows]="2" style="width: 100%;" [(ngModel)]="rowData.description" pInputTextarea
                          autoResize="autoResize" [disabled]="!rowData.isEdit"></textarea>
                      </span>
                      <span *ngSwitchCase="'chucNang'">
                        <div>
                          <div *ngIf="rowData.isEdit">
                            <button pButton icon="pi pi-save" class="ui-button" style="margin-right: 3%;"
                              (click)="changeParameter(rowData)"></button>
                            <button pButton icon="pi pi-times" class="ui-button" (click)="cancelEdit(rowData)"></button>
                          </div>
                          <div *ngIf="!rowData.isEdit && actionEdit">
                            <button pButton icon="pi pi-pencil" class="ui-button" (click)="onEdit(rowData)"></button>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Email" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12">
              <p-table [columns]="colHeader" [value]="listGroupEmail" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      <span class="ui-column-title">{{col.header}}</span>
                      <span *ngSwitchCase="'loaiThamSo'">
                        {{rowData.systemDescription}}
                      </span>
                      <span *ngSwitchCase="'giaTri'">
                        <span *ngIf="rowData.systemValue != null">
                          <p-inputSwitch [(ngModel)]="rowData.systemValue" [disabled]="!rowData.isEdit"
                            (onChange)="changeParameter(rowData)">
                          </p-inputSwitch>
                        </span>
                        <span *ngIf="rowData.systemValue == null">
                          <input pInputText class="item" style="width: 100%;" [disabled]="!rowData.isEdit" type="text"
                            [(ngModel)]="rowData.systemValueString" />
                        </span>
                      </span>
                      <span *ngSwitchCase="'moTa'">
                        <textarea [rows]="2" style="width: 100%;" [(ngModel)]="rowData.description" pInputTextarea
                          autoResize="autoResize" [disabled]="!rowData.isEdit"></textarea>
                      </span>
                      <span *ngSwitchCase="'chucNang'">
                        <div>
                          <div *ngIf="rowData.isEdit">
                            <button pButton icon="pi pi-save" class="ui-button" style="margin-right: 3%;"
                              (click)="changeParameter(rowData)"></button>
                            <button pButton icon="pi pi-times" class="ui-button" (click)="cancelEdit(rowData)"></button>
                          </div>
                          <div *ngIf="!rowData.isEdit && actionEdit">
                            <button pButton icon="pi pi-pencil" class="ui-button" (click)="onEdit(rowData)"></button>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Tiền tệ" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12">
              <p-table [columns]="colHeader" [value]="listGroupCurrency" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      <span class="ui-column-title">{{col.header}}</span>
                      <span *ngSwitchCase="'loaiThamSo'">
                        {{rowData.systemDescription}}
                      </span>
                      <span *ngSwitchCase="'giaTri'">
                        <span *ngIf="rowData.systemValue != null">
                          <p-inputSwitch [(ngModel)]="rowData.systemValue" [disabled]="!rowData.isEdit"
                            (onChange)="changeParameter(rowData)">
                          </p-inputSwitch>
                        </span>
                        <span *ngIf="rowData.systemValue == null">
                          <input pInputText class="item" style="width: 100%;" [disabled]="!rowData.isEdit" type="text"
                            [(ngModel)]="rowData.systemValueString" />
                        </span>
                      </span>
                      <span *ngSwitchCase="'moTa'">
                        <textarea [rows]="2" style="width: 100%;" [(ngModel)]="rowData.description" pInputTextarea
                          autoResize="autoResize" [disabled]="!rowData.isEdit"></textarea>
                      </span>
                      <span *ngSwitchCase="'chucNang'">
                        <div>
                          <div *ngIf="rowData.isEdit">
                            <button pButton icon="pi pi-save" class="ui-button" style="margin-right: 3%;"
                              (click)="changeParameter(rowData)"></button>
                            <button pButton icon="pi pi-times" class="ui-button" (click)="cancelEdit(rowData)"></button>
                          </div>
                          <div *ngIf="!rowData.isEdit && actionEdit">
                            <button pButton icon="pi pi-pencil" class="ui-button" (click)="onEdit(rowData)"></button>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel> -->
        <!-- <p-tabPanel header="Thông báo Email" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12">
              <p-table [columns]="colHeader" [value]="listGroupTemplateEmail" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                      <span class="ui-column-title">{{col.header}}</span>
                      <span *ngSwitchCase="'loaiThamSo'">
                        {{rowData.systemDescription}}
                      </span>
                      <span *ngSwitchCase="'giaTri'">
                        <span *ngIf="rowData.systemValue != null">
                          <p-inputSwitch [(ngModel)]="rowData.systemValue" [disabled]="!rowData.isEdit"
                            (onChange)="changeParameter(rowData)">
                          </p-inputSwitch>
                        </span>
                        <span *ngIf="rowData.systemValue == null">
                          <input pInputText class="item" style="width: 100%;" [disabled]="!rowData.isEdit" type="text"
                            [(ngModel)]="rowData.systemValueString" />
                        </span>
                      </span>
                      <span *ngSwitchCase="'moTa'">
                        <textarea [rows]="2" style="width: 100%;" [(ngModel)]="rowData.description" pInputTextarea
                          autoResize="autoResize" [disabled]="!rowData.isEdit"></textarea>
                      </span>
                      <span *ngSwitchCase="'chucNang'">
                        <div>
                          <div *ngIf="rowData.isEdit">
                            <button pButton icon="pi pi-save" class="ui-button" style="margin-right: 3%;"
                              (click)="changeParameter(rowData)"></button>
                            <button pButton icon="pi pi-times" class="ui-button" (click)="cancelEdit(rowData)"></button>
                          </div>
                          <div *ngIf="!rowData.isEdit && actionEdit">
                            <button pButton icon="pi pi-pencil" class="ui-button" (click)="onEdit(rowData)"></button>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel> -->
        <p-tabPanel header="Email nhân sự" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row" style="margin-top: 20px;">
            <div [formGroup]="emailForm" class="col-md-3">
              <div class="row">
                <div class="col-md-3">
                  Email:
                </div>
                <div class="col-md-9">
                  <input pInputText style="width: 100%;" type="text" formControlName="emailControl" 
                    [ngClass]="emailControl.invalid && (emailControl.dirty || emailControl.touched) ? 'error-border': ''" />
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                  Password:
                </div>
                <div class="col-md-9">
                  <input pInputText style="width: 100%;" type="text" formControlName="passwordControl"
                    [ngClass]="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) ? 'error-border': ''" />
                </div>
              </div>
              <div class="row" style="margin-top: 10px; text-align: right;">
                <div class="col-md-12">
                  <button pButton type="button" label="Tạo mới" (click)="createEmailNhanSu()"></button>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <p-table [columns]="cols" [value]="listEmailNhanSu" dataKey="emailNhanSuId" editMode="row">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns"
                      [ngStyle]="{'text-align': 'center', 'width': col.colWith}">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'width': col.colWith}">
                      <span *ngSwitchCase="'email'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                          </ng-template>
                        </p-cellEditor>
                      </span>
                      <span *ngSwitchCase="'password'">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                          </ng-template>
                        </p-cellEditor>
                      </span>
                      <span *ngSwitchCase="'actions'">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                        <!-- <button *ngIf="!editing" pButton icon="fa fa-trash" class="button-delete" (click)="xoaEmail(rowData)"></button> -->
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Logo" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-12">
                <p-table [columns]="colHeader" [value]="listGroupLogo" [responsive]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" pResizableColumn
                        [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns" [ngSwitch]="col.field"
                        [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.colWith}">
                        <span class="ui-column-title">{{col.header}}</span>
                        <span *ngSwitchCase="'loaiThamSo'">
                          {{rowData.systemDescription}}
                        </span>
                        <span *ngSwitchCase="'giaTri'">
                          <span *ngIf="rowData.systemValue != null">
                            <p-inputSwitch [(ngModel)]="rowData.systemValue" [disabled]="!rowData.isEdit"
                              (onChange)="changeParameter(rowData)">
                            </p-inputSwitch>
                          </span>
                          <span *ngIf="rowData.systemValue == null">
                            <input pInputText class="item" style="width: 100%;" [disabled]="!rowData.isEdit" type="text"
                              [(ngModel)]="rowData.systemValueString" />
                          </span>
                        </span>
                        <span *ngSwitchCase="'moTa'">
                          <textarea [rows]="2" style="width: 100%;" [(ngModel)]="rowData.description" pInputTextarea
                            autoResize="autoResize" [disabled]="!rowData.isEdit"></textarea>
                        </span>
                        <span *ngSwitchCase="'chucNang'">
                          <div>
                            <div *ngIf="rowData.isEdit">
                              <button pButton icon="pi pi-save" class="ui-button" style="margin-right: 3%;"
                                (click)="changeParameter(rowData)"></button>
                              <button pButton icon="pi pi-times" class="ui-button"
                                (click)="cancelEdit(rowData)"></button>
                            </div>
                            <div *ngIf="!rowData.isEdit && actionEdit">
                              <button pButton icon="pi pi-pencil" class="ui-button" (click)="onEdit(rowData)"></button>
                            </div>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <img src="{{base64Logo}}">
                <img #currentLogo src="{{currentBase64Logo}}" style="display: none;">
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <p-fileUpload name="demo[]" (onSelect)="handleFile($event)" customUpload="true"
                  [showCancelButton]="false" (uploadHandler)="myUploader($event)" (onRemove)="onRemove($event)"
                  chooseLabel="Chọn file" cancelLabel="Hủy file" uploadLabel="Lưu" accept="image/*"
                  maxFileSize="10000000">
                </p-fileUpload>
              </div>
              <div class="col-md-12" style="margin-top: 10px;">
                <span class="error-message-span">{{validLogo}}</span>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Đồng bộ" [headerStyle]="{width: '145px', 'text-align': 'center'}">
          <div class="row">
            <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-6" style="margin-top: 28px;">
                Đồng bộ dữ liệu EVN của ngày hôm nay
              </div>
              <div class="col-md-6" style="margin-top: 20px;">
                <button pButton icon="pi pi-spinner" label="Đồng bộ" class="ui-button"
                  (click)="synchronizedEvn()"></button>
              </div>
            </div>
            <hr />
          </div>
        </p-tabPanel> -->
      </p-tabView>
    </div>
  </div>
</div>