<div style="width: 100%">
      <div class="main">
      <h2 class="no-margin">Thay đổi mật khẩu</h2>
      <form class="main-content" [formGroup]="passwordForm">
        <p class="col-md-12 no-padding" style="text-align: left; margin-bottom: 15px">Tên đăng nhập: <strong>{{data.accountName}}</strong></p>
        <div class="col-md-12 no-padding form-group icon-with-input">
          <input id="formOldPass" [ngClass]="formOldPass.hasError('required') && !formOldPass.valid && !formOldPass.untouched ? 'error-border' : ''"
                formControlName="formOldPass" [(ngModel)]="oldPassword" type="password" class="form-control"
                placeholder="Mật khẩu cũ" name="formOldPass" maxlength="25" />
          <i class="material-icons" aria-hidden="true">account_circle</i>
          <div class="md-errors-spacer" [hidden]="formOldPass.valid || formOldPass.untouched">
            <mat-error *ngIf="formOldPass.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
          </div>
        </div>
        <div class="col-md-12 no-padding form-group icon-with-input under">
          <input id="formNewPass" [ngClass]="formNewPass.hasError('required') && !formNewPass.valid && !formNewPass.untouched ? 'error-border' : ''"
                formControlName="formNewPass" [(ngModel)]="newPassword" type="password" class="form-control"
                placeholder="Mật khẩu mới" name="formNewPass" maxlength="25">
          <i class="material-icons" aria-hidden="true">lock</i>
          <div class="md-errors-spacer" [hidden]="formNewPass.valid || formNewPass.untouched">
            <mat-error *ngIf="formNewPass.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
          </div>
        </div>
        <div class="col-md-12 no-padding form-group icon-with-input under_lv2">
          <input id="formNewPassConfirm" [ngClass]="formNewPassConfirm.hasError('required') && !formNewPassConfirm.valid && !formNewPassConfirm.untouched ? 'error-border' : ''"
                formControlName="formNewPassConfirm" [(ngModel)]="newPasswordConfirm" type="password" class="form-control"
                placeholder="Nhập lại mật khẩu mới" name="formNewPassConfirm" maxlength="25">
          <i class="material-icons" aria-hidden="true">lock</i>
          <div class="md-errors-spacer" [hidden]="formNewPassConfirm.valid || formNewPassConfirm.untouched">
            <mat-error *ngIf="formNewPassConfirm.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
          </div>
        </div>
        <div class="form-group">
          <button class="change-button btn btn-primary" (click)="changepassword()" >Thay đổi mât khẩu</button>
        </div>
        <div class="form-group">
          <button class="cancel_button btn btn-primary" (click)="cancel()" >Hủy</button>
        </div>
      </form>
      </div>
</div>
