.cauhinh-baohiem .header-page {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid #dde1e6;
  border-radius: 5px;
  background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
  border-bottom: 0;
}

.cauhinh-baohiem .header-box-icon {
  display: inline-flex;
}

.cauhinh-baohiem .header-icon {
  width: 25px;
  height: 25px;
}

.cauhinh-baohiem .page-title {
  font-weight: 700;
  font-size: 18px;
  padding-left: 0.5em;
}

.cauhinh-baohiem .mt-10 {
  margin-top: 10px;
}

.cauhinh-baohiem .mt-20 {
  margin-top: 20px;
}

.cauhinh-baohiem .loft-care-box {
  padding: 15px 15px; 
  /* border: 1px solid #ccc;  */
  margin-bottom: 20px;
}

.cauhinh-baohiem .input-disable {
  opacity: 0.5;
}

.cauhinh-baohiem .title-section {
  font-size: 16px;
  font-weight: bold;
}