<div class="cauhinh-baohiem">
  <div class="row header-page no-margin">
    <div class="col-md-12 no-padding header-box-icon">
      <img src="/assets/icons/components/create_lead.svg" class="header-icon">
      <span class="page-title">Cấu hình bảo hiểm</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p-tabView>
        <p-tabPanel header="Bảo hiểm xã hội">
          <app-bao-hiem-xa-hoi></app-bao-hiem-xa-hoi>
        </p-tabPanel>
        <p-tabPanel header="Bảo hiểm Loftcare">
          <app-bao-hiem-loftcare></app-bao-hiem-loftcare>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>