.template-email-dialog {
    background-color: #fff;
    margin: -15px;
    padding: 20px;
}

.org-dialog-title {
    background-color: #6D98E7;
    color: #fff;
    font-weight: bold;
    /* margin: -26px -26px 0 -26px !important; */
    margin: -5px -15px 0px -5px !important;
    padding: 20px;
    font-size:14px;
}

.org-dialog-buttons {
    text-align: right;
}

.template-email-dialog .row {
    margin-right: 0px;
    margin-left: 0px;
}

.form-control {
    border-radius: 0.25rem;
}

.form-control, select.form-control {
    height: auto;
    max-height: 34px;
}

.w100 {
    width: 100%;
}

.mt-15 {
    margin-top: 15px;
}

.mt-8 {
    margin-top: 8px;
}

.btn-search {
    min-width: 34px;
    height: 34px;
    background-color: #6D98E7;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

::ng-deep .template-email-dialog .mat-form-field-underline {
    display: none !important;
}
  
::ng-deep .template-email-dialog .mat-form-field-wrapper {
    bottom: 6px;
}

::ng-deep .template-email-dialog .mat-form-field-infix {
    border: none !important;
    height: 30px;
}

::ng-deep .template-email-dialog .mat-select-value {
    font-family: serif;
    font-size: 12px;
}

::ng-deep .template-email-dialog .mat-select-trigger {
    bottom: 1px;
}

::ng-deep .template-email-dialog .mat-radio-outer-circle, ::ng-deep .template-email-dialog .mat-radio-inner-circle {
    height: 15px !important;
    width: 15px !important;
    top: 1px !important;
    left: 2px !important;
}
  
::ng-deep .template-email-dialog .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #6d98e7 !important;
}

::ng-deep .template-email-dialog .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6d98e7 !important;
}

::ng-deep .template-email-dialog .mat-icon-button {
    position: relative;
    bottom: 2px;
}

.grid-display {
    display: grid;
}

.template-email-dialog mat-header-cell {
    font-size: 12px;
}

::ng-deep #template-email-table .mat-checkbox-inner-container-no-side-margin {
    width: 12px !important;
    height: 12px !important;
}
  
::ng-deep #template-email-table .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep #template-email-table .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(109, 152, 231) !important;
}
  
::ng-deep #template-email-table .mat-ripple-element {
    background: rgba(109, 152, 231, .4) !important;
}

.color-link {
    color: #23527c;
}

.cursor {
    cursor: pointer;
}

.mat-elevation-z8 {
    box-shadow: none;
    border: solid 1px #d9d9d9;
}