.main{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5),
        0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.main h2{
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    height: 60px;
    font-size: 16px;
    font-family: serif;
    background: #1f2e4b;
    color: #FFFFFF;
}

.no-margin{
    margin: 0;
}

.main-content{
    padding: 30px 60px 0px;
    background: #FFF;
}

.material-icons{
    font-size: 14px;
    padding: 2px;
    color: #fff;
    background: #36e63b;
    border-radius: 50%;
}

.btn{
    background: #6d98e7 !important;
    padding: 13px 12px !important;
    width: 100%;
    font-family: serif;
    font-weight: 700;
    border: none !important;
    margin: 20px 0px;
}

p{
    font-family: serif;
    font-size: 14px;
    float: left;
    text-align: left !important;
}