::ng-deep .content-wrapper {
  background-color: #fff !important;
}

.detail-tangLuong {
  font-family: "Inter UI";
}

.detail-tangLuong .body-wrapper {
  background-color: #fff;
  border          : solid 1px #cccccc;
}

.detail-tangLuong .header {
  background-color: #ffffff;
  border-radius   : 4px;
  border          : solid 1px #cccccc;
}

.detail-tangLuong .header-box-icon {
  width        : 40px;
  height       : 40px;
  border-radius: 50%;
}

.detail-tangLuong .header-icon {
  width      : 18px;
  height     : 18px;
  object-fit : contain;
  margin-top : 13px;
  margin-left: 10px;
}

.detail-tangLuong .buffer-top {
  margin-top: 1.2rem;
}

.detail-tangLuong .buffer-bottom {
  margin-bottom: 1.2rem;
}

.detail-tangLuong .buffer-bottom-label {
  margin-bottom: 3px;
}

.detail-tangLuong .required {
  color: red;
}

.detail-tangLuong .error-message-span {
  color: red;
}

.detail-tangLuong .customer-name {
  width         : 119px;
  height        : 20px;
  font-family   : 'Inter UI';
  font-size     : 19px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 2.25;
  letter-spacing: normal;
  text-align    : left;
  color         : #121619;
}

.detail-tangLuong .btn-remove {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left     : 5px;
}

.detail-tangLuong .btn-remove-text {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #121619;
}

.detail-tangLuong .btn-save-and-new {
  width           : 142px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #0f62fe;
  background-color: #ffffff;
  margin-left     : 5px;
}

.detail-tangLuong .btn-save-and-new .btn-save-and-new-text {
  width         : 102px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.46;
  letter-spacing: normal;
  text-align    : left;
  color         : #0f62fe;
}

::ng-deep .detail-tangLuong .ui-dropdown {
  min-width: 0px !important;
}

::ng-deep .detail-tangLuong .ui-menu ul {
  text-align: left;
}


 .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

 .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}



 .btn-cancel-note {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

 .save-cancel-lable {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}


.detail-tangLuong .btn-save {
  width           : 72px;
  height          : 32px;
  border-radius   : 4px;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border          : solid 1px #cccccc;
  margin-left     : 5px;
}

.detail-tangLuong .btn-save-text {
  width         : 24px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.15;
  letter-spacing: normal;
  text-align    : center;
  color         : #ffffff;
}

.detail-tangLuong .body-wrapper {
  margin-top  : 20px;
  margin-left : 0px;
  margin-right: 0px;
}

.detail-tangLuong .w100 {
  width: 100% !important;
}

.detail-tangLuong .my-form-control {
  display    : flex;
  align-items: center;
}



.detail-tangLuong .btn-filter {
  width: 104px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}


.detail-tangLuong .btn-filter-text {
  width: 36px;
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.detail-tangLuong .btn-filter {
  width: auto;
}

.detail-tangLuong .btn-filter {
  width: auto;
}

.detail-tangLuong .btn-refresh {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}


.detail-tangLuong .btn-save-and-new {
  width           : 142px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #0f62fe;
  background-color: #ffffff;
  margin-left     : 5px;
}

.detail-tangLuong .btn-save-and-new .btn-save-and-new-text {
  width         : 102px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.46;
  letter-spacing: normal;
  text-align    : left;
  color         : #0f62fe;
}



/*Begin: Customize Accordion */

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-header a {
  border          : 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size       : 16px;
}

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border          : 1px solid #ffffff !important;
  color           : #121619 !important;
}

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .detail-tangLuong .ui-accordion .ui-accordion-content {
  border          : 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.note-user {
  font-family: 'Inter UI';
  font-weight: bold;
}

.timeline>li>.timeline-item {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.timeline-content {
  margin-top: 20px;
}

.bg-blueX {
  background-color: #4E6BA5 !important;
}

.color-w {
  color: #fff !important;
}

.timeline-item .onHover {
  display: none;
}

.timeline-item:hover .onHover {
  display: block;
}

.material-icons {
  cursor: pointer;
}

.timeline-user-avatar {
  border-radius: 50%;
  margin-right : 5px;
  float        : left;
}

.note-title {
  font-size  : 11px !important;
  color      : #222 !important;
  font-weight: normal !important;
}

.time-note {
  font-size  : 10px !important;
  color      : #5d5a5a !important;
  font-weight: normal !important;
}

.timeline-body {
  padding: 10px 15px;
}

/* Thanh trạng thái phê duyệt */

.slds-path__nav {
  display: flex;
  align-items: flex-start;
  list-style: none;
  border: 0;
  padding-bottom: 20px;
}

.slds-path__nav li a:hover,
.slds-path__nav li.active a
{
  background: unset;
  background-color: unset;
  border: 0;
}

.slds-path__nav .slds-path__item {
  position: relative;
  flex: 1;
  margin-left: .375rem;
  margin-right: .4375rem;
  min-width: 5rem;
  text-align: center;
}

.slds-path__nav .slds-path__item:first-child {
  margin-left: 0;
  border-top-left-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-left-radius: var(--lwc-heightSalesPath,2rem);
  padding-left: .625rem;
}

.slds-path__nav .slds-path__item:last-child {
  margin-right: 0;
  border-top-right-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-right-radius: var(--lwc-heightSalesPath,2rem);
  padding-right: .625rem;
}

.slds-path__nav .slds-path__item:first-child:before,
.slds-path__nav .slds-path__item:first-child:after
{
  left: 1.525rem;
}

.slds-path__nav .slds-path__item:last-child:before,
.slds-path__nav .slds-path__item:last-child:after {
  right: .625rem;
}

.slds-path__nav .slds-path__title,
.slds-path__nav .slds-path__stage {
  display: block;
  transition: transform .2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slds-path__nav .sty{
  padding-left: inherit;
}

.slds-path__nav .slds-path__stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.slds-path__nav .slds-is-complete,
.slds-path__nav .slds-is-complete:before,
.slds-path__nav .slds-is-complete:after
{
  background: var(--lwc-colorBackgroundPathComplete,rgb(75, 202, 129));
}

.slds-path__nav .slds-is-complete .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(0deg);
}

.slds-path__nav .slds-is-complete .slds-path__title {
  transform: rotateX(180deg);
}

.slds-path__nav .slds-is-complete .slds-path__link,
::ng-deep  .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown,
::ng-deep  .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}

.slds-path__nav .slds-is-complete:hover .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.slds-path__nav .slds-is-complete:hover .slds-path__title {
  transform: rotateX(0deg);
}

.slds-path__nav .slds-is-complete:hover,
.slds-path__nav .slds-is-complete:hover:before,
.slds-path__nav .slds-is-complete:hover:after
{
  background: var(--lwc-colorBackgroundPathCompleteHover,rgb(4, 132, 75));
}

 .slds-path__nav .slds-is-incomplete:before,
 .slds-path__nav .slds-is-incomplete:after
{
  background: var(--lwc-colorBackgroundPathIncomplete,rgb(236, 235, 234));
}

.slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:before,
.slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:after
{
  background: var(--lwc-colorBackgroundPathIncompleteHover,rgb(221, 219, 218));
}

.slds-path__nav .slds-is-current {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
}

.slds-path__nav .slds-is-current:before,
.slds-path__nav .slds-is-current:after {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  background-repeat: no-repeat;
  background-size: .125rem 100%,.125rem 100%,100% .125rem;
}

.slds-path__nav .slds-is-current:before {
  background-position: top right,top left,top left;
}

.slds-path__nav .slds-is-current:after {
  background-position: top right,top left,bottom left;
}

.slds-path__nav .slds-is-current:hover:before,
.slds-path__nav .slds-is-current:hover:after {
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem);
}

.slds-path__nav .slds-is-current:hover a,
.slds-path__nav .slds-is-current:hover a{
  color: #00396b;
}

.slds-path__nav .slds-is-current:first-child {
  border: 2px solid var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178));
  border-right: 0;
}

.slds-path__nav .slds-is-current:first-child:before {
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  top: -.125rem;
  left: 1.125rem;
}

.slds-path__nav .slds-is-current:first-child:after {
  left: 1.125rem;
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  bottom: -.125rem;
}

.slds-path__nav .slds-is-current:first-child a {
  height: 2.35rem;
}

::ng-deep .slds-path__nav .slds-path__item p-dropdown .ui-dropdown,
::ng-deep .slds-path__nav .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  background: unset;
  border: 0;
  color: #121619;
}

.slds-path__nav .slds-is-incomplete.slds-is-current:not(.active) .slds-path__title,
::ng-deep .slds-path__nav .slds-path__item.slds-is-current p-dropdown .ui-dropdown,
::ng-deep .slds-path__nav .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #005fb2;
}

::ng-deep .slds-path__nav .slds-is-current.active p-dropdown .ui-dropdown,
::ng-deep .slds-path__nav .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #ffffff;
}

::ng-deep .slds-path__nav .slds-path__item p-dropdown .ui-dropdown.ui-state-focus {
  outline: 0;
  box-shadow: unset;
  border: 0;
}

.slds-path__nav .slds-is-current.active:first-child,
.slds-path__nav .slds-is-complete.active,
.slds-path__nav .slds-path__item.active:before,
.slds-path__nav .slds-path__item.active:after
{
  background: var(--lwc-colorBackgroundPathActive,rgb(0, 95, 178));
}

.slds-path__nav .slds-path__item.active .slds-path__link,
::ng-deep .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown,
::ng-deep .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}

.slds-path__nav .slds-is-current.active:first-child:hover,
.slds-path__nav .slds-is-complete.active:hover,
.slds-path__nav .slds-path__item.active:hover:before,
.slds-path__nav .slds-path__item.active:hover:after
{
  background: var(--lwc-colorBackgroundPathActiveHover,rgb(0, 57, 107));
}

.slds-path__nav .slds-is-complete.active .slds-path__stage {
  display: none;
}
 .slds-path__nav .slds-is-complete.active .slds-path__title,
 .slds-path__nav .slds-is-complete.active:hover .slds-path__title
{
  transform: unset;
}

.slds-path__nav .slds-path__item:before {
  top: 0;
  height: 1.3rem;
  transform: skew(30deg) translate3d(0, 0, 0);
}

.slds-path__nav .slds-path__item:before,
.slds-path__nav .slds-path__item:after
{
  content: '';
  position: absolute;
  left: -.25rem;
  right: -.3125rem;
  cursor: pointer;
}

.slds-path__nav .slds-path__link,
.slds-path__nav .slds-path__item p-dropdown
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXxSmall,0.25rem) var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXSmall,0.5rem);
  text-decoration: none;
  z-index: 5;
  cursor: pointer;
  color: #121619;
}

.slds-path__nav .slds-path__item p-dropdown {
  z-index: 100 !important;
}

.slds-path__nav .slds-path__item:after {
  bottom: 0;
  height: 1.3rem;
  transform: skew(-30deg) translate3d(0, 0, 0);
}

.text-save {
  width         : 25px;
  height        : 16px;
  font-family   : 'Inter UI';
  font-size     : 13px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.46;
  letter-spacing: normal;
  text-align    : left;
  color         : #ffffff;
}

.save {
  width           : 86px;
  height          : 32px;
  border-radius   : 4px;
  border          : solid 1px #c1c7cd;
  box-shadow      : 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left     : 5px;
}
/* End: Thanh trạng thái phê duyệt */
