.dxxn-ct .header-page {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dxxn-ct .header-box-icon {
  display: inline-flex;
}

.dxxn-ct .header-icon {
  width: 25px;
  height: 25px;
}

.dxxn-ct .page-title {
  font-weight: 700;
  font-size: 18px;
  padding-left: 0.5em;
}

.dxxn-ct .mt-5 {
  margin-top: 5px;
}

.dxxn-ct .mt-10 {
  margin-top: 10px;
}

.dxxn-ct .mt-20 {
  margin-top: 20px;
}

.dxxn-ct .btn-white {
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-right: 5px;
  color :#121619;
  font-size: 13px;
}

.dxxn-ct .btn-create {
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #14eba1;
  margin-right: 5px;
  color :#121619;
  font-size: 13px;
}

.dxxn-ct .btn-send {
  float: right;
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-right: 5px;
  color: #ffffff;
  font-size: 13px;
}

.dxxn-ct .btn-red {
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #e01e1e;
  margin-right: 5px;
  color :#fff;
  font-size: 13px;
}

.dxxn-ct .btn-gray {
  width: 112px;
  height: 31px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #897777;
  margin-right: 5px;
  color :#fff;
  font-size: 13px;
}

.dxxn-ct .section-box {
	background-color: #fff;
	border: solid 1px #ccc;
	padding: 10px 10px;
	border-radius: 4px;
}

.dxxn-ct .section-title {
	font-weight: 700;
  font-size: 14px;
}

::ng-deep .dxxn-ct legend {
  width: auto;
  font-size: 13px;
  font-weight: 900;
  border-bottom: 0px;
  margin-bottom: 0;
}

::ng-deep .dxxn-ct .ui-fieldset {
  border: 2px solid #c8c8c8;
  margin-bottom: 15px;
}

::ng-deep .dxxn-ct .ui-tooltip-text {
  width: 250px;
  text-align: left;
}

/* Thanh trạng thái phê duyệt */

.dxxn-ct .slds-path__nav {
  display: flex;
  align-items: flex-start;
  list-style: none;
  border: 0;
}

.dxxn-ct .slds-path__nav li a:hover,
.dxxn-ct .slds-path__nav li.active a
{
  background: unset;
  background-color: unset;
  border: 0;
}

.dxxn-ct .slds-path__nav .slds-path__item {
  position: relative;
  flex: 1;
  margin-left: .375rem;
  margin-right: .4375rem;
  min-width: 5rem;
  text-align: center;
}

.dxxn-ct .slds-path__nav .slds-path__item:first-child {
  margin-left: 0;
  border-top-left-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-left-radius: var(--lwc-heightSalesPath,2rem);
  padding-left: .625rem;
}

.dxxn-ct .slds-path__nav .slds-path__item:last-child {
  margin-right: 0;
  border-top-right-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-right-radius: var(--lwc-heightSalesPath,2rem);
  padding-right: .625rem;
}

.dxxn-ct .slds-path__nav .slds-path__item:first-child:before,
.dxxn-ct .slds-path__nav .slds-path__item:first-child:after
{
  left: 1.525rem;
}

.dxxn-ct .slds-path__nav .slds-path__item:last-child:before,
.dxxn-ct .slds-path__nav .slds-path__item:last-child:after {
  right: .625rem;
}

.dxxn-ct .slds-path__nav .slds-path__title,
.dxxn-ct .slds-path__nav .slds-path__stage {
  display: block;
  transition: transform .2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dxxn-ct .slds-path__nav .sty{
  padding-left: inherit;
}

.dxxn-ct .slds-path__nav .slds-path__stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.dxxn-ct .slds-path__nav .slds-is-complete,
.dxxn-ct .slds-path__nav .slds-is-complete:before,
.dxxn-ct .slds-path__nav .slds-is-complete:after
{
  background: var(--lwc-colorBackgroundPathComplete,rgb(75, 202, 129));
}

.dxxn-ct .slds-path__nav .slds-is-complete .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(0deg);
}

.dxxn-ct .slds-path__nav .slds-is-complete .slds-path__title {
  transform: rotateX(180deg);
}

.dxxn-ct .slds-path__nav .slds-is-complete .slds-path__link,
::ng-deep  .dxxn-ct .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown,
::ng-deep  .dxxn-ct .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .dxxn-ct .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}

.dxxn-ct .slds-path__nav .slds-is-complete:hover .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.dxxn-ct .slds-path__nav .slds-is-complete:hover .slds-path__title {
  transform: rotateX(0deg);
}

.dxxn-ct .slds-path__nav .slds-is-complete:hover,
.dxxn-ct .slds-path__nav .slds-is-complete:hover:before,
.dxxn-ct .slds-path__nav .slds-is-complete:hover:after
{
  background: var(--lwc-colorBackgroundPathCompleteHover,rgb(4, 132, 75));
}

 .dxxn-ct .slds-path__nav .slds-is-incomplete:before,
 .dxxn-ct .slds-path__nav .slds-is-incomplete:after
{
  background: var(--lwc-colorBackgroundPathIncomplete,rgb(236, 235, 234));
}

.dxxn-ct .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:before,
.dxxn-ct .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:after
{
  background: var(--lwc-colorBackgroundPathIncompleteHover,rgb(221, 219, 218));
}

.dxxn-ct .slds-path__nav .slds-is-current {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
}

.dxxn-ct .slds-path__nav .slds-is-current:before,
.dxxn-ct .slds-path__nav .slds-is-current:after {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  background-repeat: no-repeat;
  background-size: .125rem 100%,.125rem 100%,100% .125rem;
}

.dxxn-ct .slds-path__nav .slds-is-current:before {
  background-position: top right,top left,top left;
}

.dxxn-ct .slds-path__nav .slds-is-current:after {
  background-position: top right,top left,bottom left;
}

.dxxn-ct .slds-path__nav .slds-is-current:hover:before, 
.dxxn-ct .slds-path__nav .slds-is-current:hover:after {
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem);
}

.dxxn-ct .slds-path__nav .slds-is-current:hover a, 
.dxxn-ct .slds-path__nav .slds-is-current:hover a{
  color: #00396b;
}

.dxxn-ct .slds-path__nav .slds-is-current:first-child {
  border: 2px solid var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178));
  border-right: 0;
}

.dxxn-ct .slds-path__nav .slds-is-current:first-child:before {
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  top: -.125rem;
  left: 1.125rem;
}

.dxxn-ct .slds-path__nav .slds-is-current:first-child:after {
  left: 1.125rem;
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  bottom: -.125rem;
}

.dxxn-ct .slds-path__nav .slds-is-current:first-child a {
  height: 2.35rem;
}

::ng-deep .dxxn-ct .slds-path__nav .slds-path__item p-dropdown .ui-dropdown,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  background: unset;
  border: 0;
  color: #121619;
}

.dxxn-ct .slds-path__nav .slds-is-incomplete.slds-is-current:not(.active) .slds-path__title,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.slds-is-current p-dropdown .ui-dropdown,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #005fb2;
}

::ng-deep .dxxn-ct .slds-path__nav .slds-is-current.active p-dropdown .ui-dropdown,
::ng-deep .dxxn-ct .slds-path__nav .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .dxxn-ct .slds-path__nav .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #ffffff;
}

::ng-deep .dxxn-ct .slds-path__nav .slds-path__item p-dropdown .ui-dropdown.ui-state-focus {
  outline: 0;
  box-shadow: unset;
  border: 0;
}

.dxxn-ct .slds-path__nav .slds-is-current.active:first-child,
.dxxn-ct .slds-path__nav .slds-is-complete.active,
.dxxn-ct .slds-path__nav .slds-path__item.active:before,
.dxxn-ct .slds-path__nav .slds-path__item.active:after
{
  background: var(--lwc-colorBackgroundPathActive,rgb(0, 95, 178));
}

.dxxn-ct .slds-path__nav .slds-path__item.active .slds-path__link,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .dxxn-ct .slds-path__nav .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}

.dxxn-ct .slds-path__nav .slds-is-current.active:first-child:hover,
.dxxn-ct .slds-path__nav .slds-is-complete.active:hover,
.dxxn-ct .slds-path__nav .slds-path__item.active:hover:before,
.dxxn-ct .slds-path__nav .slds-path__item.active:hover:after
{
  background: var(--lwc-colorBackgroundPathActiveHover,rgb(0, 57, 107));
}

.dxxn-ct .slds-path__nav .slds-is-complete.active .slds-path__stage {
  display: none;
}
 .dxxn-ct .slds-path__nav .slds-is-complete.active .slds-path__title,
 .dxxn-ct .slds-path__nav .slds-is-complete.active:hover .slds-path__title
{
  transform: unset;
}

.dxxn-ct .slds-path__nav .slds-path__item:before {
  top: 0;
  height: 1.3rem;
  transform: skew(30deg) translate3d(0, 0, 0);
}

.dxxn-ct .slds-path__nav .slds-path__item:before,
.dxxn-ct .slds-path__nav .slds-path__item:after
{
  content: '';
  position: absolute;
  left: -.25rem;
  right: -.3125rem;
  cursor: pointer;
}

.dxxn-ct .slds-path__nav .slds-path__link,
.dxxn-ct .slds-path__nav .slds-path__item p-dropdown
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXxSmall,0.25rem) var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXSmall,0.5rem);
  text-decoration: none;
  z-index: 5;
  cursor: pointer;
  color: #121619;
}

.dxxn-ct .slds-path__nav .slds-path__item p-dropdown {
  z-index: 100 !important;
}

.dxxn-ct .slds-path__nav .slds-path__item:after {
  bottom: 0;
  height: 1.3rem;
  transform: skew(-30deg) translate3d(0, 0, 0);
}

/* End: Thanh trạng thái phê duyệt */
