.importExcel .export-exel {
    width: 112px;
    height: 31px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
    margin-right: 5px;
  }
  .importExcel .export-exel .export-exel-text {
    width: 64px;
    height: 16px;
    font-family: "Inter UI";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color :#121619;
  }

  .importExcel .btn-create {
    float: right;
    width: 98px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
  }
  
  .importExcel .btn-create-text {
    width: 50px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }