<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<div class="emp-ltc">
  <form class="form-horizontal" [formGroup]="thongTinLuongVaTroCapForm">
    <p class="title-tab">Thông tin lương và trợ cấp</p>
    <div class="col-md-12 border-box">
      <div class="col-md-6 form-group">
        <label>Mức lương hiện tại:</label>
        <p-inputNumber formControlName="luongHienTai" class="w-100"></p-inputNumber>
      </div>
      <div class="col-md-6 form-group">
        <label>Mức lương ký hợp đồng:</label>
        <p-inputNumber formControlName="mucLuongKyHopDong" class="w-100"></p-inputNumber>
      </div>

      <div class="col-md-12 mt-10">
        <p-table #myTable [columns]="cols" [value]="listTroCap" [responsive]="true" class="table-border">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"
                [ngStyle]="{ 'text-align': 'center', 'display': col.display, 'width': col.width }">
                <span>
                  {{col.header}}
                </span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                [ngStyle]="{ 'text-align': col.textAlign, 'display': col.display, 'width': col.width }">
                <span class="ui-column-title">{{col.header}}</span>
                <span *ngSwitchCase="'mucTroCap'">
                  {{ rowData[col.field] | number}}
                </span>
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                Hiện tại không có dữ liệu
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>


    <!-- <p-fieldset>
          <p-header>Lương</p-header>
          <div class="row mt-10 mb-10">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Lương cơ bản:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="luongCoBanControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Ngày áp dụng:
                </div>
                <div class="col-md-12">
                  <p-calendar dateFormat="dd/mm/yy" [baseZIndex]="9999" formControlName="ngayApDungControl"
                    [style]="{'width':'100%'}" showButtonBar="true" [inputStyle]="{'width':'100%'}">
                  </p-calendar>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <span class="xem-lich-su" (click)="xemLichSuLuong()">Xem lịch sử</span>
            </div>
          </div>
        </p-fieldset>
  
        <p-fieldset [style]="{'margin-top': '40px'}">
          <p-header>Chính sách lương</p-header>
          <div class="row mt-10 mb-10">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Ăn trưa:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="anTruaControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Phép năm:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="phepNamControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Xăng xe:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="xangXeControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Điện thoại:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="dienThoaiControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-10">
              <div class="row">
                <div class="col-md-12">
                  Trợ cấp khác:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="troCapKhacControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
          </div>
        </p-fieldset>
  
        <p-fieldset [style]="{'margin-top': '40px'}">
          <p-header>Thông tin bảo hiểm</p-header>
          <div class="row mt-10">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Lương đóng BHXH:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="luongDongBhxhControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-10 mb-10">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức hỗ trợ BHXH:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucHoTroBhxhControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucHoTroBhxhControl.invalid && mucHoTroBhxhControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucHoTroBhxhControl.valid || mucHoTroBhxhControl.untouched">
                  <span *ngIf="mucHoTroBhxhControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức hỗ trợ BHTN:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucHoTroBhtnControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucHoTroBhtnControl.invalid && mucHoTroBhtnControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucHoTroBhtnControl.valid || mucHoTroBhtnControl.untouched">
                  <span *ngIf="mucHoTroBhtnControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức hỗ trợ BHYT:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucHoTroBhytControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucHoTroBhytControl.invalid && mucHoTroBhytControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucHoTroBhytControl.valid || mucHoTroBhytControl.untouched">
                  <span *ngIf="mucHoTroBhytControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-10 mb-10">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức đóng BHXH:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucDongBhxhControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucDongBhxhControl.invalid && mucDongBhxhControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucDongBhxhControl.valid || mucDongBhxhControl.untouched">
                  <span *ngIf="mucDongBhxhControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức đóng BHTN:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucDongBhtnControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucDongBhtnControl.invalid && mucDongBhtnControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucDongBhtnControl.valid || mucDongBhtnControl.untouched">
                  <span *ngIf="mucDongBhtnControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Mức đóng BHYT:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="mucDongBhytControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    [ngClass]="mucDongBhytControl.invalid && mucDongBhytControl.touched ? 'error-border': ''">
                </div>
                <div class="col-md-12" [hidden]="mucDongBhytControl.valid || mucDongBhytControl.untouched">
                  <span *ngIf="mucDongBhytControl?.errors?.numberInvalid" class="error-message-span">
                    Không được nhập số lớn hơn 999
                  </span>
                </div>
              </div>
            </div>
          </div>
        </p-fieldset>
  
        <p-fieldset [style]="{'margin-top': '40px'}">
          <p-header>Chi phí</p-header>
          <div class="row mt-10 mb-10">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  Chi phí theo giờ:
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="chiPhiTheoGioControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}">
                </div>
              </div>
            </div>
          </div>
        </p-fieldset> -->
  </form>


  <p-dialog header="Lịch sử lương" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="col-md-12">
      <p-table [columns]="cols" [value]="thongTinLuongVaTroCap?.listEmployeeSalary" [paginator]="true" [rows]="5"
        class="table-border">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <span *ngSwitchCase="'employeeSalaryBase'">
                {{rowData[col.field] | number}}
              </span>
              <span *ngSwitchCase="'effectiveDate'">
                {{rowData[col.field] | date:'dd/MM/yyyy'}}
              </span>
              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>